{% extends 'admin/simple/editor.html.twig' %}

{% block mainFields2 %}
	{% if entry.image %}
    <div class="row">
	    <div class="col-xs-6 col-sm-4 col-md-3">
	    	<div class="rect">
				{% include 'common/image/image_entry.html.twig' with { 'entry': entry } %}
			</div>
		</div>
	</div>
	<div class="row">
	    <div class="col-xs-6 col-sm-4 col-md-3">
	    	<a href="{{ path(basePath ~ mainPath ~ '_remove_image', { id: entry.id }) }}" class="btn btn-danger">
	    		<span class="fa fa-trash"></span> {{ 'action.image.remove'|trans }}
    		</a>
	    </div>
    </div>
	{% endif %}
	
    {{ form_row(form.file, { 'label': 'label.image' }) }}
    
    {{ form_row(form.vertical, { 'label': 'label.image.vertical' }) }}
    
    {{ form_row(form.forcedWidth, { 'label': 'label.image.forcedWidth' }) }}
	{{ form_row(form.forcedHeight, { 'label': 'label.image.forcedHeight' }) }}
    
    {# TODO remove in 2nd refactoring #}
    <div class="hidden">
    {{ form_row(form.published, { 'label': 'label.' ~ gender ~ 'published' }) }}
    </div>
    
    {{ form_row(form.infomarket, { 'label': 'label.infomarket' }) }}
    {{ form_row(form.infoprodukt, { 'label': 'label.infoprodukt' }) }}
{% endblock %}