{% set bkgColor = bkgColor | default('bkg-black-50') %}
{% set numOfArticles = numOfArticles | default(6) %}
{% set showTitle = showTitle | default(false) %}

<div class="container">
	<div class="row">
		<h4 class="title padding-5">
			<span class="text-red">{{ category.name }}</span> 
			<span class="text-brand">{{ category.subname }}</span>
		</h4>
	</div>
	
	<div class="row">
		{% for article in articles | slice(0, numOfArticles) %}
			<div class="col-sm-2 padding-5">
				<a class="text-white" href="{{ path(basePath ~ 'article_show', 
					{ id: article.id, category: entry.id, article_filter_article_categories: category.id }) }}">
					<div class="rect col-bottom bkg-white">
						{% if article.image %}
							<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
								alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
						{% endif %}
						
						<div class="col-xs-12 div-bottom padding-5 {{ bkgColor }}">
							<div class="default-tile">
								{% if showTitle %}
									<h5 class="title">
										{% for articleBrandAssignment in article.articleBrandAssignments %}
						      				{{ articleBrandAssignment.brand.name }} 
					      				{% endfor %}
					      				&nbsp
				      				</h5>
			      				{% endif %}
			      				
								<h5 class="subtitle">
									{{ article.name | raw }}
									{{ article.subname | raw }}
								</h5>
							</div>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
	
	<div class="row">
		<div class="col-sm-2 col-sm-push-10 padding-5">
			<a href={{ path('infoprodukt_article', { category: entry.id, article_filter_article_categories: category.id }) }} class="text-red">
				<h5 class="title">{{ 'label.more'|trans }}</h5>
			</a>
		</div>
	</div>
</div>