{% set col = col|default('col-sm-2') %}

<div class="{{ col }} padding-5">
	{% if articles|length == 1 %}
		<a class="text-white" href="{{ path(basePath ~ 'article_show', 
			{ id: articles|first.id, category: entry.id, article_filter_article_categories: [entry.id] }) }}">
	{% else %}
		<a class="text-white" href="{{ path(basePath ~ 'article', 
			{ category: entry.id, article_filter_article_categories: [entry.id] }) }}">
	{% endif %}
		<div class="rect col-bottom bkg-white">
			{% if entry.image %}
				<img class="div-center img-{{ entry.vertical ? '' : 'v' }}responsive" 
					alt="{{ entry.name | raw }}" src="{{ asset(articles|first.image) }}">
			{% endif %}
			
			<div class="col-xs-12 bkg-red">
				<h5 class="title text-center padding-5">
					{{ entry.name | upper }}
					{{ entry.subname | upper}}
				</h5>
			</div>
		</div>
	</a>
</div>