{% extends 'infoprodukt/index.html.twig' %}

{% set title = entry.name | raw %}
{% set mainPath = 'category' %}
		
{% block content %}
	
	{% if entry.preleaf %}
		<div class="row">
			<div class="rect-3x1">
				<img class="img-responsive div-center" src="{{ asset(entry.featuredImage) }}">
				
				<div class="col-xs-12 div-bottom bkg-black-50 text-white">
					<div class="container-fluid lifted-bottom">
						<div class="row">
							<div class="col-xs-12">
								<h3>{{ entry.name | raw}} {{ 'label.category.subtitle'|trans }}</h3>
{# 								<p>{{ entry.content | raw }}</p>#}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			{% block categories %}
			<div class="container-fluid">
				<div class="row lifted-top">
					<div class="col-xs-12">
					{% include 'common/tile_list.html.twig' with {'entries': entry.children, 'entryPath': 'category', 'colSize': 2, 'tile': 'bottom_rect_tile' } %}
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
		
		<div class="vr-space-40"></div>
		
		{% block featuredNews %}
		<div class="row">
			<div class="container">
				<h1>
					<span class="text-red">{{ 'header.articles'|trans }}</span> 
					<span class="text-brand">{{ 'header.news'|trans }}</span>
				</h1>
			</div>
			
			<div class="vr-space-20"></div>
			
				<div class="col-xs-12">
					<div class="col-sm-9">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
						    	{% set count = 0 %}
							    {% for article in articles %}
							    	{% if count < 3 and article.featured %}
							    		<li data-target="#myCarousel" data-slide-to="{{ count }}" class="{{ count < 1 ? 'active' : '' }}"></li>
							    		{% set count = count+1 %}
							    	{% endif %}
							    {% endfor %}
						  	</ol>
						  	
						  	<div class="carousel-inner" role="listbox">
							    {% set count = 0 %}
							    {% for article in articles %}
							    	{% if count < 3 and article.featured %}
							    		<div class="item rect-2x1 {{ count < 1 ? 'active' : '' }}">
									    	<img src="{{ asset(article.getImagePath()) }}">
								      		<div class="carousel-caption">
								      			<a class="text-white" href="{{ path('infoprodukt_article_show', { id: article.id }) }}">
									      			<h2>
									      				{{ article.name }}
									      				{{ article.subname }}
									      			</h2>
									      		</a>
											</div>
									    </div>
							    		{% set count = count+1 %}
							    	{% endif %}
							    {% endfor %}
						  	</div>
						  	
						  	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						    	<span class="fa fa-chevron-left" aria-hidden="true"></span>
						    	<span class="sr-only">Previous</span>
						  	</a>
						  	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						    	<span class="fa fa-chevron-right" aria-hidden="true"></span>
						    	<span class="sr-only">Next</span>
						  	</a>
					  	</div>
				  	</div>
				  	
				  	<div class="col-sm-3">
				  		<a href="#">
				  			<div class="rect-1x2 bkg-white">
				  				<img class="div-center img-responsive" src="{{ asset('img/template/magazyn-sluchawki.png') }}">
				  			</div>
				  		</a>
				  	</div>
			  	</div>
			</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block news %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					
					<div class="row no-padding">
						{% include 'common/tile_list.html.twig' with {'entries': articles, 'entryPath': 'article', 'colSize': 3, 'start': 4, 'limit': 4, 'tile': 'bottom_rect_tile'} %}
					</div>
					
					<div class="row text-center lowered">
						<a href={{ path('infoprodukt_article', { category: entry.id }) }} class="btn btn-primary">Czytaj wiecej...</a>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block articleCategories %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="row no-padding">
						{% include 'common/tile_list.html.twig' with {'entries': article_categories, 'entryPath': 'article', 'colSize': 3, 'limit': 4, 'tile': 'bottom_text_tile', 'alternate': true} %}
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block ad %}
		<div class="row">
			<div class="rect-3x1">
	{# 			<img class="div-center" src="{{ asset(entry.getImagePath()) }}">#}
				<img class="div-center" src="{{ asset('img/template/some-img.jpg') }}">
				<div class="div-center text-center">
					<h1>Tutaj bedzie reklama :)</h1>
					<a class="btn btn-default" href="#">Kliknij!</a>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block promocje %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="row no-padding">
						{% include 'common/tile_list.html.twig' with {'entries': articles, 'entryPath': 'article', 'colSize': 3, 'limit': 4} %}
					</div>
					
					<div class="row text-center lowered">
						<a href={{ path('infoprodukt_article', { category: entry.id }) }} class="btn btn-primary">Zobacz wiecej...</a>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	
	{% else %}
	
		<div class="container">
			<div class="row">
				{% block categoryHeader %}
				<div class="col-xs-12 well">
					<div class="col-sm-3">
						<div class="rect">
							<img class="div-center" src="{{ asset(entry.getImagePath()) }}">
						</div>
					</div>
					
					<div class="col-sm-9">
						<h1>
							<span class="text-red">{{ entry.name | raw }}</span> 
							<span class="text-primary">{{ entry.subname | raw }}</span>
						</h1>
						<p>{{ entry.content | raw }}</p>
					</div>	
				</div>
				{% endblock %}
				
				{% block brandsRank %}		
				<div class="col-xs-12 well">
					<h1><span class="fa fa-spinner"></span> Rating marek</h1>
					
					{% set show = false %}
					{% for entry in segments %}
						{% if attribute(brands, entry.id) | length > 0 %}
							{% set show = true %}
						{% endif %}
					{% endfor %}
					
					{% if show %}
						<div class="row">
							<div class="col-sm-2"><h4 class="text-center">Segment</h4></div>
							<div class="col-sm-10"><h4 class="text-center">Wiodace marki</h4></div>
						</div>
						
						{% for segment in segments %}
							{% if attribute(brands, segment.id) | length > 0 %}
								<div class="row  {{ loop.index % 2 ? 'bkg-lime-green' : '' }}">
									<div class=" col-sm-2 text-white">
										<div class="rect">
											<img class="img-responsive div-center" alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
										</div>
									</div>
										{% set i = 1 %}
										{% for brand in attribute(brands, segment.id) %}
											{% if i <= 5 %}
												<div class=" col-sm-2 text-white">
													<div class="rect">
														<img class="img-responsive div-center" alt="{{ brand.name }}" src="{{ asset(brand.getImagePath()) }}">
													</div>
												</div>
												{% set i = i+1 %}
											{% endif %}
										{% endfor %}
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
					
					
					{% for category in subcategories %}
						
						{% set show = false %}
						{% for segment in segments %}
							{% if attribute(attribute(subbrands, category.id), segment.id) | length > 0 %}
								{% set show = true %}
							{% endif %}
						{% endfor %}
					
						{% if show %}
							<h2>
								<span class="text-red">{{ category.name }}</span>  
								<span class="text-blue"{{ category.subname }}</span> 
							</h2>
							
							<div class="row">
								<div class="col-sm-2"><h4 class="text-center">Segment</h4></div>
								<div class="col-sm-10"><h4 class="text-center">Wiodace marki</h4></div>
							</div>
							
							{% for segment in segments %}
								{% if attribute(attribute(subbrands, category.id), segment.id) | length > 0 %}
									<div class="row  {{ loop.index % 2 ? 'bkg-lime-green' : '' }}">
										<div class=" col-sm-2 text-white">
											<div class="rect">
												<img class="img-responsive div-center" alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
											</div>
										</div>
										{% set i = 1 %}
										{% for brand in attribute(attribute(subbrands, category.id), segment.id) %}
											{% if i <= 5 %}
												<div class=" col-sm-2 text-white">
													<div class="rect">
														<img class="img-responsive div-center" alt="{{ brand.name }}" src="{{ asset(brand.getImagePath()) }}">
													</div>
												</div>
												{% set i = i+1 %}
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						
					{% endfor %}
				
				
				
				</div>
				{% endblock %}
				
				{% block productsRank %}
				<div class="col-xs-12 well">
					<h1><span class="fa fa-star-half-o"></span> Top modeli</h1>
					
					{% set show = false %}
					{% for entry in segments %}
						{% if attribute(products, entry.id) | length > 0 %}
							{% set show = true %}
						{% endif %}
					{% endfor %}
					
					{% if show %}
						<div class="row">
							<div class="col-sm-2"><h4 class="text-center">Segment</h4></div>
							<div class="col-sm-2"><h4 class="text-center">1st</h4></div>
							<div class="col-sm-2"><h4 class="text-center">2nd</h4></div>
							<div class="col-sm-2"><h4 class="text-center">3rd</h4></div>
							<div class="col-sm-2"><h4 class="text-center">4th</h4></div>
							<div class="col-sm-2"><h4 class="text-center">5th</h4></div>
						</div>
						
						{% for segment in segments %}
							{% if attribute(products, segment.id) | length > 0 %}
								<div class="row {{ loop.index % 2 ? 'bkg-lime-green' : '' }}">
									<div class=" col-sm-2 text-white">
										<div class="rect">
											<img class="div-center" alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
										</div>
									</div>
									{% set i = 1 %}
									{% for product in attribute(products, segment.id) %}
										{% if i <= 5 %}
											<div class=" col-sm-2 text-white">
												<div class="rect">
													<img class="img-responsive div-center" alt="{{ product.name }}" src="{{ asset(product.getImagePath()) }}">
													<div class="col-xs-12 div-bottom bkg-black-50">
														<a class="text-white" href="{{ path('infoprodukt_product_show', {'id': product.id}) }}">
															<h5>{{ product.brand ? product.brand.name : '' }}</h5>
															<h5>{{ product.name }}</h5>
														</a>
													</div>
												</div>
											</div>
											{% set i = i+1 %}
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
						{% endfor %}
					{% endif %}
					
					
					
					{% for category in subcategories %}
					
						{% set show = false %}
						{% for segment in segments %}
							{% if attribute(attribute(subproducts, category.id), segment.id) | length > 0 %}
								{% set show = true %}
							{% endif %}
						{% endfor %}
						
						{% if show %}
							<h2>
								<span class="text-red">{{ category.name }}</span> 
								<span class="text-primary">{{ category.subname }}</span>
							</h2>
							
							<div class="row">
								<div class="col-sm-2"><h4 class="text-center">Segment</h4></div>
								<div class="col-sm-2"><h4 class="text-center">1st</h4></div>
								<div class="col-sm-2"><h4 class="text-center">2nd</h4></div>
								<div class="col-sm-2"><h4 class="text-center">3rd</h4></div>
								<div class="col-sm-2"><h4 class="text-center">4th</h4></div>
								<div class="col-sm-2"><h4 class="text-center">5th</h4></div>
							</div>
							
							{% for segment in segments %}
								{% if attribute(attribute(subproducts, category.id), segment.id) | length > 0 %}
									<div class="row  {{ loop.index % 2 ? 'bkg-lime-green' : '' }}">
										<div class=" col-sm-2 text-white">
											<div class="rect">
												<img class="img-responsive div-center" alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
											</div>
										</div>
										{% set i = 1 %}
										{% for product in attribute(attribute(subproducts, category.id), segment.id) %}
											{% if i <= 5 %}
												<div class=" col-sm-2 text-white">
													<div class="rect">
														<img class="img-responsive div-center" alt="{{ product.name }}" src="{{ asset(product.getImagePath()) }}">
														<div class="col-xs-12 div-bottom bkg-black-50">
															<a class="text-white" href="{{ path('infoprodukt_product_show', {'id': product.id}) }}">
																<h5>{{ product.brand ? product.brand.name : '' }}</h5>
																<h5>{{ product.name }}</h5>
															</a>
														</div>
													</div>
												</div>
												{% set i = i+1 %}
											{% endif %}
										{% endfor %}
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						
					{% endfor %}
				
				
				
				</div>
				{% endblock %}
				
				
				
			</div>
		</div>
	
	{% endif %}
	
{% endblock %}
