<div class="container">

	{% block breadcrumbs %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ path('infomarket_home') }}">{{ 'label.home'|trans }}</a>
				/ 
				{{ title }}
			</div>
		</div>
	{% endblock %}

	<div class="row">
		{% block sidebar %}
			<div class="col-sm-3 col-sm-push-9">
				<div class="col-xs-12 well">
					{% block sidebarContent %}
						
						{% block userBlock %}
							<h3>{{ 'title.user'|trans }}</h3>
							{% include 'common/menu/user_menu.html.twig' %}
						{% endblock %}
						
						{% block sectionsBlock %}
							<h3>{{ 'label.sections'|trans }}</h3>
							
							{% include 'infoprodukt/common/sections.html.twig' with { 'category': entry } %}
						{% endblock %}
						
					{% endblock %}
				</div>
				
				<div class="col-xs-12 no-padding">
					{% block sidebarAds %}
						<div id="sideAdsCarousel" class="carousel slide" style="margin:-5px;" data-ride="carousel">
						  	<div class="carousel-inner" role="listbox">
								{% for advert in sideAds %}
						    		<div class="item rect-1x2 {{ loop.index == 1 ? 'active' : '' }}">
							    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
								    </div>
							    {% endfor %}
						  	</div>
					  	</div>
					{% endblock %}
				</div>
			</div>
		{% endblock %}
	
		{% block main %}				
			<div class="col-sm-9 col-sm-pull-3">
				<div class="col-xs-12 well">
					{% for subcategory in entry.children %}
						{% if subcategory.infoprodukt %}
							<div class="col-sm-3">
								{% include 'common/bottom_rect_tile.html.twig' with {'entry': subcategory, routeParams: { top_products: 1 } } %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		{% endblock %}
	</div>
</div>