<div class="row">
	<div class="rect-3x1 bkg-white">
		{% if entry.image %}
			<img class="div-center img-responsive" 
				src="{{ asset(entry.featuredImage) }}">
		{% endif %}
		
		<div class="col-xs-12 div-bottom bkg-black-50 text-white">
			<div class="container lifted-bottom">
				<div class="row">
					<h3 class="padding-5">
						{{ entry.name | raw}} {{ entry.subname | raw }} &ndash; {{ 'label.category.subtitle'|trans }}
					</h3>
				</div>
			</div>
		</div>
	</div>
	
	{% block categories %}
	<div class="container">
		<div class="row lifted-top">
			{% for subentry in entry.children %}
				<div class="col-sm-2 padding-5">
					{% include 'common/bottom_rect_tile.html.twig' with {entry: subentry, entryPath: 'category', routeParams: { category: subentry.id } } %}
				</div>
			{% else %}
				<p>{{ 'label.noEntries'|trans }}</p>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
</div>

{% block mainArticles %}
	{% if entry.magazine %}	
		<div class="container">
			<div class="row">
				<h4 class="title padding-5">
					<span class="text-red">{{ mainCategory.name }}</span> 
					<span class="text-brand">{{ mainCategory.subname }}</span>
				</h4>
			</div>
			
			<div class="row">
				{% block magazine %}
					<div class="col-sm-2 col-sm-push-10 padding-5">
						<a href="{{ asset(entry.magazine.magazineFile) }}">
							<div class="col-xs-12 bkg-red padding-5">
				  				<img class="img-responsive" 
				    				alt="{{ entry.magazine.name | raw }}" src="{{ asset(entry.magazine.getImagePath()) }}">
		    				</div>
		    				<div class="col-xs-12 bkg-brand padding-5">
		    					<h3 class="title text-center">
		    						<span class="text-red">Pobierz</span>
		    						<span class="text-white">aktualny <br> numer</span>
		    					</h3>
		    				</div>
				  		</a>
					</div>
				{% endblock %}
				
				{% for article in mainArticles | slice(0,5) %}
					<div class="col-sm-2 col-sm-pull-2 padding-5">
						<a class="text-white" href="{{ path(basePath ~ 'article_show', 
							{ id: article.id, category: entry.id, article_filter_article_categories: mainCategory.id }) }}">
							<div class="rect col-bottom bkg-white">
								{% if article.image %}
									<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
										alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
								{% endif %}
								
								<div class="col-xs-12 div-bottom bkg-black-50 padding-5">
									<div class="default-tile">
										<h5 class="subtitle">
											{{ article.name | raw }}
											{{ article.subname | raw }}
										</h5>
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
				
				{% for article in mainArticles | slice(5,5) %}
					<div class="col-sm-2 col-sm-pull-2 padding-5">
						<a class="text-white" href="{{ path(basePath ~ 'article_show', 
							{ id: article.id, category: entry.id, article_filter_article_categories: mainCategory.id }) }}">
							<div class="rect col-bottom bkg-white">
								{% if article.image %}
									<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
										alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
								{% endif %}
								
								<div class="col-xs-12 div-bottom bkg-black-50 padding-5">
									<div class="default-tile">
										<h5 class="subtitle">
											{{ article.name | raw }}
											{{ article.subname | raw }}
										</h5>
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
			
			<div class="row">
				<div class="col-sm-2 col-sm-push-10 padding-5">
					<a class="text-red title no-padding" href={{ path('infoprodukt_article', 
						{ category: entry.id, article_filter_article_categories: mainCategory.id }) }}>
						{{ 'label.more'|trans }}
					</a>
				</div>
			</div>
		</div>
	{% else %}
		{% include 'infoprodukt/category/article_category_articles.html.twig' with 
			{ category: mainCategory, articles: mainArticles, numOfArticles: 12 } %}
	{% endif %}
{% endblock %}

{% block auxiliaryArticlesBlock %}
	<div class="container">
		<div class="row">
			<h4 class="title padding-5">
				<span class="text-red">{{ auxiliaryCategory.name }}</span> 
				<span class="text-brand">{{ auxiliaryCategory.subname }}</span>
			</h4>
		</div>
		
		{% set auxiliarySize = 12 %}
		{% if questionsArticles | length > 0 %} {% set auxiliarySize = auxiliarySize - 1 %} {% endif %}
		{% if entry.children | length > 0 %} {% set auxiliarySize = auxiliarySize - 1 %} {% endif %}
		{% if buildsArticles | length > 0 %} {% set auxiliarySize = auxiliarySize - 1 %} {% endif %}
		{% if schemasArticles | length > 0 %} {% set auxiliarySize = auxiliarySize - 1 %} {% endif %}
		{% if moviesArticles | length > 0 %} {% set auxiliarySize = auxiliarySize - 1 %} {% endif %}
		{% if reviewsArticles | length > 0 %} {% set auxiliarySize = auxiliarySize - 1 %} {% endif %}
		
		<div class="row">
			{% for article in auxiliaryArticles | slice(0, auxiliarySize) %}
				<div class="col-sm-2 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, category: entry.id, article_filter_article_categories: auxiliaryCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-red-50 padding-5">
								<div class="default-tile"></h5>
									<h5 class="subtitle">
										{{ article.name | raw }}
										{{ article.subname | raw }}
									</h5>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
			
			{% if questionsArticles | length > 0 %}
				{% include 'infoprodukt/category/article_category_tile.html.twig' with 
					{ articleCategory: questionsCategory, articles: questionsArticles } %}
			{% endif %}
			
			{% if entry.children | length > 0 %}
				{% include 'infoprodukt/category/ratings_tile.html.twig' %}
			{% endif %}
			
			{% if buildsArticles | length > 0 %}	
				{% include 'infoprodukt/category/article_category_tile.html.twig' with 
					{ articleCategory: buildsCategory, articles: buildsArticles } %}
			{% endif %}
				
			{% if schemasArticles | length > 0 %}
				{% include 'infoprodukt/category/article_category_tile.html.twig' with 
					{ articleCategory: schemasCategory, articles: schemasArticles } %}
			{% endif %}
				
			{% if moviesArticles | length > 0 %}
				{% include 'infoprodukt/category/article_category_tile.html.twig' with 
					{ articleCategory: moviesCategory, articles: moviesArticles } %}
			{% endif %}
				
			{% if reviewsArticles | length > 0 %}
				{% include 'infoprodukt/category/article_category_tile.html.twig' with 
					{ articleCategory: reviewsCategory, articles: reviewsArticles } %}
			{% endif %}
		</div>
		
		<div class="row">
			<div class="col-sm-2 col-sm-push-10 padding-5">
				<a href={{ path('infoprodukt_article', { category: entry.id, article_filter_article_categories: auxiliaryCategory.id }) }} class="text-red">
					<h5 class="title">{{ 'label.more'|trans }}</h5>
				</a>
			</div>
		</div>
	</div>    
{% endblock %}

{% block featuredBrands %}
	{% if brands | length > 0 %}
		<div class="container">
			<div class="row bkg-black-15">
				
				<h4 class="title no-padding">
					<span class="bkg-brand text-white">
						&nbsp{{ 'header.featuredBrands.1'|trans }}&nbsp
					</span><span class="bkg-red text-white">
						&nbsp{{ 'header.featuredBrands.2'|trans }}&nbsp
					</span>
				</h4>
				
				{% for brand in brands | slice(0,6) %}
					<div class="col-sm-2">
						<a href={{ path(basePath ~ 'brand_show', { id: brand.id, category: entry.id }) }}>
							<div class="rect">
								<img class="div-center img-{{ brand.vertical ? 'v' : '' }}responsive" 
									alt="{{ brand.name | raw }}" src="{{ asset(brand.getImagePath()) }}">
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>    
	{% endif %}
{% endblock %}

{% block featuredAds %}
	{% if featuredAds | length > 0 %}
		<div class="container">
			<div class="row">
				<h4 class="title padding-5">
					<span class="text-red">{{ 'header.featuredAds.1'|trans }}</span> 
					<span class="text-brand">{{ 'header.featuredAds.2'|trans }}</span>
				</h4>
			</div>
			
			<div class="row">
				<div class="col-xs-12 padding-5">
					<div id="featuredAdsCarousel" class="carousel slide carousel-fade" data-ride="carousel">
					  	<div class="carousel-inner" role="listbox">
							{% for advert in featuredAds %}
					    		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
						    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
							    </div>
						    {% endfor %}
					  	</div>
				  	</div>
			  	</div>
		  	</div>
		</div>
	{% endif %}
{% endblock %}

{% block productsArticlesBlock %}
	{% include 'infoprodukt/category/article_category_articles.html.twig' with 
		{ category: productsCategory, articles: productsArticles, bkgColor: 'bkg-brand-50', showTitle: true } %}
{% endblock %}

{% block promotionsArticlesBlock %}
	{% include 'infoprodukt/category/article_category_articles.html.twig' with 
		{ category: promotionsCategory, articles: promotionsArticles, bkgColor: 'bkg-red-50', showTitle: true } %}
{% endblock %}


{% block usefulItemsBlock %}
	{% set categoryId = category is defined ? category.id : null %}

	<div class="container">
		<div class="row">
			<h4 class="title padding-5">
				<span class="text-red">{{ 'header.usefulItems.1'|trans }}</span> 
				<span class="text-brand">{{ 'header.usefulItems.2'|trans }}</span>
			</h4>
		</div>
		
		<div class="row">
			<div class="col-xs-2 col-sm-1 padding-5">
				<a href="{{ path(basePath ~ 'brand', { category: categoryId }) }}">
					<div class="rect bkg-brand">
						<img class="div-center img-responsive" alt="{{ 'label.mainCategory.brands'|trans }}"
								src="{{ asset('img/template/useful-brands.png') }}" />
					</div>
					<div class="bkg-red text-white text-center">
						<h4 class="title">{{ 'label.mainCategory.brands'|trans }}</h4>
					</div>
				</a>
			</div>
			
			<div class="col-xs-2 col-sm-1 padding-5">
				<a href="{{ path(basePath ~ 'term', { category: categoryId }) }}">
					<div class="rect bkg-brand">
						<img class="div-center img-responsive" alt="{{ 'label.mainCategory.terms'|trans }}"
								src="{{ asset('img/template/useful-terms.png') }}" />
					</div>
					<div class="bkg-red text-white text-center">
						<h4 class="title">{{ 'label.mainCategory.terms'|trans }}</h4>
					</div>
				</a>
			</div>
			
			{% for articleCategory in usefulArticleCategories %}
				<div class="col-xs-2 col-sm-1 padding-5">
					<a href="{{ path(basePath ~ 'article', { category: categoryId, article_filter_article_categories: articleCategory.id }) }}">
						<div class="rect bkg-brand">
							<img class="div-center img-responsive" alt="{{ articleCategory.name }}"
								src="{{ asset(articleCategory.getImagePath()) }}" />
						</div>
						<div class="bkg-red text-white text-center">
							<h4 class="title">{{ articleCategory.name }}</h4>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>    
{% endblock %}