{% set topProducts = topProducts|default(0) %}

{% block searchBlock %}
	<div class="row padding-5 hidden-lg hidden-md bkg-white">
		<div class="col-xs-12">
			{% include 'common/form/search_form.html.twig' %}
		</div>
	</div>
{% endblock %}
	
<div class="container">

	{% block breadcrumbs %}
		<div class="row">
			<div class="col-xs-12">
				<a rel="nofollow" href="{{ path('infomarket_home') }}">{{ 'label.home'|trans }}</a>
				/ 
				{{ title }}
			</div>
		</div>
	{% endblock %}

	<div class="row">
		{% block sidebar %}
			<div class="col-sm-3 col-sm-push-9">
				{% include "infoprodukt/common/sidebar.twig" %}
			</div>
		{% endblock %}
	
		{% block main %}				
			<div class="col-sm-9 col-sm-pull-3">
				<div class="col-xs-12 well">
					<h2>
						<span class="text-brand">{{ entry.name }}</span> 
						<span class="text-red">{{ entry.subname }}</span>
					</h2>
					
					{% for subcategory in entry.children %}
						{% if subcategory.infoprodukt %}
							{% include 'common/category/subcategory_entry.twig' with 
								{'entry': subcategory, routeParams: { category: subcategory.id }  } %}
						{% endif %}
					{% else %}
						<p>{{ 'label.noEntries'|trans }}</p>
					{% endfor %}
				</div>
			</div>
		{% endblock %}
	</div>
</div>