{% extends 'infoprodukt/index.html.twig' %}

{% set title = entry.name %}
{% set mainPath = 'category' %}
		
{% block content %}
	
	{% if entry.preleaf %}
		<div class="row">
			<div class="rect-3x1">
	{# 			<img class="img-responsive div-center" src="{{ asset(entry.getImagePath()) }}">#}
				<img class="img-responsive div-center" src="{{ asset('img/template/kategoria-1.jpg') }}">
				
				<div class="category-link">
					<div class="col-xs-12 div-bottom bkg-black-50">
						<div class="container">
							<div class="row">
								<div class="col-xs-12">
									<h4>{{ entry.name }}</h4>
									<p>{{ entry.content }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
{# 		<div class="vr-space-80"></div>#}
{# 		<div class="vr-space-80"></div>#}
		
		{% block categories %}
		<h1 class="text-center">Podkategorie</h1>
{# 		<div class="vr-space-20"></div>#}
		
		<div class="row no-padding">
			{% include 'common/tile_list.html.twig' with {'entries': entry.children, 'entryPath': 'category', 'colSize': 1} %}
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block featuredNews %}
		<div class="row">
			<h1 class="text-center">Informacje</h1>
			<div class="vr-space-20"></div>
			
			<div class="rect-3x1">
	{# 			<img class="img-responsive div-center" src="{{ asset(entry.getImagePath()) }}">#}
				<img class="img-responsive div-center" src="{{ asset('img/template/kategoria-2.jpg') }}">
				<div class="div-center text-center">
					<h1>Tutaj bedzie karuzela :)</h1>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block news %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					
					<div class="row no-padding">
						{% include 'common/tile_list.html.twig' with {'entries': articles, 'entryPath': 'article', 'colSize': 3, 'limit': 4} %}
					</div>
					
					<div class="row text-center lowered">
						<a class="btn btn-primary">Czytaj wiecej...</a>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block ad %}
		<div class="row">
			<div class="rect-3x1">
	{# 			<img class="img-responsive div-center" src="{{ asset(entry.getImagePath()) }}">#}
				<img class="img-responsive div-center" src="{{ asset('img/template/kino-domowe-2.jpg') }}">
				<div class="div-center text-center">
					<h1>Tutaj bedzie reklama :)</h1>
					<a class="btn btn-default" href="#">Kliknij!</a>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block promocje %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1 class="text-center">Promocje</h1>
					<div class="vr-space-20"></div>
					
					<div class="row no-padding">
						{% include 'common/tile_list.html.twig' with {'entries': articles, 'entryPath': 'article', 'colSize': 3, 'limit': 4} %}
					</div>
					
					<div class="row text-center lowered">
						<a class="btn btn-primary">Czytaj wiecej...</a>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
	
	{% else %}
	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 well">
					<div class="col-sm-3">
						<div class="rect">
							<img class="img-responsive div-center" src="{{ asset(entry.getImagePath()) }}">
						</div>
					</div>
					
					<div class="col-sm-9">
						<h1>{{ entry.name }}</h1>
						<p>{{ entry.content }}</p>
					</div>
					
				</div>
				<div class="col-xs-12 well">
					<h1><span class="fa fa-star-half-o"></span> Top modeli</h1>
					
					<div class="row">
						<div class="col-sm-2"><h4 class="text-center">Segment</h4></div>
						<div class="col-sm-2"><h4 class="text-center">1st</h4></div>
						<div class="col-sm-2"><h4 class="text-center">2nd</h4></div>
						<div class="col-sm-2"><h4 class="text-center">3rd</h4></div>
						<div class="col-sm-2"><h4 class="text-center">4th</h4></div>
						<div class="col-sm-2"><h4 class="text-center">5th</h4></div>
					</div>
					
					{% for entry in segments %}
						<div class="row">
							<div class=" col-sm-2 category-link">
								<div class="rect">
									<img class="img-responsive div-center" alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
									<div class="col-xs-12 div-bottom bkg-black-50">
										<h4 class="text-center">{{ entry.name }}</h4>
									</div>
								</div>
							</div>
							{% set i = 1 %}
							{% for product in products %}
								{% if i <= 5 and product.segment.id == entry.id %}
									<div class=" col-sm-2 category-link">
										<div class="rect">
											<img class="img-responsive div-center" alt="{{ product.name }}" src="{{ asset(product.getImagePath()) }}">
											<div class="col-xs-12 div-bottom bkg-black-50">
												<h4>{{ product.brand ? product.brand.name : '' }}</h4>
												<h5>{{ product.name }}</h5>
											</div>
										</div>
									</div>
									{% set i = i+1 %}
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
					
				</div>
				<div class="col-xs-12 well">
					<h1><span class="fa fa-tasks"></span> Rating marek</h1>
					
					<div class="row">
						<div class="col-sm-2"><h4 class="text-center">Segment</h4></div>
						<div class="col-sm-10"><h4 class="text-center">Wiodace marki</h4></div>
					</div>
					
					{% for entry in segments %}
						<div class="row">
							<div class=" col-sm-2 category-link">
								<div class="rect">
									<img class="img-responsive div-center" alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
									<div class="col-xs-12 div-bottom bkg-black-50">
										<h4 class="text-center">{{ entry.name }}</h4>
									</div>
								</div>
							</div>
							{% set i = 1 %}
							{% for brand in brands %}
								{% if i <= 5 %}
									<div class=" col-sm-2 category-link">
										<div class="rect">
											<img class="img-responsive div-center" alt="{{ brand.name }}" src="{{ asset(brand.getImagePath()) }}">
											<div class="col-xs-12 div-bottom bkg-black-50">
												<h5>{{ brand.name }}</h5>
											</div>
										</div>
									</div>
									{% set i = i+1 %}
								{% endif %}
							{% endfor %}
						</div>
					{% endfor %}
				</div>
				
				<div class="col-xs-12 well">
					<h1><span class="fa fa-graduation-cap"></span> Leksykon pojec</h1>
					
					{% for term in terms %}
						{% if loop.index <= 40 %}
						<div class="col-sm-3">
							<a href="#">{{ term.name }}</a>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				
			</div>
		</div>
	
	{% endif %}
	
{% endblock %}
