{% extends 'infoprodukt/index.html.twig' %}

{% set title = (entry.name ~ ' ' ~ entry.subname)|raw %}
{% set mainPath = 'category' %}
	
{% set listName = 'title.categories'|trans %}
	
{% block content %}
	
	{% if entry.preleaf %}
		{# --------------------------------------------------------------------------------------------------- #}
		{# Preleaf category #}
		{# --------------------------------------------------------------------------------------------------- #}
		
		<div class="row">
			<div class="rect-3x1 bkg-white">
				{% if entry.image %}
					<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
						src="{{ asset(entry.featuredImage) }}">
				{% endif %}
				
				<div class="col-xs-12 div-bottom bkg-black-50 text-white">
					<div class="container lifted-bottom">
						<div class="row">
							<div class="col-xs-12">
								<h3>{{ entry.name | raw}} {{ 'label.category.subtitle'|trans }}</h3>
{# 								<p>{{ entry.content | raw }}</p>#}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			{% block categories %}
			<div class="container">
				<div class="row lifted-top">
					<div class="col-xs-12">
						{% for subentry in entry.children %}
							<div class="col-sm-3">
								{% include 'common/bottom_rect_tile.html.twig' with {entry: subentry, entryPath: 'category', routeParams: { category: subentry.id } } %}
							</div>
						{% else %}
							<p>{{ 'label.noEntries'|trans }}</p>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endblock %}
		</div>
		
		<div class="vr-space-40"></div>

		{% block featuredNews %}
			<div class="container">
				<h2 class="text-center">
					<span class="text-red">{{ 'header.articles'|trans }}</span> 
					<span class="text-brand">{{ 'header.news'|trans }}</span>
				</h2>
			</div>
				
			<div class="vr-space-20"></div>
			
			<div class="row">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					    {% for article in articles|slice(0,3)%}
				    		<li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
					    {% endfor %}
				  	</ol>
				  	
				  	<div class="carousel-inner" role="listbox">
						{% for article in articles|slice(0,3)%}
				    		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
						    	<div class="div-center bkg-white">
						    		{% if article.image %}
							    		<img class="img-{{ article.vertical ? '' : 'v' }}responsive" 
							    			alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
					    			{% endif %}
				      			</div>
				      			
				      			<div class="col-xs-12 div-bottom bkg-black-50">
									<div class="rect-10x1">
										<div class="div-hcenter div-top">
							      			<a class="text-white" href="{{ path('infoprodukt_article_show', { id: article.id, category: entry.id }) }}">
								      			<h2 class="text-center">
													{% for articleBrandAssignment in article.articleBrandAssignments %}
									      				{{ articleBrandAssignment.brand.name }} 
								      				{% endfor %}
							      				</h2>
								      			<h3 class="text-center">
								      				{{ article.name | raw }} {{ article.subname }}
							      				</h3>
								      		</a>
							      		</div>
						      		</div>
					      		</div>
						    </div>
					    {% endfor %}
				  	</div>
			  	</div>
			</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block news %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="row no-padding">
						{% for article in articles | slice(3,4) %}
							<div class="col-sm-3">
								<div class="row">
									<a class="text-white" href="{{ path(basePath ~ 'article_show', { id: article.id, category: entry.id }) }}">
										<div class="rect col-bottom bkg-white">
											{% if article.image %}
												<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
													alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
											{% endif %}
											
											<div class="col-xs-12 div-bottom bkg-black-50">
												<div class="rect-2x1">
													<div class="div-top">
														<h4>
															{% for articleBrandAssignment in article.articleBrandAssignments %}
											      				{{ articleBrandAssignment.brand.name }} 
										      				{% endfor %}
									      				</h4>
														<h5>
															{{ article.getHtmlName() | raw }}
														</h5>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>    
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block articleCategoriesBlock %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="row no-padding">
						{% for articleCategory in article_categories | slice(0,4) %}
							<div class="col-sm-3">
								<div class="row">
									<a class="text-white" href="{{ path('infoprodukt_article', 
										{ category: entry.id, article_filter_article_categories: articleCategory.id }) }}">
										<div class="rect bkg-white">
											{% if articleCategory.image %}
												<img class="div-center img-{{ articleCategory.vertical ? '' : 'v' }}responsive" 
													alt="{{ articleCategory.name | raw }}" src="{{ asset(articleCategory.getImagePath()) }}">
											{% endif %}
										</div>
										<div class="col-xs-12 rect-title {{ loop.index % 2 == 0 ? 'text-brand' : 'text-red' }}">
											<h4 class="text-center">
												{{ articleCategory.name | raw }}
											</h4>
										</div>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		
		<div class="vr-space-10"></div>
		
		<div class="row text-center lowered">
			<a href={{ path('infoprodukt_article', { category: entry.id }) }} class="btn btn-primary">{{ 'label.readMore'|trans }}</a>
		</div>
						
		<div class="vr-space-40"></div>
		
		{% block featuredAds %}
			<div class="row">	
				<div class="col-xs-12 no-padding">
					
					<div id="featuredAdsCarousel" class="carousel slide" data-ride="carousel">
					  	<div class="carousel-inner" role="listbox">
							{% for advert in featuredAds %}
					    		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
						    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
							    </div>
						    {% endfor %}
					  	</div>
				  	</div>
				  	
			  	</div>
			</div>
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% block promotions %}
			{% if promotions|length > 0 %}
				<div class="container">
					<h2 class="text-center text-red">
						{{ 'header.promotions'|trans }}
					</h2>
					
					<div class="vr-space-10"></div>
					
					<div class="row">
						<div class="col-xs-12">
							<div class="row no-padding">
								{% include 'common/tile_list.html.twig' with {'entries': promotions, 'entryPath': 'article', 
									routeParams: { article_filter_article_categories: 1 }, 'colSize': 3, 'limit': 4} %}
							</div>
							
							<div class="row text-center lowered">
								<a href={{ path('infoprodukt_article', { category: entry.id, article_filter_article_categories: 1 }) }} class="btn btn-primary">{{ 'label.showMore'|trans }}</a>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		<div class="vr-space-40"></div>
		
		{% if entry.magazine %}
			{% block magazine %}
			<div class="row bkg-black-50">
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
					  		<a href="{{ asset(entry.magazine.magazineFile) }}">
					  			{% if entry.magazine.image %}
					  				<img class="img-{{ entry.magazine.vertical ? '' : 'v' }}responsive" 
					    				alt="{{ entry.magazine.name | raw }}" src="{{ asset(entry.magazine.getImagePath()) }}">
			    				{% endif %}
					  		</a>
					  	</div>
					  	<div class="col-sm-6 text-white">
					  		<h2>{{ entry.magazine.name }}</h2>
					  		<p>{{ entry.magazine.content|raw }}</p>
					  		
					  		<div class="vr-space-40"></div>
					  		
					  		<h2>Newsletter</h2>
					  		<p>Zapisz sie do naszego newslettera! Nie omina cie najnowsze informacje z branzy agd, rtv, costam costam.</p>
					  		<input />
					  		<a href="#" class="btn btn-danger">{{ 'action.save'|trans }}</a>
					  	</div>
				  	</div>
			  	</div>
		  	</div>
			{% endblock %}
		{% endif %}
	
	{% else %}
		{# --------------------------------------------------------------------------------------------------- #}
		{# Ratings category #}
		{# --------------------------------------------------------------------------------------------------- #}
	
		{% block segmentStylesheet %}
			<style>
				<!--
					{% for entry in segments %}
						.color-segment-{{ entry.id }} {
							color: {{ entry.color }};
						}
						
						.bkg-segment-{{ entry.id }} {
							background-color: {{ entry.color }};
						}
					{% endfor %}
				-->
			</style>
		{% endblock %}
		
		<div class="container">
			
			{% block breadcrumbs %}
				<div class="row">
					<div class="col-xs-12">
						<a href="{{ path('infomarket_home') }}">{{ 'label.home'|trans }}</a>
						
						{% if category %}
							{% set categoryId = category.parent.id %}
							{% set categoryName = category.parent.name %}
							{% set categorySubname = category.parent.subname %}
							/ 
							<a href="{{ path(basePath ~ mainPath ~ '_show', { id: categoryId, category: categoryId }) }}">
								{{ categoryName }} {{ categorySubname }}
							</a>
						{% endif %}
						/ 
						{{ title }}
					</div>
				</div>
			{% endblock %}
	
			<div class="row">
				{% block sidebar %}
					<div class="col-sm-3 col-sm-push-9">
						<div class="col-xs-12 well">
							{% block sidebarContent %}
							
							{% block sectionsBlock %}
								<h1>{{ 'label.sections'|trans }}</h1>
								
								{% include 'infoprodukt/common/sections.html.twig' with 
								{ 'category': category } %}
							{% endblock %}
							
							{% block categoriesBlock %}
								{% if category and category.preleaf == false %}
									<h1>{{ 'label.categories'|trans }}</h1>
									
									<ul class="nav nav-pills nav-stacked">
										{% for subcategory in category.parent.children %}
											<li role="presentation" class="{{ subcategory.id == category.id ? 'active' : ''}}">
												<a href="{{ path(basePath ~ mainPath ~ '_show', { id: subcategory.id, category: subcategory.id }) }}">
													{{ subcategory.name }} {{ subcategory.subname }}
												</a>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							{% endblock %}
							
							{% endblock %}
						</div>
						
						<div class="col-xs-12 no-padding">
							{% block sidebarAds %}
								<div id="sideAdsCarousel" class="carousel slide" data-ride="carousel">
								  	<div class="carousel-inner" role="listbox">
										{% for advert in sideAds %}
								    		<div class="item rect-1x2 {{ loop.index == 1 ? 'active' : '' }}">
									    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
										    </div>
									    {% endfor %}
								  	</div>
							  	</div>
							{% endblock %}
						</div>
					</div>
				{% endblock %}
			
				{% block main %}				
					<div class="col-sm-9 col-sm-pull-3">
						{% block categoryHeader %}
						<div class="col-xs-12 well">
							<div class="col-sm-3">
								<div class="rect bkg-white">
									{% if entry.image %}
										<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
											alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
									{% endif %}
								</div>
							</div>
							
							<div class="col-sm-9">
								<h2>
									<span class="text-red">{{ entry.name | raw }}</span> 
									<span class="text-primary">{{ entry.subname | raw }}</span>
								</h2>
								<p>{{ entry.content | raw }}</p>
							</div>	
						</div>
						{% endblock %}
						
						{% block topAds %}
							<div class="col-xs-12 no-padding">
								<div id="topAdsCarousel" class="carousel slide" data-ride="carousel">
								  	<div class="carousel-inner" role="listbox">
										{% for advert in topAds %}
								    		<div class="item rect-6x1 {{ loop.index == 1 ? 'active' : '' }}">
									    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
										    </div>
									    {% endfor %}
								  	</div>
							  	</div>
						  	</div>
						{% endblock %}
						
						{% block brandsRank %}
						
						{% set show = false %}
						{% for entry in segments %}
							{% if attribute(brands, entry.id) | length > 0 %}
								{% set show = true %}
							{% endif %}
						{% endfor %}
						
						{% for category in subcategories %}
							{% for segment in segments %}
								{% if attribute(attribute(subbrands, category.id), segment.id) | length > 0 %}
									{% set show = true %}
								{% endif %}
							{% endfor %}
						{% endfor %}
							
						{% if show %}		
							<div class="col-xs-12 no-side-padding well">
								
								<div class="col-xs-12">
									<h2><span class="fa fa-globe"></span> {{ 'label.rating.brands'|trans }}</h2>
								</div>
								
								{% set show = false %}
								{% for entry in segments %}
									{% if attribute(brands, entry.id) | length > 0 %}
										{% set show = true %}
									{% endif %}
								{% endfor %}
								
								{% if show %}
									<div class="row no-side-padding">
										<div class="col-xs-12">
											<div class="hidden-xs col-sm-4 col-md-2"><h3 class="text-center">{{ 'label.segment'|trans }}</h3></div>
											<div class="hidden-xs col-sm-8 col-md-10"><h3 class="text-center">{{ 'label.rating.brands'|trans }}</h3></div>
										</div>
									</div>
									
									{% for segment in segments %}
										{% if attribute(brands, segment.id) | length > 0 %}
											<div class="row no-side-padding bkg-segment-{{ segment.id }}">
												<div class="col-xs-12">
													
													<div class="col-xs-12 col-sm-4 col-md-2 no-padding">
														<div class="rect">
															{% if segment.image %}
																<img class="div-center img-{{ segment.vertical ? 'v' : '' }}responsive" 
																	alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
															{% endif %}
														</div>
														
														<div class="col-xs-12 rating-subtitle hidden-xs">
															<div class="col-xs-12">
																<h4 class="text-sm-right text-red"><strong>{{ 'label.brand'|trans }}</strong></h4>
															</div>
														</div>
														
														<div class="col-xs-12 vr-space-5"></div>
														
														<div class="col-xs-12 rating-subtitle hidden-xs">
															<div class="col-xs-12">
																<h4 class="text-sm-right text-brand"><strong>www</strong></h4>
															</div>
														</div>
													</div>
													
													{% for brand in attribute(brands, segment.id) %}
														{% if loop.index > 1 and loop.index % 2 == 1 %}
															<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-md hidden-lg">
															</div>
														{% endif %}
														{% if loop.index > 1 and loop.index % 5 == 1 %}
															<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-sm">
															</div>
														{% endif %}
														<div class="col-sm-4 col-md-2 no-padding">
															<div class="rect bkg-white">
																{% if brand.image %}
																	<img class="div-center img-{{ brand.vertical ? 'v' : '' }}responsive" 
																		alt="{{ brand.name }}" src="{{ asset(brand.getImagePath()) }}">
																{% endif %}
															</div>
															
															<div class="col-xs-12 bkg-red rating-subtitle text-center text-white">
																<a href="{{ path(basePath ~ 'brand_show', {'id': brand.id }) }}">
																	{{ brand.name }}
																</a>
															</div>
															
															<div class="col-xs-12 vr-space-5 bkg-white"></div>
															
															<div class="col-xs-12 bkg-brand rating-subtitle text-center text-white">
																<a class="text-small" href="{{ 'http://' ~ brand.www }}">
																	{{ brand.www }}
																</a>
															</div>
														</div>
													{% endfor %}
													
												</div>
											</div>
											
											<div class="vr-space-10"></div>
										{% endif %}
									{% endfor %}
								{% endif %}
								
								
								{% for category in subcategories %}
									
									{% set show = false %}
									{% for segment in segments %}
										{% if attribute(attribute(subbrands, category.id), segment.id) | length > 0 %}
											{% set show = true %}
										{% endif %}
									{% endfor %}
								
									{% if show %}
										<div class="col-xs-12">
											<h2>
												<span class="text-red">{{ category.name }}</span>  
												<span class="text-blue"{{ category.subname }}</span> 
											</h2>
										</div>
										
										<div class="row no-side-padding">
											<div class="col-xs-12">
												<div class="hidden-xs col-sm-4 col-md-2"><h3 class="text-center">{{ 'label.segment'|trans }}</h3></div>
												<div class="hidden-xs col-sm-8 col-md-10"><h3 class="text-center">{{ 'label.rating.brands'|trans }}</h3></div>
											</div>
										</div>
										
										{% for segment in segments %}
											{% if attribute(attribute(subbrands, category.id), segment.id) | length > 0 %}
												<div class="row no-side-padding bkg-segment-{{ segment.id }}">
													<div class="col-xs-12">
														
														<div class="col-xs-12 col-sm-4 col-md-2 no-padding">
															<div class="rect">
																{% if segment.image %}
																	<img class="div-center img-{{ segment.vertical ? 'v' : '' }}responsive" 
																		alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
																{% endif %}
															</div>
															
															<div class="col-xs-12 rating-subtitle hidden-xs">
																<div class="col-xs-12">
																	<h4 class="text-sm-right text-red"><strong>{{ 'label.brand'|trans }}</strong></h4>
																</div>
															</div>
															
															<div class="col-xs-12 vr-space-5"></div>
															
															<div class="col-xs-12 rating-subtitle hidden-xs">
																<div class="col-xs-12">
																	<h4 class="text-sm-right text-brand"><strong>www</strong></h4>
																</div>
															</div>
														</div>
														
														{% for brand in attribute(attribute(subbrands, category.id), segment.id) %}
															{% if loop.index > 1 and loop.index % 2 == 1 %}
																<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-md hidden-lg">
																</div>
															{% endif %}
															{% if loop.index > 1 and loop.index % 5 == 1 %}
																<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-sm">
																</div>
															{% endif %}
															<div class="col-sm-4 col-md-2 no-padding">
																<div class="rect bkg-white">
																	{% if brand.image %}
																		<img class="div-center img-{{ brand.vertical ? 'v' : '' }}responsive" 
																			alt="{{ brand.name }}" src="{{ asset(brand.getImagePath()) }}">
																	{% endif %}
																</div>
																
																<div class="col-xs-12 bkg-red rating-subtitle text-center text-white">
																	<a href="{{ path(basePath ~ 'brand_show', {'id': brand.id }) }}">
																		{{ brand.name }}
																	</a>
																</div>
																
																<div class="col-xs-12 vr-space-5 bkg-white"></div>
																
																<div class="col-xs-12 bkg-brand rating-subtitle text-center text-white">
																	<a class="text-small" href="{{ 'http://' ~ brand.www }}">
																		{{ brand.www }}
																	</a>
																</div>
															</div>
														{% endfor %}
													
													</div>
												</div>
												
												<div class="vr-space-20"></div>
											{% endif %}
										{% endfor %}
									{% endif %}
									
								{% endfor %}
							
							
							
							</div>
						{% endif %}
						{% endblock %}
						
						{% block productsRank %}
						
						{% set show = false %}
						{% for entry in segments %}
							{% if attribute(products, entry.id) | length > 0 %}
								{% set show = true %}
							{% endif %}
						{% endfor %}
						
						{% for category in subcategories %}
							{% for segment in segments %}
								{% if attribute(attribute(subproducts, category.id), segment.id) | length > 0 %}
									{% set show = true %}
								{% endif %}
							{% endfor %}
						{% endfor %}
						
						{% if show %}
							<div class="col-xs-12 no-side-padding well">
								
								<div class="col-xs-12">
									<h2><span class="fa fa-star-half-o"></span> {{ 'label.rating.products'|trans }}</h2>
								</div>
								
								{% set show = false %}
								{% for entry in segments %}
									{% if attribute(products, entry.id) | length > 0 %}
										{% set show = true %}
									{% endif %}
								{% endfor %}
								
								{% if show %}
									<div class="row no-side-padding">
										<div class="col-xs-12">
											<div class="hidden-xs col-sm-4 col-md-2"><h3 class="text-center">{{ 'label.segment'|trans }}</h3></div>
											<div class="hidden-xs col-sm-8 col-md-10"><h3 class="text-center">{{ 'label.rating.products'|trans }}</h3></div>
										</div>
									</div>
									
									{% for segment in segments %}
										{% if attribute(products, segment.id) | length > 0 %}
											<div class="row no-side-padding bkg-segment-{{ segment.id }}">
												<div class="col-xs-12">
												
													<div class="col-xs-12 col-sm-4 col-md-2 no-padding">
														<div class="rect">
															{% if segment.image %}
																<img class="div-center img-{{ segment.vertical ? 'v' : '' }}responsive" 
																	alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
															{% endif %}
														</div>
														
														<div class="col-xs-12 rating-subtitle hidden-xs">
															<div class="col-xs-12">
																<h4 class="text-sm-right text-red"><strong>{{ 'label.brand'|trans }}</strong></h4>
															</div>
														</div>
														
														
														<div class="col-xs-12 vr-space-5"></div>
														
														<div class="col-xs-12 rating-subtitle hidden-xs">
															<div class="col-xs-12">
																<h4 class="text-sm-right text-brand"><strong>{{ 'label.product'|trans }}</strong></h4>
															</div>
														</div>
													</div>
													
													{% for product in attribute(products, segment.id) %}
														{% if loop.index > 1 and loop.index % 2 == 1 %}
															<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-md hidden-lg">
															</div>
														{% endif %}
														{% if loop.index > 1 and loop.index % 5 == 1 %}
															<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-sm">
															</div>
														{% endif %}
														<div class="col-sm-4 col-md-2 no-padding">
															<div class="rect bkg-white">
																{% if product.image %}
																	<img class="div-center img-{{ product.vertical ? 'v' : '' }}responsive" 
																		alt="{{ product.name }}" src="{{ asset(product.getImagePath()) }}">
																{% endif %}
															</div>
															
															<div class="col-xs-12 bkg-red rating-subtitle text-center text-white">
																<a href="{{ path(basePath ~ 'brand_show', {'id': product.brand.id }) }}">
																	{{ product.brand.name }}
																</a>
															</div>
																	
															<div class="col-xs-12 vr-space-5 bkg-white"></div>
																	
															<div class="col-xs-12 bkg-brand rating-subtitle text-center text-white">
																<a class="text-small" href="{{ path(basePath ~ 'product_show', {'id': product.id }) }}">
																	{{ product.name }}
																</a>
															</div>
														</div>
													{% endfor %}
													
												</div>
											</div>
												
											<div class="vr-space-20"></div>
										{% endif %}
									{% endfor %}
								{% endif %}
								
								
								
								{% for category in subcategories %}
								
									{% set show = false %}
									{% for segment in segments %}
										{% if attribute(attribute(subproducts, category.id), segment.id) | length > 0 %}
											{% set show = true %}
										{% endif %}
									{% endfor %}
									
									{% if show %}
										<div class="col-xs-12">
											<h2>
												<span class="text-red">{{ category.name }}</span> 
												<span class="text-primary">{{ category.subname }}</span>
											</h2>
										</div>
										
										<div class="row no-side-padding">
											<div class="col-xs-12">
												<div class="hidden-xs col-sm-4 col-md-2"><h3 class="text-center">{{ 'label.segment'|trans }}</h3></div>
												<div class="hidden-xs col-sm-8 col-md-10"><h3 class="text-center">{{ 'label.rating.products'|trans }}</h3></div>
											</div>
										</div>
										
										{% for segment in segments %}
											{% if attribute(attribute(subproducts, category.id), segment.id) | length > 0 %}
												<div class="row no-side-padding bkg-segment-{{ segment.id }}">
													<div class="col-xs-12">
													
														<div class="col-xs-12 col-sm-4 col-md-2 no-padding">
															<div class="rect">
																{% if segment.image %}
																	<img class="div-center img-{{ segment.vertical ? 'v' : '' }}responsive" 
																		alt="{{ segment.name | raw }}" src="{{ asset(segment.getImagePath()) }}">
																{% endif %}
															</div>
															
															<div class="col-xs-12 rating-subtitle hidden-xs">
																<div class="col-xs-12">
																	<h4 class="text-sm-right text-red"><strong>{{ 'label.brand'|trans }}</strong></h4>
																</div>
															</div>
															
															
															<div class="col-xs-12 vr-space-5"></div>
															
															<div class="col-xs-12 rating-subtitle hidden-xs">
																<div class="col-xs-12">
																	<h4 class="text-sm-right text-brand"><strong>{{ 'label.product'|trans }}</strong></h4>
																</div>
															</div>
														</div>
														
														{% for product in attribute(attribute(subproducts, category.id), segment.id) %}
															{% if loop.index > 1 and loop.index % 2 == 1 %}
																<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-md hidden-lg">
																</div>
															{% endif %}
															{% if loop.index > 1 and loop.index % 5 == 1 %}
																<div class="col-sm-4 col-md-2 no-padding hidden-xs hidden-sm">
																</div>
															{% endif %}
															<div class="col-sm-4 col-md-2 no-padding">
																<div class="rect bkg-white">
																	{% if product.image %}
																		<img class="div-center img-{{ product.vertical ? 'v' : '' }}responsive" 
																			alt="{{ product.name }}" src="{{ asset(product.getImagePath()) }}">
																	{% endif %}
																</div>
																
																<div class="col-xs-12 bkg-red rating-subtitle text-center text-white">
																	<a href="{{ path(basePath ~ 'brand_show', {'id': product.brand.id }) }}">
																		{{ product.brand.name }}
	 																</a>
																</div>
																
																<div class="col-xs-12 vr-space-5 bkg-white"></div>
																
																<div class="col-xs-12 bkg-brand rating-subtitle text-center text-white">
																	<a class="text-small" href="{{ path(basePath ~ 'product_show', {'id': product.id }) }}">
																		{{ product.name }}
	 																</a>
																</div>
															</div>
														{% endfor %}
														
													</div>
												</div>
												
												<div class="vr-space-20"></div>
											{% endif %}
										{% endfor %}
									{% endif %}
									
								{% endfor %}
							</div>
						{% endif %}
						
						{% endblock %}
						
						
					</div>
				{% endblock %}
				
				
			</div>
		</div>
	
	{% endif %}
	
{% endblock %}
