{% form_theme filterForm 'form/fields.html.twig' %}
	
{{ form_start(filterForm) }}
	{% set hidden = filterForm.categories.vars.choices|length > 0 ? '' : 'hidden' %}
	<div class="col-xs-12 {{ hidden }}">
		{{ form_row(filterForm.categories, { label: 'label.benchmark.categories' }) }}
	</div>
	
	{% set hidden = filterForm.brands.vars.choices|length > 0 ? '' : 'hidden' %}
	<div class="col-xs-12 {{ hidden }}">
		{{ form_row(filterForm.brands, { label: 'label.benchmark.brands' }) }}
	</div>
	
	<div class="col-xs-12 {{ hidden }}">
		{{ form_row(filterForm.name, { label: 'label.benchmark.product.name' }) }}
	</div>
	
	<div class="col-xs-6">
		{{ form_row(filterForm.minPrice, { label: 'label.benchmark.product.minPrice' }) }}
	</div>
	<div class="col-xs-6">
		{{ form_row(filterForm.maxPrice, { label: 'label.benchmark.product.maxPrice' }) }}
	</div>
	
	
	{% for field in entryFilter.filterFields %}
		{% if field.featuredFilter %}
			{% include 'benchmark/common/form/components/filter_field.twig' %}
		{% endif %}
	{% endfor %}
	
	<div class="panel-group" id="extendedAccodrion">
		<div id="extendedFilter" class="accordion-body collapse">
			{% for field in entryFilter.filterFields %}
				{% if not field.featuredFilter %}
					{% include 'benchmark/common/form/components/filter_field.twig' %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
	
	<div class="col-xs-10 padding-5">
		<div class="btn-group">
			{{ form_widget(filterForm.search, { 'icon': 'fa-search', 'label': ' ', 
				'attr': { class: 'btn btn-primary', 'data-toggle': 'tooltip', title: 'action.search'} }) }}
			{{ form_widget(filterForm.clear, { 'icon': 'fa-eraser', 'label': ' ', 
				'attr': { class: 'btn btn-warning', 'data-toggle': 'tooltip', title: 'action.clear'} }) }}
		</div>
	</div>
	<div class="col-xs-2 padding-5 {{ entryFilter.benchmarkQuery ? "hidden" : "" }}">
		{{ form_widget(filterForm.saveQuery, { 'icon': 'fa-save', 'label': ' ', 
			'attr': { class: 'btn btn-success', 'data-toggle': 'tooltip', title: 'action.saveQuery' } }) }}
	</div>
{{ form_end(filterForm) }}

<script type="text/javascript">$("#extendedFilter").collapse("hide");</script>