{% for article in articles %}
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<span class="text-brand">{{ article.name | raw }}</span>
			</h3>
			<h4>
				<span class="text-red">{{ article.subname | raw }}</span>
			</h4>
		</div>
		<div class="col-sm-3">
			{% if article.image %}
				<div class="rect">
					<img class="div-center" alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
				</div>
			{% endif %}
		</div>
		<div class="col-sm-9">
			{% if article.intro %}
				<p><strong>{{ article.intro | raw }}</strong></p>
			{% endif %}
		</div>
		<div class="col-xs-12">
		
			<p>{{ article.content | raw }}</p>
		</div>
	</div>
{% endfor %}