{% for article in articles %}
	<div class="row">
	
		{% if article.image %}
		<div class="col-sm-4 {{ loop.index % 2 ? '' : 'col-sm-push-8' }}">
			<img class="img-responsive" alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
		</div>
		{% endif %}
		<div class="col-sm-{{ article.image ? 8 : 12 }} {{ article.image and loop.index % 2 == 0 ? 'col-sm-pull-4' : '' }}">
			<h4>
				<span class="text-brand">{{ article.name | raw }}</span>
				<span class="text-red">{{ article.subname | raw }}</span>
			</h4>
			
			<p><strong>{{ article.intro | raw }}</strong></p>
		</div>
		<div class="col-xs-12">
			<p>{{ article.content | raw }}</p>
		</div>
	</div>
{% endfor %}