{% for article in articles %}
	
	{% if cols is not defined %}
		{% set cols = 12 %}
	{% endif %}
	
	<div class="col-sm-{{ cols }}">
		<h4>
			<span class="text-brand">{{ article.name | raw }}</span>
			<span class="text-red">{{ article.subname | raw }}</span>
		</h4>
		
		{% if article.image %}
			<img class="img-responsive" 
				alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
		{% endif %}
		
		<p><strong>{{ article.intro | raw }}</strong></p>
		<p>{{ article.content | raw }}</p>
	</div>
{% endfor %}