{% for article in articles %}
	<div class="row">
		<div class="col-sm-9">
			<h2 class="text-brand">{{ article.name | raw }}</h2>
			<h3 class="text-red">{{ article.subname | raw }}</h3>
			<p><strong>{{ article.intro | raw }}</strong></p>
			<p>{{ article.content | raw }}</p>
		</div>
		<div class="col-sm-3">
			<div class="rect">
				<img class="div-center" alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
			</div>
		</div>
	</div>
{% endfor %}