{% for article in articles %}
	<div class="row">
		<div class="col-sm-{{ article.image ? 8 : 12 }}">
			<h3>
				<span class="text-brand">{{ article.name | raw }}</span>
				<span class="text-red">{{ article.subname | raw }}</span>
			</h3>
			
			<p><strong>{{ article.intro | raw }}</strong></p>
			
			<p>{{ article.content | raw }}</p>
		</div>
		
		{% if article.image %}
			<div class="col-sm-4">
				<img class="img-responsive" alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
			</div>
		{% endif %}
	</div>
{% endfor %}