{% for article in articles %}
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-brand">{{ article.name | raw }}</h2>
			<h3 class="text-red">{{ article.subname | raw }}</h3>
			<div class="col-xs-6 col-xs-offset-3">
				<div class="rect">
					<img class="div-center img-{{ article.vertical ? 'v' : '' }}responsive" 
						alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
				</div>
			</div>
			<p><strong>{{ article.intro | raw }}</strong></p>
			<p>{{ article.content | raw }}</p>
		</div>
	</div>
{% endfor %}