{% set trueIcon = trueIcon|default('fa-check') %}
{% set falseIcon = falseIcon|default('fa-remove') %}

{% set trueTooltip = trueTooltip|default('label.yes') %}
{% set falseTooltip = falseTooltip|default('label.no') %}

{% if canEdit %}
	<a href="{{ path(basePath ~ mainPath ~ extPath, { id: id, value: value ? false : true }) }}">
		<span class="fa {{ value ? trueIcon : falseIcon }}" data-toggle="tooltip" 
			title="{{ value ? trueTooltip|trans : falseTooltip|trans }}">
		</span>
	</a>
{% else %}
	<span class="fa {{ value ? trueIcon : falseIcon }}" data-toggle="tooltip" 
		title="{{ value ? trueTooltip|trans : falseTooltip|trans }}">
	</span>
{% endif %}