{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'InfoProdukt' %}
{% set mainPath = 'home' %}

{% block content %}
	
	{% block images %}
		<div class="row">
			<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
				<ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
			  	</ol>
			  	
			  	<div class="carousel-inner">
			  		<img class="item active img-responsive" alt="image" src="uploads/photos/saloon.png" />
					<img class="item img-vresponsive" alt="image" src="uploads/photos/kitchen.png">
		    		<img class="item img-responsive" alt="image" src="uploads/photos/chainsaw.png">
			  	</div>
		  	</div>
		</div>
	{% endblock %}
	
	<div class="vr-space-10"></div>
	
	{% block promo %}
	<div class="row">
		<h2 class="text-center">
			<span class="text-brand">{{ 'text.slogan1'|trans }}</span>
			<span class="text-red">{{ 'text.slogan2'|trans }}</span>
		</h2>
	</div>
	{% endblock %}
	
	<div class="vr-space-40"></div>
	
	{% block featuredCategories %}
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				<span class="text-brand">{{ 'title.mostPopular'|trans }}</span> 
				<span class="text-red">{{ 'title.categories'|trans }}</span>
			</h2>
		</div>
		
		<div class="vr-space-10"></div>
		
		<div class="row">
			<div class="col-xs-12">
				{% include 'common/tile_list.html.twig' with {'entries': categories|slice(0,8), 
					'entryPath': 'category', 'colSize': 3, 'tile': 'bottom_rect_tile' } %}
			</div>
			
			<div class="row text-center lowered">
				<a href={{ path(basePath ~ 'category') }} class="btn btn-primary">{{ 'label.showAll'|trans }}</a>
			</div>
		</div>
	</div>
	{% endblock %}
	
	<div class="vr-space-40"></div>
	
	{% block magazines %}
		<div class="container">
			<div class="row text-center text-primary">
				<h2>{{ 'header.magazines'|trans }}</h2>
			</div>
		
			<div class="vr-space-10"></div>
			
			<div class="row">
				{% for magazine in magazines %}
					<div class="col-xs-12 col-sm-3">
						<div class="rect">
					  		<a href="{{ path(basePath ~ 'magazine_show', { id: magazine.id }) }}">
					  			{% if magazine.image %}
					  				<img class="div-center img-{{ magazine.vertical ? 'v' : '' }}responsive" 
										alt="{{ magazine.name | raw }}" src="{{ asset(magazine.getImagePath()) }}">
								{% endif %}
					  		</a>
				  		</div>
				  	</div>
			  	{% endfor %}
		  	</div>
		  	
		  	<div class="vr-space-10"></div>
			  	
		  	<div class="row text-center lowered">
				<a href={{ path(basePath ~ 'magazine') }} class="btn btn-danger">{{ 'label.showAll'|trans }}</a>
			</div>
			
			<div class="vr-space-10"></div>
	  	</div>
	{% endblock %}
	
{% endblock %}