{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'InfoProdukt' %}
{% set mainPath = 'home' %}
	
{% block content %}
	{% block video %}
	<div class="row no-padding video-container">
{# 		<video autoplay controls muted poster="{{ asset('img/template/info-produkt-logo.png') }}" id="bgvid" loop>#}
		<video autoplay controls muted poster="{{ asset('img/template/info-produkt-logo.png') }}" id="bgvid">
			<source src="{{ asset('img/template/info-produkt-video.mp4') }}" type="video/mp4">
{# 			<source src="{{ asset('img/template/video.webm') }}" type="video/mp4">#}
		</video>
		
{# 		<div class="row no-padding video-container bkg-black-50"></div>#}
{# 		<div class="row div-center">#}
{# 			<div class="col-xs-12">#}
{# 				<img class="img-responsive" src="img/template/info-produkt-logo.png">#}
{# 			</div>#}
{# 		</div>#}
	</div>
	{% endblock %}
	
	{% block main %}
	<div class="row">
		<h1 class="text-center">
			<span class="text-brand">{{ 'text.slogan1'|trans }}</span>
			<span class="text-red">{{ 'text.slogan2'|trans }}</span>
		</h1>
	</div>
	{% endblock %}
{% endblock %}