{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'InfoProduct' %}
{% set mainPath = 'home' %}
		
{% block content %}
	{% block video %}
	<div class="row no-padding video-container">
		<video autoplay controls muted poster="{{ asset('img/template/info-produkt-logo.png') }}" id="bgvid" loop>
			<source src="{{ asset('img/template/info-produkt-video.mp4') }}" type="video/mp4">
		</video>
		
		<div class="row no-padding video-container bkg-black-50"></div>
{# 		<div class="row div-center">#}
{# 			<div class="col-xs-12">#}
{# 				<img class="img-responsive" src="img/template/info-produkt-logo.png">#}
{# 			</div>#}
{# 		</div>#}
	</div>
	{% endblock %}
	
	<div class="vr-space"></div>
	
	{% block main %}
	<div class="container">
		<div class="row">
			<h1 class="text-center lowered">Najlepszy serwis informacyjny RTV i AGD w Polsce.</h1>
			<div class="vr-space"></div>
			
			<div class="col-sm-4">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="circle">
						<span class="div-center fa fa-user fa-5x text-brand"></span>
					</div>
				</div>
				<div class="col-sm-2"></div>
				<h2 class="text-center text-brand">Opinie ekspertow</h2>
			</div>
			<div class="col-sm-4">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="circle">
						<span class="div-center fa fa-tablet fa-5x text-brand"></span>
					</div>
				</div>
				<div class="col-sm-2"></div>
				<h2 class="text-center text-brand">Polecane produkty</h2>
			</div>
			<div class="col-sm-4">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="circle">
						<span class="div-center fa fa-star-half-o fa-5x text-brand"></span>
					</div>
				</div>
				<div class="col-sm-2"></div>
				<h2 class="text-center text-brand">Rating marek</h2>
			</div>
		</div>
	</div>
	{% endblock %}
	
	<div class="vr-space"></div>
	
	{% block categories %}
	<div class="row no-padding">
		{% for entry in categories %}
			{% if loop.index < 6 %}
			<div class="col-sm-2 no-padding">
				<a class="category-link" href="{{ path('infoprodukt_category_show', { 'id': entry.id }) }}">
					<img class="img-responsive" src="{{ asset(entry.getImagePath()) }}">
					<div class="div-bottom col-xs-12">
						<h3>{{ entry.name }}</h3>
					</div>
				</a>
			</div>
			{% endif %}
		{% endfor %}
		<div class="col-sm-2 no-padding">
			<a class="category-link" href="{{ path('infoprodukt_category') }}">
				<img class="img-responsive" src="img/template/placeholder-1x1.png">
				<div class="div-bottom col-xs-12">
					<h3>Inne</h3>
				</div>
			</a>
		</div>
	</div>
	{% endblock %}
	
	<div class="vr-space"></div>
	
	{% block partners %}
	<div class="container">
		<div class="row">
			<h1 class="text-center">Partnerzy</h1>
			
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<img class="img-responsive" src="img/template/placeholder-2x1.png">
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
	{% endblock %}
{% endblock %}
