{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'InfoProdukt' %}
{% set mainPath = 'home' %}
	
{% block content %}
	{% block video %}
	<div class="row no-padding">
		<div class="col-xs-12 no-padding video-container">
	{# 		<video autoplay controls muted poster="{{ asset('img/template/info-produkt-logo.png') }}" id="bgvid" loop>#}
			<video autoplay controls muted poster="{{ asset('img/template/info-produkt-logo.png') }}" id="bgvid">
				<source src="{{ asset('img/template/info-produkt-video.mp4') }}" type="video/mp4">
	{# 			<source src="{{ asset('img/template/video.webm') }}" type="video/mp4">#}
			</video>
			
	{# 		<div class="row no-padding video-container bkg-black-50"></div>#}
	{# 		<div class="row div-center">#}
	{# 			<div class="col-xs-12">#}
	{# 				<img class="img-responsive" src="img/template/info-produkt-logo.png">#}
	{# 			</div>#}
	{# 		</div>#}
		</div>
	</div>
	{% endblock %}
	
	<div class="vr-space-10"></div>
	
	{% block promo %}
	<div class="row">
		<h2 class="text-center">
			<span class="text-brand">{{ 'text.slogan1'|trans }}</span>
			<span class="text-red">{{ 'text.slogan2'|trans }}</span>
		</h2>
	</div>
	{% endblock %}
	
	<div class="vr-space-40"></div>
	
	{% block featuredCategories %}
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				<span class="text-brand">{{ 'title.mostPopular'|trans }}</span> 
				<span class="text-red">{{ 'title.categories'|trans }}</span>
			</h2>
		</div>
		
		<div class="vr-space-10"></div>
		
		<div class="row">
			<div class="col-xs-12">
				{% include 'common/tile_list.html.twig' with {'entries': menuCategories|slice(0,8), 
					'entryPath': 'category', 'colSize': 3, 'tile': 'bottom_rect_tile' } %}
			</div>
			
			<div class="row text-center lowered">
				<a href={{ path(basePath ~ 'category') }} class="btn btn-primary">{{ 'label.showAll'|trans }}</a>
			</div>
		</div>
	</div>
	{% endblock %}
	
	<div class="vr-space-40"></div>
	
	{% block magazines %}
		<div class="container">
			<div class="row text-center text-primary">
				<h2>{{ 'header.magazines'|trans }}</h2>
			</div>
		
			<div class="vr-space-10"></div>
			
			<div class="row">
				{% for magazine in magazines %}
					<div class="col-xs-12 col-sm-3">
						<div class="rect">
					  		<a href="{{ path(basePath ~ 'magazine_show', { id: magazine.id }) }}">
					  			{% if magazine.image %}
					  				<img class="div-center img-{{ magazine.vertical ? 'v' : '' }}responsive" 
										alt="{{ magazine.name | raw }}" src="{{ asset(magazine.getImagePath()) }}">
								{% endif %}
					  		</a>
				  		</div>
				  	</div>
			  	{% endfor %}
		  	</div>
		  	
		  	<div class="vr-space-10"></div>
			  	
		  	<div class="row text-center lowered">
				<a href={{ path(basePath ~ 'magazine') }} class="btn btn-danger">{{ 'label.showAll'|trans }}</a>
			</div>
			
			<div class="vr-space-10"></div>
	  	</div>
	{% endblock %}
	
{% endblock %}