{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'InfoProdukt' %}
{% set mainPath = 'category' %}

{% block navigationBar %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-1 col-md-3 col-lg-2">
					<a class="navbar-brand" href="{{ path('infoprodukt_category') }}">
						<h1 class="title visible-md visible-lg"><span class="branch-color-1">Info</span><span class="text-white">Produkt</span></h1>
						<h1 class="title visible-xs visible-sm"><span class="branch-color-1">I</span><span class="text-white">P</span></h1>
					</a>
				</div>
				<div class="col-xs-11 col-md-9 col-lg-10">
					<div class="search-bar">
					</div>
				</div>
			</div>
	  	</div>
	</nav>
{% endblock %}
		
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 well">
				<h1>{{ entry.name }}</h1>
				
				<div class="col-sm-3">
					<img class="img-responsive" src="{{ asset('img/template/placeholder-1x1.png') }}">
				</div>
				
				<div class="col-sm-9">
					<p>{{ entry.content }}</p>
				</div>
				
			</div>
			<div class="col-xs-12 well">
				<h1>Top modeli</h1>
				
				{% for entry in segments %}
					<div class="row">
						<div class=" col-sm-3 thumbnail">
							<img alt="" src="{{ asset(entry.getImagePath()) }}">
							<h3>Segment {{ entry.name }}</h3>
						</div>
						{% set i = 1 %}
						{% for product in products %}
							{% if i <= 3 and product.segment.id == entry.id %}
								<div class="col-sm-3 thumbnail">
									<img alt="" src="{{ asset(product.getImagePath()) }}">
									<h3>{{ product.brand ? product.brand.name : '' }}</h3>
									<h4>{{ product.name }}</h4>
								</div>
								{% set i = i+1 %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
				
			</div>
			<div class="col-xs-12 well">
				<h1>Rating marek</h1>
				
				{% for entry in segments %}
					<div class="row">
						<div class=" col-sm-3 thumbnail">
							<img alt="" src="{{ asset(entry.getImagePath()) }}">
							<h3>Segment {{ entry.name }}</h3>
						</div>
						{% set i = 1 %}
						{% for brand in brands %}
							{% if i <= 3 %}
								<div class="col-sm-3 thumbnail">
									<img alt="" src="{{ asset(brand.getImagePath()) }}">
									<h3>{{ brand.name }}</h3>
								</div>
								{% set i = i+1 %}
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			
			<div class="col-xs-12 well">
				<h1>Leksykon pojec</h1>
				
				{% for term in terms %}
					{% if loop.index <= 40 %}
					<div class="col-sm-3">
						<a href="#">{{ term.name }}</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			
			<div class="col-xs-12 well">
				<h1>Nowosci</h1>
				
				{% for entry in articles %}
					{% if loop.index <= 4 %}
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a href="{{ path('infoprodukt_' ~ mainPath ~ '_show', { 'id': entry.id }) }}"><h5>{{ entry.name }}</h5></a>
							</div>
							<div class="panel-body">
								<div class="col-sm-2">
									<img class="img-responsive" alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
								</div>
								<div class="col-sm-10">
									<p>{{ entry.intro }}</p>
									<p>
										<a href="{{ path('infoprodukt_' ~ mainPath ~ '_show', { 'id': entry.id }) }}" class="btn btn-primary" role="button">
											{{ 'label.readMore' }}
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-xs-12 well">
				<h1>Promocje</h1>
				
				{% for entry in articles %}
					{% if loop.index <= 4 %}
					<div class="col-xs-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<a href="{{ path('infoprodukt_' ~ mainPath ~ '_show', { 'id': entry.id }) }}"><h5>{{ entry.name }}</h5></a>
							</div>
							<div class="panel-body">
								<img class="img-responsive" alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
								<p>{{ entry.intro }}</p>
								<p>
									<a href="{{ path('infoprodukt_' ~ mainPath ~ '_show', { 'id': entry.id }) }}" class="btn btn-primary" role="button">
										{{ 'label.readMore' }}
									</a>
								</p>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}
