{% extends 'admin/simple/index.html.twig' %}

{% set mainPath = 'menu' %}
{% set title = 'title.menus'|trans %}

{% block headerActions %}
	{% set hidden="hidden" %}
	{% if is_granted('ROLE_EDITOR') %}
		{% set hidden="" %}
	{% endif %}
	
	<li class="hidden">{{ form_widget(form.new) }}</li>
	<li class="hidden">{{ form_widget(form.deleteSelected) }}</li>
	
	<li>
		<div class="btn-group {{ hidden }}">
			{{ form_widget(form.selectAll, { 'icon': 'fa-check-square-o', 'label': 'action.selectAll', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
			{{ form_widget(form.selectNone, { 'icon': 'fa-square-o', 'label': 'action.selectNone', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
		</div>
	</li>
	
	{% block headerMoreActions %}
		<li>
			<div class="btn-group {{ hidden }}">
				{{ form_widget(form.imPublishSelected, { 'icon': 'fa-check-square-o', 'label': 'action.imPublishSelected', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
				{{ form_widget(form.imUnpublishSelected, { 'icon': 'fa-square-o', 'label': 'action.imUnpublishSelected', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
			</div>
		</li>
		<li>	
			<div class="btn-group {{ hidden }}">
				{{ form_widget(form.ipPublishSelected, { 'icon': 'fa-check-square-o', 'label': 'action.ipPublishSelected', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
				{{ form_widget(form.ipUnpublishSelected, { 'icon': 'fa-square-o', 'label': 'action.ipUnpublishSelected', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
			</div>
		</li>
	{% endblock %}
{% endblock %}



{% block entryActions %}
	<td>
		<a type="button" class="btn btn-sm btn-primary" href="{{ path('admin_' ~ mainPath ~ '_show', { id: item.id }) }}">
			<i class="fa fa-eye"></i>{{ 'action.show'|trans }}
		</a>
	</td>
{% endblock %}