{% extends 'infoprodukt/base/show.html.twig' %}

{% set title = entry.name|raw %}
{% set mainPath = 'product' %}
		
{% set listName = 'title.products'|trans %}

{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<span class="text-red">{{ entry.brand.name }}</span>
				<span class="text-brand">{{ entry.name }}</span>
			</h3>
		</div>
	</div>
	{% endblock %}
	
	{% block logo %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="rect">
				{% if entry.image %}
					<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
						alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
				{% endif %}
			</div>	
		</div>
	</div>
	{% endblock %}
	
	{% block back %}
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary fa fa-arrow-circle-o-left" href="{{ path('infoprodukt_' ~ mainPath) }}"></a>
			<a class="btn btn-primary fa fa-arrow-circle-o-up pull-right" href="#"></a>
		</div>
	</div>	
	{% endblock %}
{% endblock %}
