{% extends 'infomarket/base/index.html.twig' %}

{% set title = 'label.search'|trans %}
{% set mainPath = 'search' %}

{% block moreBreadcrumbs %}
	/ 
	<a href="{{ path(basePath ~ 'search') }}">
		{{ 'label.search'|trans }}
	</a>
{% endblock %}
		
{% block mainContent %}
	{% block categories %}
	{% if entries|length > 0 %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ path(basePath ~ 'category') }}">
					<h2>{{ 'label.categories'|trans }}</h2>
				</a>
				
				{% include 'common/tile_list.html.twig' with {'entries': entries, 'entryPath': 'category', 'limit': 12} %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center lowered">					
				{% if entries|length > 12 %}
					<a class="btn btn-danger" href="{{ path(basePath ~ 'category') }}">{{ 'label.readMore'|trans }}</a>
				{% endif %}	
			</div>
		</div>
	{% endif %}
	{% endblock %}
	
	
	{% block products %}
	{% if products|length > 0 %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ path(basePath ~ 'product') }}">
					<h2>{{ 'label.products'|trans }}</h2>
				</a>
				
				{% include 'common/tile_list.html.twig' with {'entries': products, 'entryPath': 'product', 'limit': 12} %}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center lowered">
				{% if products|length > 12 %}
					<a class="btn btn-danger" href="{{ path(basePath ~ 'product') }}">{{ 'label.readMore'|trans }}</a>
				{% endif %}	
			</div>
		</div>
	{% endif %}
	{% endblock %}
	
	
	{% block articles %}
	{% if articles|length > 0 %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ path(basePath ~ 'article') }}">
					<h2>{{ 'label.articles'|trans }}</h2>
				</a>
				
				{% include 'common/tile_list.html.twig' with {'entries': articles, 'entryPath': 'article', 'limit': 12} %}	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center lowered">
				{% if articles|length > 12 %}
					<a class="btn btn-danger" href="{{ path(basePath ~ 'article') }}">{{ 'label.readMore'|trans }}</a>
				{% endif %}
			</div>
		</div>
	{% endif %}
	{% endblock %}
	
	
{# 	{% block brands %}#}
{# 	{% if brands|length > 0 %}#}
{# 	<div class="row">#}
{# 		<div class="col-xs-12">#}
{# 			<a href="{{ path(basePath ~'brand') }}">#}
{# 				<h2>{{ 'label.brands'|trans }}</h2>#}
{# 			</a>#}
			
{# 			{% include 'common/tile_list.html.twig' with {'entries': brands, 'entryPath': 'brand', 'limit': 12} %}#}
{# 		</div>#}
{# 	</div>#}
{# 	<div class="row">#}
{# 		<div class="col-xs-12 text-center lowered">#}
{# 			{% if brands|length > 12 %}#}
{# 				<a class="btn btn-danger" href="{{ path(basePath ~'brand') }}">{{ 'label.readMore'|trans }}</a>#}
{# 			{% endif %}	#}
{# 		</div>#}
{# 	</div>#}
{# 	{% endif %}#}
{# 	{% endblock %}#}
	
	
	{% block terms %}
	{% if terms|length > 0 %}
		<div class="row">
			<div class="col-xs-12">
				<a href="{{ path(basePath ~ 'term') }}">
					<h2>{{ 'label.terms'|trans }}</h2>
				</a>
				
				{% for entry in terms %}
					{% if loop.index <= 12 %}
						<div class="col-sm-3">
							<a href="{{ path(basePath ~'term_show', { 'id': entry.id }) }}">
								{{ entry.name | raw }}
							</a>
						</div>
					{% endif %}
				{% else %}
					<p>{{ 'label.noEntries'|trans }}</p>
				{% endfor %}		
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center lowered">
				{% if terms|length > 12 %}
					<a class="btn btn-danger" href="{{ path(basePath ~'term') }}">{{ 'label.readMore'|trans }}</a>
				{% endif %}			
			</div>
		</div>
	{% endif %}
	{% endblock %}
{% endblock %}
