{% extends 'infoprodukt/base/base.html.twig' %}

{% block moreBreadcrumbs%}
	
	{% set categoryId = null %}
	{% if category is defined %}
		{% set categoryId = category.preleaf ? category.id : category.parent.id %}
		{% set categoryName = category.preleaf ? category.name : category.parent.name %}
		{% set categorySubname = category.preleaf ? category.subname : category.parent.subname %}
		/ 
		<a href="{{ path(basePath ~ 'category_show', { id: categoryId, category: categoryId }) }}">
			{{ categoryName }} {{ categorySubname }}
		</a>
	{% endif %}
	/ 
	<a href="{{ path(basePath ~ mainPath, { category: categoryId }) }}">
		{{ title }}
	</a>
	{% block moreMoreBreadcrumbs%}
	{% endblock %}
	
{% endblock %}
