{% extends 'infoprodukt/base/show.html.twig' %}

{% set title = entry.name | raw %}
{% set mainPath = 'article' %}
		
{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h2>
				<span class="text-brand">{{ entry.name | raw }}</span>
				<span class="text-red">{{ entry.subname | raw }}</span>
			</h2>
{# 			<h2 class="humnst1">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst2">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst3">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst4">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst5">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst6">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst7">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
{# 			<h2 class="humnst8">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
			
{# 			<h2 class="gothic">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
			
{# 			<h2 class="gothic-bold">#}
{# 				<span class="text-brand">{{ entry.name | raw }}</span>#}
{# 				<span class="text-red">{{ entry.subname | raw }}</span>#}
{# 			</h2>#}
		</div>
	</div>
	{% endblock %}
	
	<div class="col-xs-{{ entry.displaySided ? 6 : 12 }}"> 
		{% block logo %}
		<div class="col-sm-{{ entry.displaySided ? 12 : 4 }}">
			<div class="rect">
				<img class="div-center" src="{{ asset(entry.getImagePath()) }}">
			</div>
			<p class="text-muted">
				<span class="fa fa-calendar"></span> {{ entry.publishedAt | date('Y-m-d') }}
				{% if entry.publishedBy %}
					, <span class="fa fa-user"></span> {{ entry.publishedBy.name }}
				{% endif %}
			</p>	
		</div>
		{% endblock %}
		
		{% block summary %}
		<div class="col-sm-{{ entry.displaySided ? 12 : 8 }}">
			<div class="row">
				<div class="col-xs-12">
					<p><strong>{{ entry.intro | raw }}</strong></p>
{# 					<p class="humnst1">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst2">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst3">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst4">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst5">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst6">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst7">{{ entry.intro | raw }}</p>#}
{# 					<p class="humnst8">{{ entry.intro | raw }}</p>#}
				
{# 					<p class="gothic">{{ entry.intro | raw }}</p>#}
{# 					<p class="gothic-bold">{{ entry.intro | raw }}</p>#}
				</div>
			</div>
		</div>
		{% endblock %}
		
		{% block description %}
		<div class="row">
			<div class="col-xs-12">
				<p>{{ entry.content | raw }}</p>
{# 				<p class="humnst1">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst2">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst3">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst4">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst5">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst6">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst7">{{ entry.content | raw }}</p>#}
{# 				<p class="humnst8">{{ entry.content | raw }}</p>#}
				
{# 				<p class="gothic">{{ entry.content | raw }}</p>#}
{# 				<p class="gothic-bold">{{ entry.content | raw }}</p>#}
			</div>
		</div>
		{% endblock %}
	</div>
	
	<div class="col-xs-{{ entry.displaySided ? 6 : 12 }}"> 
		{% block subarticles %}
		<div class="row">
			<div class="col-xs-12">
				{% if entry.layout == constant('AppBundle\\Entity\\Article::DEFAULT_RIGHT_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/default_right.html.twig' with { 'articles': entry.children } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::DEFAULT_ALTERNATE_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/default_alternate.html.twig' with { 'articles': entry.children } %}
				
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::NARROW_LEFT_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/narrow_left.html.twig' with { 'articles': entry.children } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::NARROW_RIGHT_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/narrow_right.html.twig' with { 'articles': entry.children } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::NARROW_ALTERNATE_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/narrow_alternate.html.twig' with { 'articles': entry.children } %}
				
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::WIDE_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/wide.html.twig' with { 'articles': entry.children } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::WIDE_SMALL_IMAGE_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/wide_small_image.html.twig' with { 'articles': entry.children } %}
				
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::COLUMN_2_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/column.html.twig' with { 'articles': entry.children, 'cols': 6 } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::COLUMN_3_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/column.html.twig' with { 'articles': entry.children, 'cols': 4 } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::COLUMN_4_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/column.html.twig' with { 'articles': entry.children, 'cols': 3 } %}
				
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::GRID_2_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/grid.html.twig' with { 'articles': entry.children, 'cols': 6 } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::GRID_3_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/grid.html.twig' with { 'articles': entry.children, 'cols': 4 } %}
				{% elseif entry.layout == constant('AppBundle\\Entity\\Article::GRID_4_LAYOUT') %}
					{% include 'infoprodukt/article/subarticles/grid.html.twig' with { 'articles': entry.children, 'cols': 3 } %}
				
				{% else %}
					{% include 'infoprodukt/article/subarticles/default_left.html.twig' with { 'articles': entry.children } %}
				{% endif %}
			</div>
		</div>
		{% endblock %}
	</div>
	
	{% block back %}
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary fa fa-arrow-circle-o-left" href="{{ path('infoprodukt_' ~ mainPath) }}"></a>
			<a class="btn btn-primary fa fa-arrow-circle-o-up pull-right" href="#"></a>
		</div>
	</div>	
	{% endblock %}
{% endblock %}
