{% extends 'infoprodukt/base/show.html.twig' %}

{% set title = entry.name %}
{% set mainPath = 'article' %}
		
{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h1>{{ entry.name }}</h1>
		</div>
		
		{% block logo %}
		<div class="col-sm-4">
			<div class="rect">
				<img class="img-responsive div-center" src="{{ asset(entry.getImagePath()) }}">
			</div>	
		</div>
		{% endblock %}
		
		{% block summary %}
		<div class="col-sm-8">
			<div class="row">
				<div class="col-xs-12">
					<p><strong>{{ entry.intro }}</strong></p>
				</div>
			</div>
		</div>
		{% endblock %}
		
	</div>
	{% endblock %}
	
	{% block description %}
	<div class="row">
		<div class="col-xs-12">
			<p>{{ entry.content }}</p>
		</div>
	</div>
	{% endblock %}
	
	{% block back %}
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary fa fa-arrow-circle-o-left" href="{{ path('infoprodukt_' ~ mainPath) }}"></a>
			<a class="btn btn-primary fa fa-arrow-circle-o-up pull-right" href="#"></a>
		</div>
	</div>	
	{% endblock %}
{% endblock %}
