<li>
	{% set caretClass = caretClass|default('') %}
	
	{% if entry.preleaf != true and entry.children|length > 0 %}
		<a class="trigger right-caret {{ caretClass }}">
			{{ entry.name | raw }} {{ entry.subname | raw }}
		</a>
		<ul class="dropdown-menu sub-menu">
			{% for subentry in entry.children %}
				{% include 'common/category/menu_entry.html.twig' with { 'entry': subentry } %}
			{% endfor %}
			
			{% if entry.children|length > 10 %}
				<li role="separator" class="divider"></li>
				<li>
					<a href="{{ path(basePath ~ 'category_show', { id: entry.id, category: entry.id }) }}">
						<span class="text-red">{{ 'label.more' | trans }}</span>
					</a>
				</li>
			{% endif %}
		</ul>
	{% else %}
		<a href="{{ path(basePath ~ 'category_show', { id: entry.id, category: entry.id }) }}">
			{{ entry.name | raw }} {{ entry.subname | raw }}
		</a>
	{% endif %}
</li>