<div class="row">
	<div class="panel">
		<div class="panel-body">
			<div class="col-sm-3">
				<div class="rect">
					{% if entry.image %}
						<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
							alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
					{% endif %}
				</div>
			</div>
			<div class="col-sm-9">
				<h3>
					<span class="text-brand">{{ entry.name }}</span> 
					<span class="text-red">{{ entry.subname }}</span>
				</h3>
				
				{% if entry.content %}
					<p>{{ entry.content | raw }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>