{% extends 'benchmark/__site/index.html.twig' %}

{% set title = 'label.search'|trans %}
{% set mainPath = 'search' %}

{% block moreBreadcrumbs %}
	/ 
	<a href="{{ path(basePath ~ 'search') }}">
		{{ 'label.search'|trans }}
	</a>
{% endblock %}
		
{% block content %}
	<div class="vr-space-40"></div>

	<div class="container">
		{% block products %}
			{% if products|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<a href="{{ path(basePath ~ 'product') }}">
							<h2>{{ 'label.products'|trans }}</h2>
						</a>
						
						{% include 'common/tile_list.html.twig' with {'entries': products, 'entryPath': 'product', 'limit': 12} %}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-center lowered">
						{% if products|length > 12 %}
							<a class="btn btn-danger" href="{{ path(basePath ~ 'product') }}">{{ 'label.showMore'|trans }}</a>
						{% endif %}	
					</div>
				</div>
			{% else %}
				<div class="row">
					<div class="col-xs-12">
						<p>{{ 'label.noEntries'|trans }}</p>
					</div>
				</div>
			{% endif %}
		{% endblock %}
	</div>
	
	<div class="vr-space-40"></div>
{% endblock %}
