{% extends 'admin/image/editor.html.twig' %}

{% set title = 'title.archivedArticles'|trans %}
{% set mainPath = 'archived_article' %}
{% set gender = 'm.' %}

{% block moreFields2 %}
	{{ form_row(form.subname, { 'label': 'label.subname' }) }}
{% endblock %}
	
{% block moreFields3 %}
	{{ form_row(form.featured, { 'label': 'label.m.featured' }) }}
	{{ form_row(form.archived, { 'label': 'label.article.archived' }) }}
	
	{{ form_row(form.parent, { 'label': 'label.article.parent' }) }}
	
	{{ form_row(form.page, { 'label': 'label.page' }) }}
	{{ form_row(form.orderNumber, { 'label': 'label.orderNumber' }) }}
	
	{{ form_row(form.layout, { 'label': 'label.article.layout' }) }}
	{{ form_row(form.imageSize, { 'label': 'label.article.imageSize' }) }}
    
	<div class="form-group">
		<label>{{ 'label.article.date'|trans }}</label>
		<div class='input-group date' id='datetimepicker1'>
			{{ form_widget(form.date) }}
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	    </div>
    </div>
    
    <div class="form-group">
		<label>{{ 'label.article.endDate'|trans }}</label>
		<div class='input-group date' id='datetimepicker1'>
			{{ form_widget(form.endDate) }}
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	    </div>
    </div>
    
	{{ form_row(form.author, { 'label': 'label.article.author' }) }}
	
	{{ form_row(form.intro, { 'label': 'label.intro' }) }}	
    {{ form_row(form.content, { 'label': 'label.content' }) }}
    
    <script type="text/javascript">
		$(function () {
			$('div.date').datetimepicker();
		});
	</script>
{% endblock %}

{% block moreActions1 %}
	{% if entry.id %}
		<a href="{{ path('admin_article_preview', { id: entry.id }) }}"
			class="btn btn-primary">
			<span class="fa fa-eye"></span> 
			{{ 'action.article.preview'|trans }} 
		</a>
	{% endif %}
{% endblock %}

{% block assignments %}
	{% include 'admin/article/assignments.html.twig' with { 'entry': entry } %}
{% endblock %}