{% extends 'infoprodukt/base/show.html.twig' %}

{% set mainPath = 'brand' %}

{% set listName = 'label.brands'|trans %}
		
{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-red">{{ entry.name | raw }}</h2>
		</div>
	</div>
	<div class="row">
		{% block logo %}
		<div class="col-sm-6 col-sm-offset-3">
			<div class="rect-2x1">
				{% if entry.image %}
					<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
						alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
				{% endif %}
			</div>	
		</div>
		{% endblock %}
		
	</div>
	{% endblock %}
	
	{% block description %}
	<div class="row">
		<div class="col-xs-12">
			<p>{{ entry.content | raw }}</p>
			<p class="text-center title">
				<a class="text-red" href="{{ entry.www }}">www</a>
			</p>
		</div>
	</div>
	{% endblock %}
	
	{% include 'common/show/back.twig' %}
{% endblock %}
