{% extends 'infoprodukt/base/show.html.twig' %}

{% set title = entry.name|raw %}
{% set mainPath = 'brand' %}

{% set listName = 'title.brands'|trans %}
		
{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h2 class="text-red">{{ entry.name | raw }}</h2>
		</div>
	</div>
	<div class="row">
		{% block logo %}
		<div class="col-sm-6 col-sm-offset-3">
			<div class="rect-2x1">
				{% if entry.image %}
					<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
						alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
				{% endif %}
			</div>	
		</div>
		{% endblock %}
		
	</div>
	{% endblock %}
	
	{% block description %}
	<div class="row">
		<div class="col-xs-12">
			<p>{{ entry.content | raw }}</p>
			<p class="text-center title">
				<a class="text-red" href="{{ entry.www }}">www</a>
			</p>
		</div>
	</div>
	{% endblock %}
	
	{% block back %}
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary fa fa-arrow-circle-o-left" href="{{ path('infoprodukt_' ~ mainPath) }}"></a>
			<a class="btn btn-primary fa fa-arrow-circle-o-up pull-right" href="#"></a>
		</div>
	</div>	
	{% endblock %}
{% endblock %}
