{% extends 'admin/simple/show.html.twig' %}

{% set title = 'title.newsletterBlockTemplates'|trans %}
{% set mainPath = 'newsletter_block_template' %}
{% set gender = 'm.' %}

{% block moreFields3 %}
	<div class="row">
		<div class="col-sm-9">
			<h4>{{ 'label.newsletterBlockTemplate.style'|trans }}</h4>
		</div>
		<div class="col-sm-9">
			{{ entry.style }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-9">
			<h4>{{ 'label.newsletterBlockTemplate.content'|trans }}</h4>
		</div>
		<div class="col-sm-9">
			{{ entry.content }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-9">
			<h4>{{ 'label.newsletterBlockTemplate.advertContent'|trans }}</h4>
		</div>
		<div class="col-sm-9">
			{{ entry.advertContent }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-9">
			<h4>{{ 'label.newsletterBlockTemplate.articleContent'|trans }}</h4>
		</div>
		<div class="col-sm-9">
			{{ entry.articleContent }}
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-9">
			<h4>{{ 'label.newsletterBlockTemplate.magazineContent'|trans }}</h4>
		</div>
		<div class="col-sm-9">
			{{ entry.magazineContent }}
		</div>
	</div>
{% endblock %}