{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	{% block header %}
		<div class="page-header">
			<h1>{{ title }}</h1>
			
			<div>
				<a href="{{ path('fos_user_security_logout') }}">{% trans %}title.logout{% endtrans %}</a>
			</div>	
		</div>
	{% endblock %}
	
	{% block menu %}
		<div>
			<ul class="nav nav-tabs">
				<li {% if mainPath == 'admin' %} class="active" {% endif %}><a href="{{ path('admin') }}">{% trans %}title.admin{% endtrans %}</a></li>
				<li {% if mainPath == 'article' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'article') }}">{% trans %}title.articles{% endtrans %}</a></li>
				<li {% if mainPath == 'branch' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'branch') }}">{% trans %}title.branches{% endtrans %}</a></li>
				<li {% if mainPath == 'brand' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'brand') }}">{% trans %}title.brands{% endtrans %}</a></li>
				<li {% if mainPath == 'category' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'category') }}">{% trans %}title.categories{% endtrans %}</a></li>
				<li {% if mainPath == 'segment' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'segment') }}">{% trans %}title.segments{% endtrans %}</a></li>
				<li {% if mainPath == 'product' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'product') }}">{% trans %}title.products{% endtrans %}</a></li>
			</ul>
		</div>
	{% endblock %}
	
	{% block content %}
	{% endblock %}
{% endblock %}
