{% extends 'admin/base.html.twig' %}

{% set basePath = 'admin_' %}

{% set gender = gender | default('') %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	{% block header %}
		<div class="container-fluid page-header">
			<div class="col-xs-12">
				<h1>{{ title }}</h1>
				
				<p>
					{{ 'label.welcome'|trans }} <strong>{{ app.user.username }}</strong>, <br>
					<a href="{{ path('admin_logout') }}">
						{{ 'label.logout'|trans }}
					</a>
				</p>
			</div>	
		</div>
	{% endblock %}
	
	{% block menu %}
		<div class="container-fluid">
{# 			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
      		<ul class="nav navbar-nav navbar-right">
{# 			<ul class="nav nav-tabs">#}
				
				<li {% if mainPath == 'admin' %} class="active" {% endif %}><a href="{{ path('admin') }}">{% trans %}title.admin{% endtrans %}</a></li>
				<li {% if 'article' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success"></span> {{ 'title.articles'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path('admin_' ~ 'article') }}">
								{{ 'title.articles'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'archived_article') }}">
								{{ 'title.archivedArticles'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'article_category') }}">
								{{ 'title.article_categories'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'tag') }}">
								{{ 'title.tags'|trans }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ path('admin_' ~ 'article_brand_assignment') }}">
								{{ 'title.article_brand_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'article_article_category_assignment') }}">
								{{ 'title.article_article_category_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'article_category_assignment') }}">
								{{ 'title.article_category_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'article_tag_assignment') }}">
								{{ 'title.article_tag_assignments'|trans }}
							</a>
						</li>
					</ul>
				</li>
				<li {% if mainPath == 'branch' %} class="active" {% endif %}><a href="{{ path('admin_' ~ 'branch') }}">{% trans %}title.branches{% endtrans %}</a></li>
				<li {% if 'category' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success "></span> {{ 'title.categories'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path('admin_' ~ 'category') }}">
								{{ 'title.categories'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'category_tree') }}">
								{{ 'title.category_tree'|trans }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ path('admin_' ~ 'branch_category_assignment') }}">
								{{ 'title.branch_category_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'brand_category_assignment') }}">
								{{ 'title.brand_category_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'product_category_assignment') }}">
								{{ 'title.product_category_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path('admin_' ~ 'term_category_assignment') }}">
								{{ 'title.term_category_assignments'|trans }}
							</a>
						</li>
					</ul>
				</li>
				<li {% if 'product' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success "></span> {{ 'title.products'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path(basePath ~ 'product') }}">
								{{ 'title.products'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'brand') }}">
								{{ 'title.brands'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'segment') }}">
								{{ 'title.segments'|trans }}
							</a>
						</li>
					</ul>
				</li>
				<li {% if 'advert' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success "></span> {{ 'title.adverts'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path('admin_' ~ 'advert') }}">
								{{ 'title.adverts'|trans }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ path('admin_' ~ 'advert_category_assignment') }}">
								{{ 'title.advert_category_assignments'|trans }}
							</a>
						</li>
					</ul>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li {% if 'newsletter' in mainPath %} class="active" {% endif %} class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<span class="txt-success"></span> {{ 'title.newsletter'|trans }} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="{{ path(basePath ~ 'newsletter_user') }}">
									{{ 'title.newsletterUsers'|trans }}
								</a>
							</li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_group') }}">
									{{ 'title.newsletterGroups'|trans }}
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_user_import') }}">
									{{ 'label.newsletterUser.import'|trans }}
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_page') }}">
									{{ 'title.newsletterPages'|trans }}
								</a>
							</li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_block') }}">
									{{ 'title.newsletterBlocks'|trans }}
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_page_template') }}">
									{{ 'title.newsletterPageTemplates'|trans }}
								</a>
							</li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_block_template') }}">
									{{ 'title.newsletterBlockTemplates'|trans }}
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_user_newsletter_group_assignment') }}">
									{{ 'title.newsletter_user_newsletter_group_assignments'|trans }}
								</a>
							</li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_user_newsletter_page_assignment') }}">
									{{ 'title.newsletter_user_newsletter_page_assignments'|trans }}
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_block_advert_assignment') }}">
									{{ 'title.newsletter_block_advert_assignments'|trans }}
								</a>
							</li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_block_article_assignment') }}">
									{{ 'title.newsletter_block_article_assignments'|trans }}
								</a>
							</li>
							<li>
								<a href="{{ path(basePath ~ 'newsletter_block_magazine_assignment') }}">
									{{ 'title.newsletter_block_magazine_assignments'|trans }}
								</a>
							</li>
						</ul>
					</li>
				{% endif %}
				<li {% if 'menu' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success "></span> {{ 'title.menus'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path(basePath ~ 'menu') }}">
								{{ 'title.menus'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'menu_entry') }}">
								{{ 'title.menuEntries'|trans }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ path(basePath ~ 'menu_menu_entry_assignment') }}">
								{{ 'title.menuMenuEntryAssignments'|trans }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ path(basePath ~ 'menu_entry_branch_assignment') }}">
								{{ 'title.menuEntryBranchAssignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'menu_entry_category_assignment') }}">
								{{ 'title.menuEntryCategoryAssignments'|trans }}
							</a>
						</li>
					</ul>
				</li>
				<li {% if 'magazine' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success "></span> {{ 'title.magazines'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path(basePath ~ 'magazine') }}">
								{{ 'title.magazines'|trans }}
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ path(basePath ~ 'magazine_branch_assignment') }}">
								{{ 'title.magazine_branch_assignments'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'magazine_category_assignment') }}">
								{{ 'title.magazine_category_assignments'|trans }}
							</a>
						</li>
					</ul>
				</li>
				<li {% if 'other' in mainPath %} class="active" {% endif %} class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="txt-success "></span> {{ 'title.others'|trans }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path(basePath ~ 'page') }}">
								{{ 'title.pages'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'link') }}">
								{{ 'title.links'|trans }}
							</a>
						</li>
						<li>
							<a href="{{ path(basePath ~ 'term') }}">
								{{ 'title.terms'|trans }}
							</a>
						</li>
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a href="{{ path(basePath ~ 'user') }}">
									{{ 'title.users'|trans }}
								</a>
							</li>
						{% endif %}
					</ul>
				</li>
				<li>
					<a href="{{ path(basePath ~ 'user_settings') }}">
						{{ 'title.settings'|trans }}
					</a>
				</li>
			</ul>
		</div>
	{% endblock %}
	
	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}
