{% extends 'admin/index.html.twig' %}

{% block content %}
	
	{% block filterMenu %}
		<div class="panel-group" id="accordion">
			<div id="filter" class="accordion-body collapse">
			
				{% block filterForm %}
					{% form_theme filter 'form/fields.html.twig' %}
					
					{{ form_start(filter) }}
					<ul class="list-inline col-xs-12">
						{% block filterMoreFields1 %}
						{% endblock %}
					
						{% block filterMainFields1 %}
						{% endblock %}
						
						{% block filterMoreFields2 %}
						{% endblock %}
						
						{% block filterMainFields2 %}
						{% endblock %}
						
						{% block filterActions %}
						{% endblock %}
					</ul>			
					{{ form_end(filter) }}
				{% endblock %}
			</div>
		</div>
		
		<script type="text/javascript">$("#filter").collapse("hide");</script>
	{%  endblock %}
	
	{%  block listBlock %}
		{% form_theme form 'form/fields.html.twig' %}
	
		{{ form_start(form) }}
			{% block listActions %}
				<ul class="list-inline">
					{% block headerActions %}
					{% endblock %}
					<li>
						<a class="btn btn-primary toggle" data-toggle="collapse" data-parent="#accodrion" href="#filter">
							<i class="fa fa-filter"></i>{{ 'action.filter'|trans }}
						</a>
					</li>
				</ul>
			{% endblock %}
	    	
    		{% block listTable %}
	    		<table class="table table-striped">
					<thead>
						{% block tableHeader %}
							<th><i class="fa fa-check-square-o"></i>{{ 'label.selected'|trans }}</th>
							
							{% block headerMoreFields1 %}
							{% endblock %}
						
							{% block headerMainFields1 %}
							{% endblock %}
							
							{% block headerMoreFields2 %}
							{% endblock %}
							
							{% block headerMainFields2 %}
							{% endblock %}
						{% endblock %}
					</thead>
					<tbody>
						{% block tableBody %}
							{% for entry in form.entries%}
							    {% set index = entry.vars.value %}{# get array index #}
							    {% set item = form.entries.vars.choices[index].data %}{# get entity object #}
							    {% block tableRow %}
							    <tr>
							    	{% block tableEntry %}
							    		<td>{{ form_widget(entry) }}</td>
							    		
								    	{% block entryMoreFields1 %}
										{% endblock %}
									
										{% block entryMainFields1 %}
										{% endblock %}
										
										{% block entryMoreFields2 %}
										{% endblock %}
										
										{% block entryMainFields2 %}
										{% endblock %}
										
										{% block entryActions %}
										{% endblock %}
							    	{% endblock %}
							    </tr>
							    {% endblock %}
						    {% endfor %}
						{% endblock %}
					</tbody>
				</table>
			{% endblock %}
		{{ form_end(form) }}
	{% endblock %}
	
	{% block listPaginator %}
		<div>
	        {{ knp_pagination_render(entries) }}
	    </div>
    {% endblock %}
    
{% endblock %}
