<div class="col-xs-12">
	{% if alternate is not defined %}
		{% set alternate = false %}
	{% endif %}
	
	{% if textPrimary is not defined %}
		{% set textPrimary = 'text-brand' %}
	{% endif %}
	{% if textSecondary is not defined %}
		{% set textSecondary = 'text-red' %}
	{% endif %}
	
	<a class="text-white" href="{{ path('infoprodukt_' ~ entryPath ~ '_show', { 'id': entry.id }) }}">
		<div class="rect">
			<img class="div-center img-{{ entry.vertical ? '' : 'v' }}responsive" 
				alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
		</div>
		<div class="col-xs-12 rect-title {{ alternate and loop.index % 2 ? textSecondary : textPrimary }}">
			<h5>{{ entry.getHtmlName() | raw }}</h5>
		</div>
		{% if entry.subname is defined %}
			<div class="col-xs-12 rect-subtitle col-bottom {{ alternate and loop.index % 2 ? textPrimary : textSecondary }}">
				<p>{{ entry.subname | raw }}</p>
			</div>
		{% endif %}
	</a>
</div>