{% if alternate is not defined %}
	{% set alternate = false %}
{% endif %}

{% if entryPath is not defined %}
	{% set entryPath = mainPath %}
{% endif %}

{% if extPath is not defined %}
	{% set extPath = '_show' %}
{% endif %}

{% if routeParams is not defined %}
	{% set routeParams = { 'id': entry.id } %}
{% elseif extPath %}
	{% set routeParams = routeParams|merge({ 'id': entry.id }) %}
{% endif %}

{% if bkgPrimary is not defined %}
	{% set bkgPrimary = 'bkg-brand' %}
{% endif %}
{% if bkgSecondary is not defined %}
	{% set bkgSecondary = 'bkg-red' %}
{% endif %}

<a class="text-white" href="{{ path(basePath ~ entryPath ~ extPath, routeParams) }}">
	<div class="col-xs-12 bottom-rect-tile">
		<div class="rect bkg-white">
			{% if entry.image %}
				<img class="div-center img-{{ entry.vertical ? '' : 'v' }}responsive" 
					alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
			{% endif %}
		</div>
		
		<div class="title {{ alternate and loop.index % 2 ? bkgSecondary : bkgPrimary }}">
			<h3>{{ entry.name | raw }}</h3>
		</div>
		
		<div class="subtitle {{ alternate and loop.index % 2 ? bkgPrimary : bkgSecondary }}">
			<h4>{{ entry.subname | raw }}</h4>
		</div>
	</div>
	
</a>