<div class="col-xs-12">
	{% if alternate is not defined %}
		{% set alternate = false %}
	{% endif %}
	
	{% if bkgPrimary is not defined %}
		{% set bkgPrimary = 'bkg-brand' %}
	{% endif %}
	{% if bkgSecondary is not defined %}
		{% set bkgSecondary = 'bkg-red' %}
	{% endif %}
	
	<a class="text-white" href="{{ path('infoprodukt_' ~ entryPath ~ '_show', { 'id': entry.id }) }}">
		<div class="rect">
			<img class="div-center" alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
		</div>
		<div class="col-xs-12 rect-title {{ alternate and loop.index % 2 ? bkgSecondary : bkgPrimary }}">
			<h5>{{ entry.name }}</h5>
		</div>
		{% if entry.subname is defined %}
			<div class="col-xs-12 rect-subtitle col-bottom {{ alternate and loop.index % 2 ? bkgPrimary : bkgSecondary }}">
				<p>{{ entry.subname }}</p>
			</div>
		{% endif %}
	</a>
</div>