<div class="col-xs-12">
	{% if alternate is not defined %}
		{% set alternate = false %}
	{% endif %}
	
	{% if routeParams is not defined %}
		{% set routeParams = { 'id': entry.id } %}
	{% else %}
		{% set routeParams = routeParams|merge({ 'id': entry.id }) %}
	{% endif %}
	
	{% if entryPath is not defined %}
		{% set entryPath = mainPath %}
	{% endif %}
	
	{% if bkgPrimary is not defined %}
		{% set bkgPrimary = 'bkg-brand' %}
	{% endif %}
	{% if bkgSecondary is not defined %}
		{% set bkgSecondary = 'bkg-red' %}
	{% endif %}
	
	<a class="text-white" href="{{ path(basePath ~ entryPath ~ '_show', routeParams) }}">
		<div class="row">
		<div class="rect bkg-white">
			{% if entry.image %}
				<img class="div-center img-{{ entry.vertical ? '' : 'v' }}responsive" 
					alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
			{% endif %}
		</div>
		</div>
		<div class="row rect-title {{ alternate and loop.index % 2 ? bkgSecondary : bkgPrimary }}">
			<h3>{{ entry.getHtmlName() | raw }}</h3>
		</div>
		{% if entry.subname is defined %}
			<div class="row rect-subtitle col-bottom {{ alternate and loop.index % 2 ? bkgPrimary : bkgSecondary }}">
				<h4>{{ entry.subname }}</h4>
			</div>
		{% endif %}
	</a>
</div>