<li>
	{% if is_granted('ROLE_EDITOR') %}
		<a href="{{ path('admin_' ~ mainPath ~ '_new', { parent: entry.id }) }}">
			<span class="fa fa-file-o"></span>
		</a>
		 
		<a href="{{ path('admin_' ~ mainPath ~ '_edit', { id: entry.id }) }}">
			<span class="fa fa-edit"></span>
		</a>
		
		<a href="{{ path('admin_' ~ mainPath ~ '_copy', { id: entry.id }) }}" class="horizontal-break">
			<span class="fa fa-copy"></span>
		</a>
	{% endif %}
	
	<a href="{{ path('admin_' ~ mainPath ~ '_ratings', { id: entry.id }) }}" class="horizontal-break">
		<span class="fa fa-tasks"></span>
	</a>
	
	{% include 'common/fields/bool_action_field.html.twig' with 
		{ 'id': entry.id, 'value': entry.published, 'extPath': '_set_published',
			'trueTooltip': 'label.published'|trans, 'falseTooltip': 'label.unpublished'|trans } %}
	
	{% include 'common/fields/bool_action_field.html.twig' with 
		{ 'id': entry.id, 'value': entry.featured, 'extPath': '_set_featured',
			'trueTooltip': 'label.featured'|trans, 'falseTooltip': 'label.notFeatured'|trans,
			'trueIcon': 'fa-star', 'falseIcon': 'fa-star-o' } %}
			
	{% include 'common/fields/bool_action_field.html.twig' with 
		{ 'id': entry.id, 'value': entry.preleaf, 'extPath': '_set_preleaf',
			'trueTooltip': 'label.preleaf'|trans, 'falseTooltip': 'label.other'|trans,
			'trueIcon': 'fa-leaf text-green', 'falseIcon': 'fa-leaf text-red' } %}
			
	<span class="horizontal-break"></span>
	
	<a href="{{ path('admin_' ~ mainPath ~ '_show', { id: entry.id }) }}" class="horizontal-break">
		{{ entry.name | raw }} 
		<span class="text-red">{{ entry.subname | raw }}</span>
	</a>
	
	{% if entry.children | length > 0 %}
		<a data-toggle="collapse" data-target="#{{ entry.id }}">
			<span class="fa fa-caret-right"></span> 
		</a>
		
		<ul id="{{ entry.id }}" class="nav-collapse collapse nav-tree">
			{% for subentry in entry.children %}
				{% include 'common/category_node.html.twig' with { 'entry': subentry } %}
			{% endfor %}
		</ul>
	{% endif %}
</li>