<div class="row">
	{% if routeParams %}
		{% set routeParams = routeParams | merge({ 'id': entry.id }) %}	
	{% else %}
		{% set routeParams = { 'id': entry.id } %}
	{% endif %}
	<a class="text-white" href="{{ path('infoprodukt_' ~ entryPath ~ '_show', routeParams) }}">
		<div class="rect col-bottom bkg-white">
			
			{% if entry.image %}
				<img class="div-center img-{{ entry.vertical ? '' : 'v' }}responsive" 
					alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
			{% endif %}
					
			<div class="col-xs-12 div-bottom bkg-black-50">
				<div class="rect-3x1">
					<h4 class="div-top">
						{{ entry.getHtmlName() | raw }}
					</h4>
				</div>
			</div>
		</div>
	</a>
</div>