{% if routeParams is not defined %}
	{% set routeParams = { 'id': entry.id } %}
{% else %}
	{% set routeParams = routeParams|merge({ 'id': entry.id }) %}
{% endif %}	

{% if entryPath is not defined %}
	{% set entryPath = mainPath %}
{% endif %}

<a class="text-white" href="{{ path(basePath ~ entryPath ~ '_show', routeParams) }}">
	<div class="rect col-bottom bkg-white">
		
		{% if entry.image %}
			<img class="div-center img-{{ entry.vertical ? '' : 'v' }}responsive" 
				alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
		{% endif %}
				
		<div class="col-xs-12 div-bottom bkg-black-50">
			<div class="rect-3x1">
				<p class="div-top">
					{% if entry.brandName is defined %}
						<strong>{{ entry.brandName }}</strong></br>
					{% endif %}
					{{ entry.name }} {{ entry.subname is defined ? entry.subname : '' }}
				</p>
			</div>
		</div>
	</div>
</a>