{% extends 'infoprodukt/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 well">
				<h1>{{ 'title.categories'|trans }}</h1>
				
				{% block categoryFilterBlock %}
					<div class="row">
						{% form_theme categoryFilterForm 'form/fields.html.twig' %}
							
						{{ form_start(categoryFilterForm) }}
							<ul class="list-inline col-xs-12">
								<li class="col-xs-10">
									<div class='input-group name'>
										{{ form_widget(categoryFilterForm.name, { 'label': 'label.name' }) }}
										<span class="input-group-addon">
											<i class="fa fa-search"></i>
										</span>
									</div>
								</li>
								
								<li class="col-xs-2">
									{{ form_widget(categoryFilterForm.search, { 'icon': 'fa-search', 'label': '', 'attr': {'class': 'btn btn-primary'} }) }}
								</li>
								
								<li class="hidden"> {{ form_widget(categoryFilterForm.clear) }} </li>
								
								<li class="hidden"> {{ form_widget(categoryFilterForm.published) }} </li>
								
								<li class="hidden"> {{ form_widget(categoryFilterForm.updatedAfter) }} </li>
							    <li class="hidden"> {{ form_widget(categoryFilterForm.updatedBefore) }} </li>
							    <li class="hidden"> {{ form_widget(categoryFilterForm.createdAfter) }} </li>
							    <li class="hidden"> {{ form_widget(categoryFilterForm.createdBefore) }} </li>
							</ul>			
						{{ form_end(categoryFilterForm) }}
					</div>
				{% endblock %}
				
				{% for entry in categories %}
					{% if loop.index <= 12 %}
						<div class="col-xs-3 col-sm-2 col-lg-1 no-padding">
							<div class="tile branch-{{ entry.branches.count > 0 ? entry.branches.get(0).branch.id : 0 }}">
								<a href="{{ path('infoprodukt_home', filterParams|merge({'category': entry.name})) }}"
									data-toggle="tooltip" data-placement="bottom" title="{{ entry.name }}">
									<h4 class="text-xs-center"><i class="fa {{ entry.icon }} fa-2x align-text-center"></i></h4>
								</a>
							</div>
						</div>
					{% endif %}
				{% else %}
					{{ 'label.noEntries'|trans }}
				{% endfor %}
				
				<script>
				$(document).ready(function(){
				    $('[data-toggle="tooltip"]').tooltip(); 
				});
				</script>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-3 col-sm-push-9 no-more-padding">
				
				{% block categoriesBlock %}
					<div class="well">
						<h1>{{ 'title.categories'|trans }}</h1>
						
						{% block categoriesFilterBlock %}
							<div class="row">
								{% form_theme categoryFilterForm 'form/fields.html.twig' %}
									
								{{ form_start(categoryFilterForm) }}
									<ul class="list-inline col-xs-12">
										<li class="col-xs-10">
											<div class='input-group name'>
												{{ form_widget(categoryFilterForm.name, { 'label': 'label.name' }) }}
												<span class="input-group-addon">
													<i class="fa fa-search"></i>
												</span>
											</div>
										</li>
										
										<li class="col-xs-2">
											{{ form_widget(categoryFilterForm.search, { 'icon': 'fa-search', 'label': ' ', 'attr': {'class': 'btn btn-primary'} }) }}
										</li>
										
										<li class="hidden"> {{ form_widget(categoryFilterForm.clear) }} </li>
										
										<li class="hidden"> {{ form_widget(categoryFilterForm.published) }} </li>
										
										<li class="hidden"> {{ form_widget(categoryFilterForm.updatedAfter) }} </li>
									    <li class="hidden"> {{ form_widget(categoryFilterForm.updatedBefore) }} </li>
									    <li class="hidden"> {{ form_widget(categoryFilterForm.createdAfter) }} </li>
									    <li class="hidden"> {{ form_widget(categoryFilterForm.createdBefore) }} </li>
									</ul>			
								{{ form_end(categoryFilterForm) }}
							</div>
						{% endblock %}
					
						<div class="row">
							<div class="col-xs-12">
								{% for entry in categories %}
									{% if loop.index <= 12 %}
										<div class="col-xs-3 col-sm-4 thumbnail">
											<a href="{{ path('infoprodukt_home', filterParams|merge({'category': entry.name})) }}"
												data-toggle="tooltip" data-placement="bottom" title="{{ entry.name }}">
												<img alt=" " src="{{ asset('img/template/placeholder-2x1.png') }}">
											</a>
										</div>
									{% endif %}
								{% else %}
									{{ 'label.noEntries'|trans }}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endblock %}
				
				{% block segmentsBlock %}
					<div class="well">
						<h1>{{ 'title.segments'|trans }}</h1>
						
						<div class="row">
							<div class="col-xs-12">
								{% for entry in segments %}
									{% if loop.index <= 12 %}
										<div class="col-xs-4 col-sm-6 thumbnail">
											<a href="{{ path('infoprodukt_home', filterParams|merge({'segment': entry.name})) }}"
												data-toggle="tooltip" data-placement="bottom" title="{{ entry.name }}">
												<img alt=" " src="{{ asset(entry.getImagePath()) }}">
											</a>
										</div>
									{% endif %}
								{% else %}
									{{ 'label.noEntries'|trans }}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endblock %}
				
				{% block brandsBlock %}
					<div class="well">
						<h1>{{ 'title.brands'|trans }}</h1>
						
						{% block brandFilterBlock %}
							<div class="row">
								{% form_theme brandFilterForm 'form/fields.html.twig' %}
									
								{{ form_start(brandFilterForm) }}
									<ul class="list-inline col-xs-12">
										<li class="col-xs-10">
											<div class='input-group name'>
												{{ form_widget(brandFilterForm.name, { 'label': 'label.name' }) }}
												<span class="input-group-addon">
													<i class="fa fa-search"></i>
												</span>
											</div>
										</li>
										
										<li class="col-xs-2">
											{{ form_widget(brandFilterForm.search, { 'icon': 'fa-search', 'label': ' ', 'attr': {'class': 'btn btn-primary'} }) }}
										</li>
										
										<li class="hidden"> {{ form_widget(brandFilterForm.clear) }} </li>
										
										<li class="hidden"> {{ form_widget(brandFilterForm.published) }} </li>
										
										<li class="hidden"> {{ form_widget(brandFilterForm.updatedAfter) }} </li>
									    <li class="hidden"> {{ form_widget(brandFilterForm.updatedBefore) }} </li>
									    <li class="hidden"> {{ form_widget(brandFilterForm.createdAfter) }} </li>
									    <li class="hidden"> {{ form_widget(brandFilterForm.createdBefore) }} </li>
									</ul>			
								{{ form_end(brandFilterForm) }}
							</div>
						{% endblock %}
					
						<div class="row">
							<div class="col-xs-12">
								{% for entry in brands %}
									{% if loop.index <= 12 %}
										<div class="col-xs-4 col-sm-6 thumbnail">
											<a href="{{ path('infoprodukt_home', filterParams|merge({'brand': entry.name})) }}"
												data-toggle="tooltip" data-placement="bottom" title="{{ entry.name }}">
	{# 											<img class="img-responsive" alt=" " src="{{ asset('img/template/dummy-1x1.png') }}">#}
												<img class="img-responsive" alt=" " src="{{ asset(entry.getImagePath()) }}">
											</a>
										</div>
									{% endif %}
								{% else %}
									{{ 'label.noEntries'|trans }}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endblock %}
			</div>
			
			
			
			
			<div class="col-sm-9 col-sm-pull-3 well">
				<h1>{{ 'title.products'|trans }}</h1>
				
				{% block productFilterBlock %}
					<div class="row">
						{% form_theme productFilterForm 'form/fields.html.twig' %}
							
						{{ form_start(productFilterForm) }}
							<ul class="list-inline col-xs-12">
								<li class="col-xs-10">
									<div class='input-group name'>
										{{ form_widget(productFilterForm.name, { 'label': 'label.name' }) }}
										<span class="input-group-addon">
											<i class="fa fa-search"></i>
										</span>
									</div>
								</li>
								
								<li class="col-xs-2">
									{{ form_widget(productFilterForm.search, { 'icon': 'fa-search', 'label': ' ', 'attr': {'class': 'btn btn-primary'} }) }}
								</li>
								
								<li class="hidden"> {{ form_widget(productFilterForm.clear) }} </li>
								
								<li class="hidden"> {{ form_widget(productFilterForm.published) }} </li>
								
								<li class="hidden"> {{ form_widget(productFilterForm.updatedAfter) }} </li>
							    <li class="hidden"> {{ form_widget(productFilterForm.updatedBefore) }} </li>
							    <li class="hidden"> {{ form_widget(productFilterForm.createdAfter) }} </li>
							    <li class="hidden"> {{ form_widget(productFilterForm.createdBefore) }} </li>
							    
							    <li class="hidden"> {{ form_widget(productFilterForm.categories) }} </li>
							    <li class="hidden"> {{ form_widget(productFilterForm.brands) }} </li>
							</ul>			
						{{ form_end(productFilterForm) }}
					</div>
				{% endblock %}
				
				<div class="row">
					{% for entry in entries %}
						{% if loop.index <= 12 %}
							<div class="col-sm-6 col-md-4">
								<div class="thumbnail">
									<img alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
									<div class="caption">
										<h3>{{ entry.brand.name }}</h3>
										<h4>{{ entry.name }}</h4>
										<a href="{{ path('infoprodukt_home', { 'product': entry.name }) }}"></a>
										<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
									</div>
								</div>
							</div>
						{% endif %}
					{% else %}
						{{ 'label.noEntries'|trans }}
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12">
						{% block paginator %}
					        {{ knp_pagination_render(entries) }}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
