{% set infomarket = infomarket | default(false) %}
{% set infoprodukt = infoprodukt | default(false) %}

<li>
	{% set caretClass = caretClass|default('') %}
	
	{% if entry.children | length > 0 %}
		<a class="trigger right-caret {{ caretClass }}">
			{{ entry.name | raw }}
		</a>
		<ul class="dropdown-menu sub-menu">
			{% for subentry in entry.children %}
				{% include 'common/menu/menu_entry.html.twig' with { 'entry': subentry } %}
			{% endfor %}
		</ul>
	{% else %}
		{% if entry.page %}
			<a href="{{ path(basePath ~ 'page_show', { id: entry.page }) }}">{{ entry.name }}</a>
		{% elseif entry.link %}
			<a href="{{ path(basePath ~ 'link_show', { id: entry.link }) }}">{{ entry.name }}</a>
		{% else %}
			<a href="#">{{ entry.name }}</a>
		{% endif %}
	{% endif %}
</li>