{% extends 'benchmark/product/base.html.twig' %}

{% set basePath = 'benchmark_' %}
{% set title = title|default('title.benchmark')|trans %}

{% set gender = gender | default('') %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	{% block header %}
		<div class="container-fluid page-header">
			<div class="col-xs-12">
				<h1>{{ title }}</h1>
				
				<p>
					{{ 'label.welcome'|trans }} <strong>{{ app.user.username }}</strong>, <br>
					<a href="{{ path('admin_logout') }}">
						{{ 'label.logout'|trans }}
					</a>
				</p>
			</div>	
		</div>
	{% endblock %}
	
	{% block content %}
		<div class="container-fluid">
			<div class="col-sm-2">
				{% block sidebar %}
					<div class="col-xs-12">
						<h3>{{ category.name }} {{ category.subname }}</h3>
					</div>
					
					{% block categoryFilterForm %}
						{% form_theme categoryFilter 'form/fields.html.twig' %}
						
						{{ form_start(categoryFilter) }}
							<div class="col-xs-12">
								{{ form_row(categoryFilter.category, { label: 'label.benchmark.category' }) }}
							</div>
							<div class="col-xs-12">
									{{ form_row(categoryFilter.submit, { 'icon': 'fa-check', 'label': 'action.submit', 'attr': {'class': 'btn btn-success'} }) }}
							</div>		
						{{ form_end(categoryFilter) }}
						
						{% form_theme subcategoryFilter 'form/fields.html.twig' %}
						
						{{ form_start(subcategoryFilter) }}
							<div class="col-xs-12">
								{{ form_row(subcategoryFilter.subcategory, { label: 'label.benchmark.subcategory' }) }}
							</div>
							<div class="col-xs-12">
								{{ form_row(subcategoryFilter.submit, { 'icon': 'fa-check', 'label': 'action.submit', 'attr': {'class': 'btn btn-success'} }) }}
							</div>	
						{{ form_end(subcategoryFilter) }}
						
						{% form_theme filter 'form/fields.html.twig' %}
						
						{{ form_start(filter) }}
							{% set hidden = filter.categories.vars.choices|length > 0 ? '' : 'hidden' %}
							<div class="col-xs-12 {{ hidden }}">
								{{ form_row(filter.categories, { label: 'label.benchmark.categories' }) }}
							</div>
							
							{% set hidden = filter.brands.vars.choices|length > 0 ? '' : 'hidden' %}
							<div class="col-xs-12 {{ hidden }}">
								{{ form_row(filter.brands, { label: 'label.benchmark.brands' }) }}
							</div>
							
							{% for field in entryFilter.filterFields %}
									{% if field.filterType == constant('AppBundle\\Entity\\BenchmarkField::DECIMAL_FILTER_TYPE') %}
										<div class="col-xs-6">
											{{ form_row(filter[field.filterName|clean ~ '_min'], { label: field.filterName ~ ' (min)' }) }}
										</div>
										<div class="col-xs-6">
											{{ form_row(filter[field.filterName|clean ~ '_max'], { label: field.filterName ~ ' (max)' }) }}
										</div>
									{% elseif field.filterType == constant('AppBundle\\Entity\\BenchmarkField::INTEGER_FILTER_TYPE') %}
										<div class="col-xs-6">
											{{ form_row(filter[field.filterName|clean ~ '_min'], { label: field.filterName ~ ' (min)' }) }}
										</div>
										<div class="col-xs-6">
											{{ form_row(filter[field.filterName|clean ~ '_max'], { label: field.filterName ~ ' (max)' }) }}
										</div>
									{% else %}
										<div class="col-xs-12">
											{{ form_row(filter[field.filterName|clean], { label: field.filterName }) }}
										</div>
									{% endif %}
							{% endfor %}
							
							<div class="col-xs-12">
								<div class="btn-group">
									{{ form_widget(filter.search, { 'icon': 'fa-search', 'label': 'action.search', 'attr': {'class': 'btn btn-primary'} }) }}
									{{ form_widget(filter.clear, { 'icon': 'fa-eraser', 'label': 'action.clear', 'attr': {'class': 'btn btn-warning'} }) }}
								</div>	
							</div>
						{{ form_end(filter) }}
					{% endblock %}
				{% endblock %}
			</div>
			<div class="col-sm-10">
				{% block tableContent %}
					{% set restWidth = 90 - entries|length * 15 %}
					<table class="table table-striped vert-align">
						<tr>
							<th width="10%" class="text-right">{{ 'label.category'|trans }}</th>
							{% for entry in entries %}
								<td width="15%" class="text-center">
									{% if filter.categories.vars.choices|length > 0 %}
										{{ entry.categoryName }}&nbsp;{{ entry.categorySubname }}
									{% endif %}
								</td>
							{% endfor %}
							<td width="{{ restWidth }}%"></td>
						</tr>
						<tr>
							<th></th>
							{% for entry in entries %}
								<td>
									<div class="rect">
										<div class="div-center">
											<img class="img-responsive" alt="{{ entry.name }}" src="{{ asset(entry.image) }}" />
										</div>
									</div>
								</td>
							{% endfor %}
							<td></td>
						</tr>
						<tr>
							<th class="text-right">{{ 'label.brand'|trans }}</th>
							{% for entry in entries %}
								<td class="text-center">{{ entry.brandName }}</td>
							{% endfor %}
							<td></td>
						</tr>
						<tr>
							<th class="text-right">{{ 'label.name'|trans }}</th>
							{% for entry in entries %}
								<td class="text-center">{{ entry.name }}</td>
							{% endfor %}
							<td></td>
						</tr>
						
						{% for field in entryFilter.showFields %}
							{% set key = benchmarkFieldValueTypeDBName(field.valueType) ~ field.valueNumber %}
							<tr>
								<th class="text-right">{{ field.fieldName }}</th>
								{% for entry in entries %}
									<td class="text-center">
										{% if field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::BOOLEAN_FIELD_TYPE') %}
									        {{ entry[key] ? '+' : '-' }}
										{% else %}
									        {{ entry[key] }}
										{% endif%}
									</td>
								{% endfor %}
								<td></td>
							</tr>							
						{% endfor %}
						
					</table>
				{% endblock %}
				
				{% block tablePaginator %}
					<div>
				        {{ knp_pagination_render(entries) }}
				    </div>
			    {% endblock %}
			</div>	
		</div>
	{% endblock %}
{% endblock %}
