{% extends 'admin/base/index.html.twig' %}

{% set mainPath = 'product_category_assignment' %}
{% set title = 'title.product_category_assignments'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.categories, { 'label': 'label.categories' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.segments, { 'label': 'label.segments' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.brands, { 'label': 'label.brands' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.products, { 'label': 'label.products' }) }}
	</li>
{% endblock %}

{% block filterMoreFields3 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.featured, { 'label': 'label.' ~ gender ~ 'featured' }) }}
{% endblock %}



{% block headerMainFields1 %}
	<th><i class="fa fa-"></i> {{ 'label.category'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.segment'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.brand'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.product'|trans }}</th>
	<th><i class="fa fa-star"></i> {{ 'label.featured'|trans }}</th>
{% endblock %}

{% block entryMainFields1 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'category', value: { id: item.categoryId, name: item.categoryName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'segment', value: { id: item.segmentId, name: item.segmentName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'brand', value: { id: item.brandId, name: item.brandName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'product', value: { id: item.productId, name: item.productName } } %}
	</td>
	<td>
		{% include 'common/fields/bool_action_field.html.twig' with 
			{ 'id': item.id, 'value': item.featured, 'extPath': '_set_featured',
				'trueTooltip': 'label.featured'|trans, 'falseTooltip': 'label.notFeatured'|trans,
				'trueIcon': 'fa-star', 'falseIcon': 'fa-star-o' } %}
	</td>
{% endblock %}