{% extends 'benchmark/editor.html.twig' %}

{% set mainPath = 'benchmarkMessage' %}
{% set title = 'label.benchmarkMessages'|trans %}
{% set gender = 'fm.' %}
		
{%  block headerFields %}
	<h2>{{ product.brandName }}</h2>	
    <h3>{{ product.name }}</h3>
{% endblock %}

{%  block flagFields %}
	{{ form_row(form.name, { 'label': 'label.name' }) }}	
    {{ form_row(form.content, { 'label': 'label.content' }) }}
{% endblock %}

{% block mainActions %}
	<div class="btn-group">
		{{ form_widget(form.save, { 'icon': 'fa-save', 'label': 'action.save', 'attr': {'class': 'btn btn-success'} }) }}
	</div>
{% endblock %}