{% extends 'admin/image/editor.html.twig' %}

{% set mainPath = 'product' %}
{% set title = 'title.products'|trans %}
{% set gender = 'm.' %}


{% block preFormBlock %}
	{% if categoryFilterForm is defined and categoryFilterForm.category.vars.choices|length > 0 %}	
		{% form_theme categoryFilterForm 'form/fields.html.twig' %}
		
		{{ form_start(categoryFilterForm) }}
			
			{{ form_row(categoryFilterForm.category, { 'label': 'label.category' }) }}
			{{ form_row(categoryFilterForm.submit, { 'label': 'action.submit', 'attr': {'class': 'btn btn-success'} }) }}
			
		{{ form_end(categoryFilterForm) }}
	{% endif %}
{% endblock %}

		
{%  block headerFields %}	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.brand, label: 'label.brand' } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.name, label: 'label.name' } %}
{% endblock %}

{% block contentFields %}
	{% include 'admin/image/components/editor/image.twig' %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.infomarket, label: 'label.' ~ gender ~ 'infomarket', xs: 6, md: 3 } %}
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.infoprodukt, label: 'label.' ~ gender ~ 'infoprodukt', xs: 6, md: 3 } %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/custom_image.twig' with 
	{ field: form.topProduktImage, image: entry.topProduktImage, label: 'label.product.topProduktImage'} %}
	
	<div class="row"></div>
	
	{% include 'admin/common/editor/form_field.twig' with 
	{ field: form.price, label: 'label.product.price' } %}
	
	{% if productFilter is defined %}
		{% for field in productFilter.editorFields %}
			<div class="col-xs-12">
				{{ form_row(form[field.valueField], { label: field.fieldName }) }}
			</div>
		{% endfor %}
	{% endif %}
{%  endblock %}

{% block assignments %}
	{% include 'admin/product/assignments.html.twig' %}
{% endblock %}