{% extends 'admin/image/index.html.twig' %}

{% set mainPath = 'product' %}
{% set title = 'title.products'|trans %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.categories, { 'label': 'label.categories' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.brands, { 'label': 'label.brands' }) }}
	</li>
{% endblock %}

	
{% block simpleHeaderMoreActions %}
	{% set hidden='hidden' %}
	{% if is_granted('ROLE_RATING_EDITOR') %}
		{% set hidden="" %}
	{% endif %}
		
	{% set confirm = 'return confirm("' ~ 'confirm.deleteUnused'|trans ~ '")' %}
	<li>
		<div class="{{ hidden }}">
			<a type="button" class="btn btn-danger" onclick="{{ confirm }}"
				href="{{ path(basePath ~ mainPath ~ '_delete_unused') }}">
				<i class="fa fa-trash"></i> {{ 'action.product.deleteUnused'|trans }}
			</a>
			<a type="button" class="btn btn-primary""
				href="{{ path(basePath ~ mainPath ~ '_get_top_products') }}">
				<i class="fa fa-file-text-o"></i> {{ 'action.product.getTopProducts'|trans }}
			</a>
		</div>
	</li>
{% endblock %}

{% block headerMainFields2 %}
	<th><i class="fa fa-"></i> {{ 'label.brand'|trans }}</th>
{% endblock %}

{% block entryMainFields2 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'brand', value: { id: item.brandId, name: item.brandName } } %}
	</td>
{% endblock %}