{% extends 'admin/simple/index.html.twig' %}

{% set mainPath = 'product' %}
{% set title = 'title.products'|trans %}



{% block filterSmallFields %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.name, label: 'label.name' } %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.infomarket, label: 'label.infomarket' } %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.infoprodukt, label: 'label.infoprodukt' } %}
{% endblock %}

{% block filterLargeFields %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.categories } %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.brands } %}
{% endblock %}



{% block simpleHeaderFields %}
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'globe', label: 'label.brand' } %}

	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'photo', label: 'label.image' } %}
	
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'fa-check', tooltip: 'label.infomarket' } %}
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'fa-check', tooltip: 'label.infoprodukt' } %}
{% endblock %}

{% block simpleEntryFields %}
	{% include 'common/fields/table/simple_link_field.html.twig' with 
		{ type: 'brand', id: item.brandId, name: item.brandName } %}
	
	{% include 'common/fields/table/image_field.html.twig' with 
		{ item: item } %}
	
	{% include 'common/fields/table/bool_action_field.html.twig' with
		{ id: item.id, value: item.infomarket, extPath: '_set_im_published',
			trueTooltip: 'label.infomarket', falseTooltip: 'label.notInfomarket' } %}
	{% include 'common/fields/table/bool_action_field.html.twig' with
		{ id: item.id, value: item.infoprodukt, extPath: '_set_ip_published',
			trueTooltip: 'label.infoprodukt', falseTooltip: 'label.notInfoprodukt' } %}
{% endblock %}



{% block baseMoreActions %}
	{% set hidden = canEdit ? '' : 'hidden' %}
	
	{% include 'common/buttons/infomarket_buttons.html.twig' %}
	{% include 'common/buttons/infoprodukt_buttons.html.twig' %}

{# 	TODO move somewhere else :)#}
	{% if is_granted('ROLE_RATING_EDITOR') %}
		{% set confirm = 'return confirm("' ~ 'confirm.deleteUnused'|trans ~ '")' %}
		<a type="button" class="btn btn-danger" onclick="{{ confirm }}"
			href="{{ path(basePath ~ mainPath ~ '_delete_unused') }}">
			<i class="fa fa-trash"></i> {{ 'action.product.deleteUnused'|trans }}
		</a>
		<a type="button" class="btn btn-primary""
			href="{{ path(basePath ~ mainPath ~ '_get_top_products') }}">
			<i class="fa fa-file-text-o"></i> {{ 'action.product.getTopProducts'|trans }}
		</a>
	{% endif %}
	
{% endblock %}