{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'product' %}
{% set title = 'title.products'|trans %}
{% set gender = 'm.' %}

{% block moreFields1 %}
	{% if entry.brand %}
		<div class="row">
			<div class="col-xs-12">
				<h2>{{ entry.brand.name | raw }}</h2>
			</div>
		</div>
	{% endif %}
	
	{% if entry.topProduktImage %}
	<div class="row">
	    <div class="col-xs-12">
	    	<div class="rect-1x1">
				<img alt="{{ entry.name | raw }}" src="{{ asset(entry.topProduktImage) }}" class="div-center" />
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}
	
{% block moreFields3 %}
	<div class="lowered-25"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ 'label': 'label.brand', 'value': entry.brand, 'object': 'brand' } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ 'label': 'label.product.price', 'value': entry.price|number_format(2, '.', ' ') } %}
	
	<div class="lowered-25"></div>
	
	
	{% block categoryFilterForm %}	
		{% if categoryFilterForm.category.vars.choices|length > 0 %}	
			{% form_theme categoryFilterForm 'form/fields.html.twig' %}
			
			{{ form_start(categoryFilterForm) }}
				
				{{ form_row(categoryFilterForm.category, { 'label': 'label.category' }) }}
				{{ form_row(categoryFilterForm.submit, { 'label': 'action.submit', 'attr': {'class': 'btn btn-success'} }) }}
				
			{{ form_end(categoryFilterForm) }}
		{% endif %}
	{% endblock %}
	
	{% for field in productFilter.editorFields %}
		<div class="col-xs-12">
			{% set key = benchmarkFieldValueTypeDBName(field.valueType) ~ field.valueNumber %}
			
			{% if field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::BOOLEAN_FIELD_TYPE') %}
				{% include 'common/fields/bool_field.html.twig' with 
					{ 'label': field.fieldName, 'value': entry[key] } %}
			{% elseif field.fieldType == constant('AppBundle\\Entity\\BenchmarkField::DECIMAL_FIELD_TYPE') %}
				{% include 'common/fields/text_field.html.twig' with 
					{ 'label': field.fieldName, 'value': entry[key] ? entry[key]|number_format(field.decimalPlaces, '.', ' ') : '' } %}
			{% else %}
				{% include 'common/fields/text_field.html.twig' with 
					{ 'label': field.fieldName, 'value': entry[key] } %}
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}

{% block assignments %}
	{% include 'admin/product/assignments.html.twig' with { 'entry': entry } %}
{% endblock %}