{% extends 'infomarket/base/index.html.twig' %}

{% set title = 'title.articles'|trans %}
{% set type = 'title.articles'|trans %}
{% set mainPath = 'article' %}

{% block moreSidebarContent %}
	{% block articleCategoriesBlock %}
		<h1>{{ 'title.articleCategories'|trans }}</h1>
		
		{% form_theme articleFilterForm 'form/fields.html.twig' %}
		
		<div class="col-xs-12">
			{{ form_start(articleFilterForm) }}
				{{ form_row(articleFilterForm.articleCategories, { 'label': ' ' }) }}
				
				<div class="btn-group">
					{{ form_widget(articleFilterForm.search, { 'icon': 'fa-search', 'label': 'action.search', 'attr': {'class': 'btn btn-primary'} }) }}
					{{ form_widget(articleFilterForm.clear, { 'icon': 'fa-eraser', 'label': 'action.clear', 'attr': {'class': 'btn btn-warning'} }) }}
				</div>
			{{ form_end(articleFilterForm) }}
		</div>
	{% endblock %}
{% endblock %}
		
{% block mainContent %}
	{% block articles %}
	<div class="row">
		<div class="col-xs-12">
			{% for entry in entries%}
				<div class="row">
					<div class="panel">
						<div class="panel-body">
							<div class="col-sm-3">
								<div class="rect">
									{% if entry.image %}
										<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
											alt="{{ entry.name | raw }}" src="{{ asset(entry.getImagePath()) }}">
									{% endif %}
								</div>
							</div>
							<div class="col-sm-9">
								{% for articleBrandAssignment in entry.articleBrandAssignments %}
									<a href="{{ path(basePath ~ 'brand_show', { id: articleBrandAssignment.brand.id }) }}">
										<h3 class="text-red">{{ articleBrandAssignment.brand.name | raw }} </h3>
									</a> 
								{% endfor %}
								
								<a href="{{ path(basePath ~ mainPath ~ '_show', { 'id': entry.id }) }}">
									<h3>
										<span class="text-brand">{{ entry.name | raw }}</span> 
										<span class="text-red">{{ entry.subname | raw }}</span>
									</h3>
								</a>
								
								<div class="col-xs-6 text-muted">
									{% if entry.date %}
										<span class="fa fa-calendar"></span> {{ entry.date | date('Y-m-d') }}
									{% endif %}
								</div>
								
								<div class="col-xs-6 text-muted">
									{% if entry.author %}
										<span class="fa fa-user"></span> {{ entry.author }}
									{% endif %}
								</div>
								
								<div class="col-xs-12 text-muted">
									{% if entry.articleTagAssignments | length > 0 %}
										<span class="fa fa-tags"></span> 
										{% spaceless %}
										{% for articleTagAssignment in entry.articleTagAssignments %}
											{{- loop.index > 1 ? ', ' : '' -}}
											<a href="{{ path(basePath ~ mainPath, { article_filter_tags: articleTagAssignment.tag.id }) }}">
												{{- articleTagAssignment.tag.name -}}
											</a>
											 
										{% endfor %}
										{% endspaceless %}
									{% endif %}
								</div>
								
								<div class="col-xs-12">
									<p>
										{{ entry.intro | raw }}
									</p>
									<a class="btn btn-danger" href="{{ path(basePath ~ mainPath ~ '_show', { 'id': entry.id }) }}">
										{{ 'label.readMore'|trans }}
									</a>
								</div>
								
								<div class="vr-space-10"></div>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<p>{{ 'label.noEntries'|trans }}</p>
			{% endfor %}
		</div>
	</div>
	{% endblock %}
	
	{% block paginator %}
	<div class="row">
		<div class="col-xs-12">
	        {{ knp_pagination_render(entries) }}
		</div>
	</div>
	{% endblock %}
{% endblock %}
