{% extends 'admin/image/editor.html.twig' %}

{% set title = 'title.adverts'|trans %}
{% set mainPath = 'advert' %}
{% set gender = 'fm.' %}

{% block moreFields3 %}
	{{ form_row(form.location, { 'label': 'label.advert.location' }) }}
	
	{{ form_row(form.link, { 'label': 'label.advert.link' }) }}
	
	<div class="form-group">
		<label>{{ 'label.advert.dateFrom'|trans }}</label>
		<div class='input-group date' id='datetimepicker1'>
			{{ form_widget(form.dateFrom) }}
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	    </div>
    </div>
    
    <div class="form-group">
		<label>{{ 'label.advert.dateTo'|trans }}</label>
		<div class='input-group date' id='datetimepicker1'>
			{{ form_widget(form.dateTo) }}
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	    </div>
    </div>
	
	{{ form_row(form.showLimit, { 'label': 'label.advert.showLimit' }) }}
	{{ form_row(form.clickLimit, { 'label': 'label.advert.clickLimit' }) }}
	
	{# TODO should be in some baseMoreJavascript block #}
	<script type="text/javascript">
		$(function () {
			$('div.date').datetimepicker();
		});
	</script>
{% endblock %}

{% block assignments %}
	{% include 'admin/advert/assignments.html.twig' with { 'entry': entry } %}
{% endblock %}