{% extends 'admin/image/index.html.twig' %}

{% set mainPath = 'advert' %}
{% set title = 'title.adverts'|trans %}

{% block filterMoreFields3 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.locations, { 'label': 'label.advert.locations' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.categories, { 'label': 'label.categories' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.link, { 'label': 'label.advert.link' }) }}
	</li>
{% endblock %}
	
{% block headerMoreFields3 %}
	<th class="visible-lg">
		{% include 'common/fields/table/icon_field.html.twig' 
			with { label: 'label.advert.short.showCount', tooltip: 'label.advert.showCount', icon: 'eye'} %}
	</th>
	<th class="visible-lg">
		{% include 'common/fields/table/icon_field.html.twig' 
			with { label: 'label.advert.short.showLimit', tooltip: 'label.advert.showLimit', icon: 'eye-slash'} %}
	</th>
	<th class="visible-lg">
		{% include 'common/fields/table/icon_field.html.twig' 
			with { label: 'label.advert.short.clickCount', tooltip: 'label.advert.clickCount', icon: 'hand-pointer-o'} %}
	</th>
	<th class="visible-lg">
		{% include 'common/fields/table/icon_field.html.twig' 
			with { label: 'label.advert.short.clickLimit', tooltip: 'label.advert.clickLimit', icon: 'hand-stop-o'} %}
	</th>
{% endblock %}

{% block entryMoreFields3 %}
	<td class="visible-lg">{{ item.showCount }}</td>
	<td class="visible-lg">{{ item.showLimit }}</td>
	<td class="visible-lg">{{ item.clickCount }}</td>
	<td class="visible-lg">{{ item.clickLimit }}</td>
{% endblock %}