{% set categoryId = category is defined and category ? category.id : '' %}

{% block content %}

	{% block mainArticle %}
		{% if page == 1 %}
			{% include 'common/article/article_content.html.twig' with { 'article': entry } %}
		{% endif %}
	{% endblock %}
	
	{% block subarticles %}
		{% for subarticle in subarticles %}
			{% include 'common/article/article_content.html.twig' with { 'article': subarticle } %}
		{% endfor %}
	{% endblock %}
	
	{% block paginator %}
	{% if pages > 1 %}
		<ul class="pagination">
			<li class={{ page == 1 ? 'disabled' : '' }}>
				<a href="{{ path(basePath ~ mainPath ~ extPath, { id: entry.id, page: page-1, category: categoryId }) }}">
					<span class="fa fa-angle-double-left"></span></a>
			</li>
			
			{% for num in 1 .. pages %}
				<li class={{ num == page ? 'active' : '' }}>
					<a href="{{ path(basePath ~ mainPath ~ extPath, { id: entry.id, page: num, category: categoryId }) }}">
						{{ num }}</a>
				</li>
			{% endfor %}
			
			<li class={{ page == pages ? 'disabled' : '' }}>
				<a href="{{ path(basePath ~ mainPath ~ extPath, { id: entry.id, page: page+1, category: categoryId }) }}">
					<span class="fa fa-angle-double-right"></span></a>
			</li>
		</ul>
	{% endif %}
	{% endblock %}

<div class="row">
	<div class="col-xs-6 text-muted">
		{% if entry.date %}
			<span class="fa fa-calendar"></span> {{ entry.date | date('Y-m-d') }}
		{% endif %}
	</div>
	
	<div class="col-xs-6 text-muted">
		{% if entry.author %}
			<span class="fa fa-user"></span> {{ entry.author }}
		{% endif %}
	</div>
	
	<div class="col-xs-12 text-muted">
		{% if entry.articleTagAssignments | length > 0 %}
			<span class="fa fa-tags"></span> 
			{% spaceless %}
			{% for articleTagAssignment in entry.articleTagAssignments %}
				{{- loop.index > 1 ? ', ' : '' -}}
				<a href="{{ path(basePath ~ mainPath, { category: category is defined ? category.id : null, article_filter_tags: articleTagAssignment.tag.id }) }}">
					{{- articleTagAssignment.tag.name -}}
				</a>
				 
			{% endfor %}
			{% endspaceless %}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block back %}
<div class="vr-space-40"></div>

<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-primary" href="{{ path(basePath ~ mainPath) }}"><span class="fa fa-arrow-circle-o-left"></span> {{ 'action.back' | trans }}</a>
		<a class="btn btn-primary pull-right" href="#"><span class="fa fa-arrow-circle-o-up"></span> {{ 'action.toTop' | trans }}</a>
	</div>
</div>
{% endblock %}

{% block moreJavascripts %}
	<script type="text/javascript">
	<!--
	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');   
		});		
	});
	//-->
	</script>
{% endblock %}