
{% block header %}
<div class="row">
	<div class="col-xs-12">
		{% if entry.brand %}
			<h2>
				<span class="text-red">{{ entry.brand.name | raw }}</span>
			</h2>
		{% endif %}
		<h3>
			<span class="text-brand">{{ entry.name | raw }}</span>
			<span class="text-red">{{ entry.subname | raw }}</span>
		</h3>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="col-xs-{{ entry.displaySided ? 6 : 12 }}"> 
	{% block logo %}
	<div class="col-sm-{{ entry.displaySided ? 12 : 4 }}">
		<a href="#" class="pop">
			<div class="rect">
				<img class="div-center" src="{{ asset(entry.getImagePath()) }}">
			</div>
		</a>
		
		<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">              
					<div class="modal-body">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
						<img src="" class="imagepreview" style="width: 100%;" >
					</div>
				</div>
			</div>
		</div>

		<p class="text-muted">
			<span class="fa fa-calendar"></span> {{ entry.publishedAt | date('Y-m-d') }}
			{% if entry.publishedBy %}
				, <span class="fa fa-user"></span> {{ entry.publishedBy.username }}
			{% endif %}
		</p>	
	</div>
	{% endblock %}
	
	{% block summary %}
	<div class="col-sm-{{ entry.displaySided ? 12 : 8 }}">
		<div class="row">
			<div class="col-xs-12">
				<p><strong>{{ entry.intro | raw }}</strong></p>
			</div>
		</div>
	</div>
	{% endblock %}
	
	{% block description %}
	<div class="row">
		<div class="col-xs-12">
			<p>{{ entry.content | raw }}</p>
		</div>
	</div>
	{% endblock %}
</div>

<div class="col-xs-{{ entry.displaySided ? 6 : 12 }}"> 
	{% block subarticles %}
	<div class="row">
		<div class="col-xs-12">
			{% if entry.layout == constant('AppBundle\\Entity\\Article::DEFAULT_RIGHT_LAYOUT') %}
				{% include 'common/article/subarticles/default_right.html.twig' with { 'articles': entry.children } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::DEFAULT_ALTERNATE_LAYOUT') %}
				{% include 'common/article/subarticles/default_alternate.html.twig' with { 'articles': entry.children } %}
			
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::NARROW_LEFT_LAYOUT') %}
				{% include 'common/article/subarticles/narrow_left.html.twig' with { 'articles': entry.children } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::NARROW_RIGHT_LAYOUT') %}
				{% include 'common/article/subarticles/narrow_right.html.twig' with { 'articles': entry.children } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::NARROW_ALTERNATE_LAYOUT') %}
				{% include 'common/article/subarticles/narrow_alternate.html.twig' with { 'articles': entry.children } %}
			
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::WIDE_LAYOUT') %}
				{% include 'common/article/subarticles/wide.html.twig' with { 'articles': entry.children } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::WIDE_SMALL_IMAGE_LAYOUT') %}
				{% include 'common/article/subarticles/wide_small_image.html.twig' with { 'articles': entry.children } %}
			
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::COLUMN_2_LAYOUT') %}
				{% include 'common/article/subarticles/column.html.twig' with { 'articles': entry.children, 'cols': 6 } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::COLUMN_3_LAYOUT') %}
				{% include 'common/article/subarticles/column.html.twig' with { 'articles': entry.children, 'cols': 4 } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::COLUMN_4_LAYOUT') %}
				{% include 'common/article/subarticles/column.html.twig' with { 'articles': entry.children, 'cols': 3 } %}
			
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::GRID_2_LAYOUT') %}
				{% include 'common/article/subarticles/grid.html.twig' with { 'articles': entry.children, 'cols': 6 } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::GRID_3_LAYOUT') %}
				{% include 'common/article/subarticles/grid.html.twig' with { 'articles': entry.children, 'cols': 4 } %}
			{% elseif entry.layout == constant('AppBundle\\Entity\\Article::GRID_4_LAYOUT') %}
				{% include 'common/article/subarticles/grid.html.twig' with { 'articles': entry.children, 'cols': 3 } %}
			
			{% else %}
				{% include 'common/article/subarticles/default_left.html.twig' with { 'articles': entry.children } %}
			{% endif %}
		</div>
	</div>
	{% endblock %}
</div>
{% endblock %}

{% block back %}
<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-primary fa fa-arrow-circle-o-left" href="{{ path(routingParams.route, routingParams.routeParams) }}"></a>
		<a class="btn btn-primary fa fa-arrow-circle-o-up pull-right" href="#"></a>
	</div>
</div>	
{% endblock %}

{% block moreJavascripts %}
	<script type="text/javascript">
	<!--
	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');   
		});		
	});
	//-->
	</script>
{% endblock %}