<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html" charset=UTF-8 />
    	
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/infoprodukt.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
		{% endblock %}
		
		{% if branches is defined %}
			{% for entry in branches %}
				<style>
					<!--
					.navbar-default .navbar-nav > .active.branch-{{ entry.id }} a {
						color: {{ entry.color }};
						background: #f2f2f2;
					}
					
					.navbar-default .navbar-nav > .branch-{{ entry.id }} a:hover,
					.navbar-default .navbar-nav > .branch-{{ entry.id }} a:focus {
						color: {{ entry.color }};
						background: #f2f2f2;
					}
					
					.active.branch-{{ entry.id }} a {
						color: {{ entry.color }};
						background: #f2f2f2;
					}
					
					
					.home-link.branch-{{ entry.id }} a {
						color: {{ entry.color }};
					}
					
					.branch-color-{{ entry.id }} {
						color: {{ entry.color }};
					}
					
					.tile.branch-{{ entry.id }} {
						background-color: {{ entry.color }};
					}
					-->
				</style>
			{% endfor %}
		{% endif %}

    </head>
    <body>
    	{% block javascripts %}
        	<script src="{{ asset('js/jquery.min.js') }}"></script>
        	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        	<script src="{{ asset('js/moment.min.js') }}"></script>
        	<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
		{% endblock %}
		
		{% block body %}
        {% endblock %}
    </body>
</html>
