{% extends 'infoprodukt/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	
	{% block navigationBar %}
	<nav class="navbar navbar-fixed-top no-more-padding">
		<div class="navbar-default">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						{% block navigationHeader %}
						<div class="navbar-header">
							{% block navigationButton %}
							<button type="button" class="navbar-toggle collapsed" 
									data-toggle="collapse" 
									data-target="#catbar" 
									aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
					      	</button>
				      		{% endblock %}
				      		
				      		{% block navigationBrand %}
							<a class="navbar-brand" href="{{ path('infoprodukt_home') }}">
	{# 								<img alt="Brand" src="{{ asset('img/template/brand-home.png') }}">#}
								<h2 class="title text-brand hidden-xs">
									<span class="text-red">Info</span>Produkt
								</h2>
								<h2 class="title text-brand visible-xs">
									<span class="text-red">I</span>P
								</h2>
							</a>
							{% endblock %}
				    	</div>
				    	{% endblock %}
						
						{% block navigationSearch %}
						<div class="navbar-form navbar-right navbar-input-group hidden-xs" role="search">
							{% form_theme searchFilterForm 'form/fields.html.twig' %}
						
							{{ form_start(searchFilterForm) }}
								<ul class="list-inline">
									<li>
										<div class='input-group input-sm'>
											{{ form_widget(searchFilterForm.name, { 'label': 'label.name', 'attr': { 'class': 'input-sm' }  }) }}
											<span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
										</div>
									</li>
									
									<li class="hidden">
										{{ form_widget(searchFilterForm.search, { 'icon': 'fa-search', 'label': '', 'attr': {'class': 'btn btn-primary'} }) }}
									</li>
									
									<li class="hidden"> {{ form_widget(searchFilterForm.clear) }} </li>
									
									<li class="hidden"> {{ form_widget(searchFilterForm.published) }} </li>
									
									<li class="hidden"> {{ form_widget(searchFilterForm.publishedAfter) }} </li>
									<li class="hidden"> {{ form_widget(searchFilterForm.publishedBefore) }} </li>
									<li class="hidden"> {{ form_widget(searchFilterForm.updatedAfter) }} </li>
								    <li class="hidden"> {{ form_widget(searchFilterForm.updatedBefore) }} </li>
								    <li class="hidden"> {{ form_widget(searchFilterForm.createdAfter) }} </li>
								    <li class="hidden"> {{ form_widget(searchFilterForm.createdBefore) }} </li>
								</ul>			
							{{ form_end(searchFilterForm) }}
						</div>
						{% endblock %}
						
						{% block navigationLinks %}
				    	<div class="collapse navbar-collapse" id="catbar">
							<ul class="nav navbar-nav navbar-right">
								{% for entry in categories %}
									{% if loop.index <= 4 %}
										<li>
											<a href="{{ path('infoprodukt_category_show', {'id': entry.id}) }}">
												{{ entry.name | raw }}
											</a>
										</li>
									{% endif %}
								{% endfor %}
								<li>
									<a href="{{ path('infoprodukt_category') }}">{{ 'label.all'|trans }}</a>
								</li>
							</ul>
						</div>
						{% endblock %}
					</div>
				</div>
		  	</div>
	  	</div>
	</nav>
	{% endblock %}
		
	<div class="container-fluid content">
		{% block content %}
		{% endblock %}
	</div>
	
	{% block footer %}
		<div class="footer">
	  		<div class="container-fluid">
		    	<div class="container">
		    		<div class="row">
		      			<div class="col-sm-3">
		      			</div>
		      			<div class="col-sm-6">
		      				<h5 class="text-xs-center">&copy; {{ 'title.footer.copyright'|trans }}</h5>
		      			</div>
		      			<div class="col-sm-3">
		      				<h5 class="text-xs-center text-sm-left">
{# 		      					{{ 'label.findUs'|trans }} #}
		      					<a href="http://www.facebook.com/infomarket1"><i class="fa fa-facebook"></i></a>
	      					</h5>
		      			</div>
		      		</div>
		      		
		      		<div class="row">
			      		<div class="col-sm-3">
			      			<h5>InfoMarket Sp. z o.o.</h5>
			      			<hr>
			      			<p>
			      				ul. Trylogii 2/16,<br>
			      				01-982 Warszawa<br>
			      				tel./fax: (22) 835 19 17<br>
			      				e-mail: <a href="mailto:redakcja@infomarket.edu.pl">redakcja@infomarket.edu.pl</a>
		      				</p>
			      		</div>
			      		<div class="col-sm-6">
			      			<h5>{{ 'title.footer.office'|trans }}</h5>
			      			<hr>
			      			
			      			{% set half = pages|length / 2 %}
			      			
			      			<div class="row">
				      			<div class="col-xs-6">
					      			{% set count = 0 %}
						      		
					      			{% for entry in pages %}
					      				{% if count < half %}
								      		<div>
								      			<a href="{{ path('infoprodukt_page_show', { id: entry.id}) }}">{{ entry.name }}</a>
							      			</div>
						      			{% endif %}
						      			{% set count = count+1 %}
						      		{% endfor %}
					      		</div>
					      		
					      		<div class="col-xs-6">
									{% set count = 0 %}
						      		
					      			{% for entry in pages %}
					      				{% if count >= half %}
								      		<div>
								      			<a href="{{ path('infoprodukt_page_show', { id: entry.id}) }}">{{ entry.name }}</a>
							      			</div>
						      			{% endif %}
						      			{% set count = count+1 %}
						      		{% endfor %}
					      		</div>
				      		</div>
			      		</div>
			      		<div class="col-sm-3">
			      			<h5>{{ 'title.footer.magazine'|trans }}</h5>
			      			<hr>
			      			
			      			{% for entry in links %}
				      		<div>
				      			<a href="{{ entry.url }}">{{ entry.name }}</a>
			      			</div>
				      		{% endfor %}
			      		</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
	{% endblock %}
	
	{% block certificate %}
	<img class="certificate" alt="{{ 'label.certificate'|trans }}" src="{{ asset('img/template/certificate.jpg') }}">
	{% endblock %}
	
	{% block socialMenu %}
	<div class="social-menu">
		<div class="row">
			<a href="https://www.facebook.com/infomarket1">
				<div class="social-button">
					<span class="div-center fa fa-facebook"></span>
				</div>
			</a>
		</div>
		<div class="row">
			<a href="https://www.youtube.com/channel/UCpH2PHKAxnNlX-zSgJXyjpA">
				<div class="social-button red">
				<span class="div-center fa fa-youtube"></span>
				</div>
			</a>
		</div>
		<div class="row">
			<a href="http://infomarket.edu.loc:8000">
				<div class="social-button">
					<h6 class="div-center"><span class="text-red">I</span>M</h6>
				</div>
			</a>
		</div>
	</div>
	{% endblock %}
	
{% endblock %}
