{% extends 'infoprodukt/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	
	{% block navigationBar %}
	<nav class="navbar navbar-fixed-top no-more-padding">
		<div class="navbar-default">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						{% block navigationHeader %}
						<div class="navbar-header">
							{% block navigationButton %}
								<button type="button" class="navbar-toggle collapsed" 
										data-toggle="collapse" 
										data-target="#catbar" 
										aria-expanded="false">
							        <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
						      	</button>
				      		{% endblock %}
				      		
				      		{% block navigationBrand %}
							<a class="navbar-brand" href="{{ path('infoprodukt_home') }}">
	{# 								<img alt="Brand" src="{{ asset('img/template/brand-home.png') }}">#}
								<h1 class="title text-brand"><span class="text-red">Info</span><span>Produkt</span></h1>
							</a>
							{% endblock %}
				    	</div>
				    	{% endblock %}
						
				    	{% block navigationLinks %}
				    	<div class="collapse navbar-collapse" id="catbar">
							<ul class="nav navbar-nav navbar-left">
								{% for entry in categories %}
									{% if loop.index <= 6 %}
										<li>
											<a href="{{ path('infoprodukt_category_show', routingParams|merge({'id': entry.id})) }}">
												{{ entry.name }}
											</a>
										</li>
									{% endif %}
								{% endfor %}
								<li>
									<a href="{{ path('infoprodukt_category') }}">Inne</a>
								</li>
							</ul>
						</div>
						{% endblock %}
						
						{% block navigationSearch %}
						<div class="navbar-form navbar-right" role="search">
							{% form_theme searchFilterForm 'form/fields.html.twig' %}
						
							{{ form_start(searchFilterForm) }}
								<ul class="list-inline col-xs-12">
									<li>
										<div class='input-group'>
											{{ form_widget(searchFilterForm.name, { 'label': 'label.name' }) }}
											<span class="input-group-addon"><i class="fa fa-search"></i></span>
										</div>
									</li>
									
									<li class="hidden">
										{{ form_widget(searchFilterForm.search, { 'icon': 'fa-search', 'label': '', 'attr': {'class': 'btn btn-primary'} }) }}
									</li>
									
									<li class="hidden"> {{ form_widget(searchFilterForm.clear) }} </li>
									
									<li class="hidden"> {{ form_widget(searchFilterForm.published) }} </li>
									
									<li class="hidden"> {{ form_widget(searchFilterForm.updatedAfter) }} </li>
								    <li class="hidden"> {{ form_widget(searchFilterForm.updatedBefore) }} </li>
								    <li class="hidden"> {{ form_widget(searchFilterForm.createdAfter) }} </li>
								    <li class="hidden"> {{ form_widget(searchFilterForm.createdBefore) }} </li>
								</ul>			
							{{ form_end(searchFilterForm) }}
						</div>
						{% endblock %}
					</div>
				</div>
		  	</div>
	  	</div>
	  	
	  	<div class="row bkg-black-50">
				<div class="col-xs-12" style="margin: 10px;">
				{% for entry in categories %}
					{% if loop.index <= 11 %}
{# 						<div class="col-xs-3 col-sm-2 col-lg-1 no-bottom-padding">#}
{# 							<a href="{{ path('infoprodukt_category_show', routingParams|merge({'id': entry.id})) }}"#}
{# 								data-toggle="tooltip" data-placement="bottom" title="{{ entry.name }}"#}
{# 								class="no-padding branch-color-{{ entry.branches.get(0).branch.id}}">#}
{# 								<p class="text-center bkg-white"><i class="fa {{ entry.icon }} align-text-center"></i></p>#}
{# 								<p class="text-center text-white tile branch-{{ entry.branches.get(0).branch.id}}">{{ entry.name }}</p>#}
{# 							</a>#}
{# 						</div>#}
						<div class="col-xs-3 col-sm-2 col-lg-1 branch-white-{{ entry.branches.get(0).branch.id}}">
							<a href="{{ path('infoprodukt_category_show', routingParams|merge({'id': entry.id})) }}"
								data-toggle="tooltip" data-placement="bottom" title="{{ entry.name }}"
								class="text-white">
								<p class="text-center"><i class="fa {{ entry.icon }} align-text-center"></i></p>
								<p class="text-center">{{ entry.name }}</p>
							</a>
						</div>
					{% endif %}
				{% else %}
					{{ 'label.noEntries'|trans }}
				{% endfor %}
				
				<div class="col-xs-3 col-sm-2 col-lg-1 branch-white-0">
					<a href="{{ path('infoprodukt_category', routingParams) }}"
						data-toggle="tooltip" data-placement="bottom" title="Inne"
						class="text-white">
						<p class="text-center"><i class="fa fa-question align-text-center"></i></p>
						<p class="text-center">Inne</p>
					</a>
				</div>
				
				<script>
				$(document).ready(function(){
				    $('[data-toggle="tooltip"]').tooltip(); 
				});
				</script>
			</div>
		</div>
	</nav>
	{% endblock %}
		
	<div class="container-fluid content">
		{% block content %}
		{% endblock %}
	</div>
	
	{% block footer %}
		<div class="footer">
	  		<div class="container-fluid">
		    	<div class="container">
		      		<h4 class="text-xs-center">&copy; 2016 InfoMarket</h4>
		      		
		      		<div class="row">
			      		<div class="col-sm-9">
			      			<h4>Infomarket Sp. z o.o.</h4>
			      			<p>
			      				ul. Trylogii 2/16a lok. 50, 01-982 Warszawa<br>
			      				tel./fax: (22) 835 19 17<br>
			      				e-mail: <a href="mailto:redakcja@infomarket.edu.pl">redakcja@infomarket.edu.pl</a>
		      				</p>
			      		</div>
			      		<div class="col-sm-3">
		        			<a href="http://www.facebook.com/infomarket1"><i class="fa fa-facebook"></i></a>
			        		<a href="#"><i class="fa fa-twitter"></i></a>
			        		<a href="#"><i class="fa fa-pinterest"></i></a>
			        		<a href="#"><i class="fa fa-instagram"></i></a>
			      		</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
	{% endblock %}
	
{% endblock %}
