{% extends 'infomarket/index.html.twig' %}

{% set rightPanelButtonLabel = 'label.links'|trans %}		
	
{% block content %}
	{% block parentCategoriesBar %}
		<nav class="navbar">
			<ul class="nav navbar-nav navbar-center nav-horizontal">
				{% for entry in categories %}
					{% if category != null and category.name == entry.name %}
						{% set active='active' %}
					{% else %}
						{% set active='' %}
					{% endif %}
						<li class="branch-{{ entry.id }} {{ active }}">
							<a href="{{ path('infomarket_' ~ mainPath, { 'branch': branch.name, 'category': entry.name }) }}">
								<i class="fa fa-camera"></i><span class="hidden-xs"> {{ entry.name }}</span>
							</a>
						</li>
				{% else %}
					{{ 'label.noEntries'|trans }}
				{% endfor %}
			</ul>
		</nav>
	{% endblock %}
	
	{% block breadcrumbs %}
		{% if pathCategories %}
			<ol class="breadcrumb">
				{% for entry in pathCategories %}
			  		<li><a href="{{ path('infomarket_' ~ mainPath, { 'branch': branch.name, 'category': entry.name }) }}">{{ entry.name }}</a></li>
		  		{% endfor %}
			</ol>
		{% endif %}
	{% endblock %}
	
	<div class="row">
		{% if not category %}
			<div class="col-xs-12 well">
				<h1>{{ 'title.categories'|trans }}</h1>
				
				<div class="row">
					<div class="col-xs-12">
						{% for entry in categories %}
							<div class="col-sm-4 col-md-3">
								<div class="thumbnail">
									<img alt="{{ entry.name }}" src="{{ asset('img/template/placeholder-1x1.png') }}">
									<div class="caption">
										<a href="{{ path('infomarket_' ~ mainPath, { 'category': entry.name }) }}"><h3>{{ entry.name }}</h3></a>
										
										<ul>
											{% for child in entry.children %}
												{% if loop.index <= 10 %}
													<a href="{{ path('infomarket_' ~ mainPath, { 'branch': branch.name, 'category': child.name }) }}">
														<li>{{ child.name }}</li>
													</a>
												{% endif %}
											{% else %}
												{{ 'label.noEntries'|trans }}
											{% endfor %}
										</ul>
							
										<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
									</div>
								</div>
							</div>
						{% else %}
							{{ 'label.noEntries'|trans }}
						{% endfor %}
					</div>
				</div>
			</div>
		{% elseif category.children.count > 0 %}
			<div class="col-xs-12 well">
				<h1>{{ 'title.categories'|trans }}</h1>
				
				<div class="row">
					<div class="col-xs-12">
						{% for entry in category.children %}
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<a href="{{ path('infomarket_product2', { 'category': entry.name }) }}"><h5>{{ entry.name }}</h5></a>
									</div>
									<div class="panel-body">
										<div class="col-sm-2">
											<img class="img-responsive" alt="{{ entry.name }}" src="{{ asset('img/template/placeholder-1x1.png') }}">
										</div>
										<div class="col-sm-10">
											<p>{{ entry.content | raw }}</p>
											<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							{{ 'label.noEntries'|trans }}
						{% endfor %}
					</div>
				</div>
			</div>
		{% else %}	
			<div class="col-sm-3 col-sm-push-9 well">
				<div class="row">
					<div class="col-xs-12">
						{% block segments %}
							<h1>{{ 'title.segments'|trans }}</h1>
							{% for entry in segments %}
								{% if segment and segment.name == entry.name %}
									{% set active = 'tile branch-' ~ branch.id %}
								{% else %}
									{% set active = '' %}
								{% endif %}
								<div class="col-xs-12 {{ active }}">
									<a href="{{ path('infomarket_' ~ mainPath, { 'branch': branch.name, 'category': category.name, 'segment': entry.name }) }}">
										<h6>{{ entry.name }}</h6>
									</a>
								</div>
							{% endfor %}
						{% endblock %}
					</div>
				</div>
			</div>
			
			<div class="col-sm-9 well col-sm-pull-3">
				<h1>{{ 'title.products'|trans }}</h1>
				
				<div class="row">
					<div class="col-xs-12">
						{% for entry in entries %}
							<div class="col-sm-6 col-md-4">
								<div class="thumbnail">
									<img alt="{{ entry.name }}" src="{{ asset(entry.getImagePath()) }}">
									<div class="caption">
										<h3>{{ entry.brand.name }}</h3>
										<h4>{{ entry.name }}</h4>
										<a href="{{ path('infoprodukt_home', { 'product': entry.name }) }}"></a>
										<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
									</div>
								</div>
							</div>
						{% else %}
							{{ 'label.noEntries'|trans }}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	
{% endblock %}
