{% extends 'benchmark/show.html.twig' %}
            
{% block auditFields %}
	<div class="row lowered-25"></div>
	{% if isAdmin %}
		<div class="row lowered-25"></div>
		{% include 'common/fields/date_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'updatedAt', 'value': entry.updatedAt } %}
		{% include 'common/fields/user_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'updatedBy', 'value': entry.updatedBy, 'routeId': entry.id } %}
		
		<div class="row lowered-25"></div>
		{% include 'common/fields/date_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'createdAt', 'value': entry.createdAt } %}
		{% include 'common/fields/user_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'createdBy', 'value': entry.createdBy, 'routeId': entry.id } %}
	{% endif %}
{% endblock %}

{% block mainActions %}
	
	{% if canEdit %}
		<a type="button" class="btn btn-warning" href="{{ path(basePath ~ mainPath ~ '_edit', { id: entry.id }) }}">
	    	<i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
		</a>
	{% endif %}
	
    {% if canCreate %}
    	<a type="button" class="btn btn-success" href="{{ path(basePath ~ mainPath ~ '_new') }}">
	    	<i class="fa fa-file-o"></i> {{ 'action.new'|trans }}
		</a>
	{% endif %}
	{% if canCopy %}
	    <a type="button" class="btn btn-warning" href="{{ path(basePath ~ mainPath ~ '_copy', { id: entry.id }) }}">
	    	<i class="fa fa-copy"></i> {{ 'action.copy'|trans }}
		</a>
    {% endif %}
	{% if canDelete %}
		<a type="button" class="btn btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')" 
			href="{{ path(basePath ~ mainPath ~ '_delete', { id: entry.id }) }}">
    		<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
		</a>
	{% endif %}
    
	<a type="button" class="btn btn-primary" href="{{ path(basePath ~ mainPath) }}">
    	<i class="fa fa-close"></i> {{ 'action.back'|trans }}
	</a>
    
    {% block baseMoreActions %}
    {% endblock %}
{% endblock %}