{% set xs = xs|default(12) %}
{% set sm = sm|default(xs) %}
{% set md = md|default(sm) %}
{% set lg = lg|default(md) %}

{% set attr = attr|default({}) %}

<div class="col-xs-{{ xs }} col-sm-{{ sm }} col-md-{{ md }} col-lg-{{ lg }} padding-5">
	{{ form_row(field, { label: label, attr: attr }) }}
</div>