{% extends 'infomarket/index.html.twig' %}

{% block content %}
    
    <div class="col-sm-3 col-sm-push-9">
    	
    	<div class="row">
    		<div class="col-xs-12">
			    {% block sideContent1 %}
			    {% endblock %}
	    	</div>
	    </div>
	    
	    <div class="row">
    		<div class="col-xs-12">
			    {% block sideContent2 %}
			    {% endblock %}
	    	</div>
	    </div>
    	
    </div>
    
    <div class="col-sm-9 col-sm-pull-3">
    
    	<div class="row">
    		<div class="col-xs-12">
			    {% block mainContent %}
			    {% endblock %}
	    	</div>
	    </div>
	    
	    <div class="row">
	    	<div class="col-xs-12">
			    {% block moreContent %}
			    {% endblock %}
		    </div>
	    </div>
	    
	    <div class="row">
    		{% block mainActions %}
    			<div class="col-xs-6">
    				<p class="text-xs-left">
					    <a class="branch-color-{{ branch.id }} text-xs-left" href="{{ path('infomarket_' ~ mainPath, { 'branch': branch.name }) }}">
		          			<span class="fa fa-arrow-circle-left"></span> {{ 'label.back'|trans }}
						</a>
					</p>
				</div>
				<div class="col-xs-6">
					<p class="text-xs-right">
						<a class="branch-color-{{ branch.id }}" href="#">
		          			<span class="fa fa-arrow-circle-up"></span> {{ 'label.top'|trans }}
						</a>
					<p>
				</div>
			{% endblock %}
	    </div>
	    
    </div>
    
{% endblock %}