{% extends 'admin/__site/base.html.twig' %}

{% set basePath = basePath|default('admin_') %}
{% set gender = gender|default('') %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	{% block navigationBar %}
	<nav class="navbar navbar-fixed-top">
		{% block navigationHeader %}
			<div class="navbar-header">
				{% block navigationButton %}
				<button type="button" class="navbar-toggle collapsed" 
						data-toggle="collapse" 
						data-target="#catbar" 
						aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
	      		{% endblock %}
	      		
				{% block navigationBrand %}
				<a class="navbar-brand" href="{{ path('admin') }}">
					<img class="brand-image" src="{{ asset('img/logo-infomarket.png') }}"
						srcset="{{ asset('img/logo-infomarket-64.png') }} 0.5x,
								{{ asset('img/logo-infomarket-128.png') }} 1x,
								{{ asset('img/logo-infomarket-258.png') }} 2x,
								{{ asset('img/logo-infomarket-512.png') }} 4x,
								{{ asset('img/logo-infomarket-768.png') }} 6x,
								{{ asset('img/logo-infomarket-992.png') }} 7.75x,
             					{{ asset('img/logo-infomarket-1200.png') }} 9.375x">
				</a>
				{% endblock %}
	    	</div>
    	{% endblock %}
		
		{% block navigationSearch %}
		<div class="navbar-greet navbar-left hidden-xs hidden-sm">
			<p>
				{{ 'label.welcome'|trans }} {{ app.user.username }}, <br>
				<a href="{{ path('admin_logout') }}">
					{{ 'label.logout'|trans }}
				</a>
			</p>
		</div>
		{% endblock %}
		
		{% block navigationLinks %}
		<div class="collapse navbar-collapse" id="catbar">
			<ul class="nav navbar-nav navbar-right">
				{% include 'admin/__site/components/index/article_link.twig' with 
				{ linkLabel: 'label.articles' } %}
				{% include 'admin/__site/components/index/category_link.twig' with 
				{ linkLabel: 'label.categories' } %}
				{% include 'admin/__site/components/index/product_link.twig' with 
				{ linkLabel: 'label.products' } %}
				{% include 'admin/__site/components/index/advert_link.twig' with 
				{ linkLabel: 'label.adverts' } %}
				
				{% if isAdmin %}
					{% include 'admin/__site/components/index/newsletter_link.twig' with 
					{ linkLabel: 'label.newsletter' } %}
				{% endif %}
				
				{% include 'admin/__site/components/index/menu_link.twig' with 
				{ linkLabel: 'label.menus' } %}
				{% include 'admin/__site/components/index/magazine_link.twig' with 
				{ linkLabel: 'label.magazines' } %}
				{% include 'admin/__site/components/index/other_link.twig' with 
				{ linkLabel: 'label.others' } %}
				{% include 'admin/__site/components/index/benchmark_link.twig' with 
				{ linkLabel: 'label.benchmark' } %}
				{% include 'admin/__site/components/index/user_link.twig' with 
				{ linkLabel: 'label.settings' } %}
			</ul>
		</div>
		{% endblock %}
	</nav>
	{% endblock %}
	
	<div class="container-fluid content">
		{% block content %}
		{% endblock %}
	</div>
{% endblock %}
