{% extends 'admin/base/index.html.twig' %}

{% set mainPath = 'newsletter_user_newsletter_page_assignment' %}
{% set title = 'title.newsletter_user_newsletter_page_assignments'|trans %}

{% set deleteRole = 'ROLE_SUPER_ADMIN' %}

{% block filterMoreFields1 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.newsletterUsers, { 'label': 'label.newsletterUsers' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.newsletterPages, { 'label': 'label.newsletterPages' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.states, { 'label': 'label.newsletterUserNewsletterPageAssginment.state' }) }}
	</li>
{% endblock %}

{% block headerActions %}
	{% set hidden="hidden" %}
	{% if is_granted('ROLE_EDITOR') %}
		{% set hidden="" %}
	{% endif %}
	
	<li>
		<div class="btn-group {{ hidden }}">
			{{ form_widget(form.selectAll, { 'icon': 'fa-check-square-o', 'label': 'action.selectAll', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
			{{ form_widget(form.selectNone, { 'icon': 'fa-square-o', 'label': 'action.selectNone', 'attr': {'class': 'btn btn-primary', 'type': 'button'} }) }}
		</div>
	</li>
	
	{% set hidden='hidden' %}
	{% if is_granted(deleteRole) %}
		{% set hidden="" %}
	{% endif %}
		
	{% set confirm = 'return confirm("' ~ 'confirm.deleteSelected'|trans ~ '")' %}
	<li>
		<div class="{{ hidden }}">
			{{ form_widget(form.deleteSelected, { 'icon': 'fa-trash', 'label': 'action.deleteSelected', 'attr': {'class': 'btn btn-danger', 'type': 'button', 'onclick': confirm } }) }}
		</div>
	</li>
	
	{% block baseHeaderMoreActions %}
	{% endblock %}
{% endblock %}

{% block headerMainFields1 %}
	<th><i class="fa fa-"></i> {{ 'label.newsletterUser'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.newsletterPage'|trans }}</th>
	<th><i class="fa fa-"></i> {{ 'label.newsletterUserNewsletterPageAssignment.state'|trans }}</th>
{% endblock %}

{% block entryMainFields1 %}
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'newsletter_user', value: { id: item.newsletterUserId, name: item.newsletterUserName } } %}
	</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'newsletter_page', value: { id: item.newsletterPageId, name: item.newsletterPageName } } %}
	</td>
	<td>
		{{ newsletterUserNewsletterPageAssignmentStateName(item.state)|trans }}
	</td>
{% endblock %}

{% block entryActions %}
	<td>
		<a type="button" class="btn btn-sm btn-primary" href="{{ path('admin_' ~ mainPath ~ '_show', { id: item.id }) }}">
			<i class="fa fa-eye"></i> {{ 'action.show'|trans }}
		</a>
		
		{% if is_granted(deleteRole) %}
			<a type="button" class="btn btn-sm btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')"
				href="{{ path('admin_' ~ mainPath ~ '_delete', { id: item.id }) }}">
				<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
			</a>
		{% endif %}
	</td>
{% endblock %}