{% extends 'admin/simple/index.html.twig' %}

{% set mainPath = 'newsletter_user_newsletter_page_assignment' %}
{% set title = 'label.newsletter_user_newsletter_page_assignments'|trans %}



{% block filterLargeFields %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.newsletterUsers, label: 'label.newsletterUsers' } %}
	{% include 'common/fields/filter/simple_field.html.twig' with 
		{ field: filter.newsletterPages, label: 'label.newsletterPages' } %}
	{% include 'common/fields/filter/simple_field.html.twig' 
		with { field: filter.states, label: 'label.newsletterUserNewsletterPageAssginment.state' } %}
{% endblock %}



{% block simpleHeaderFields %}
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'fa-user', label: 'label.newsletterUser' } %}
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'fa-page', label: 'label.newsletterPage' } %}
	
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'fa-', label: 'label.newsletterUserNewsletterPageAssignment.state' } %}
	{% include 'common/fields/table_header/icon_field.html.twig' with 
		{ icon: 'fa-timer', label: 'label.newsletterUserNewsletterPageAssignment.processingTime' } %}
{% endblock %}

{% block simpleEntryFields %}
	{% include 'common/fields/table/simple_link_field.html.twig' with 
		{ type: 'newsletter_user', id: item.newsletterUserId, name: item.newsletterUserName } %}
	{% include 'common/fields/table/simple_link_field.html.twig' with 
		{ type: 'newsletter_page', id: item.newsletterPageId, name: item.newsletterPageName } %}
		
	{% include 'common/fields/table/simple_field.html.twig' with 
		{ value: newsletterUserNewsletterPageAssignmentStateName(item.state)|trans } %}
		
	{% include 'common/fields/table/time_field.html.twig' with 
		{ value: item.processingTime } %}
{% endblock %}



{% block entryActions %}
	<td>
		<a type="button" class="btn btn-sm btn-primary" href="{{ path('admin_' ~ mainPath ~ '_show', { id: item.id }) }}">
			<i class="fa fa-eye"></i> {{ 'action.show'|trans }}
		</a>
		
		{% if canDelete %}
			<a type="button" class="btn btn-sm btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')"
				href="{{ path('admin_' ~ mainPath ~ '_delete', { id: item.id }) }}">
				<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
			</a>
		{% endif %}
	</td>
{% endblock %}