{% extends 'admin/base/show.html.twig' %}

{% set mainPath = 'newsletter_user_newsletter_page_assignment' %}
{% set title = 'title.newsletter_user_newsletter_page_assignments'|trans %}
{% set gender = '' %}

{% block mainFields1 %}	
	{% include 'common/fields/simple_field.html.twig' with 
	{ 'label': 'label.newsletterUser', 'value': entry.newsletterUser,
		'object': 'newsletter_user', 'routeId': entry.id } %}
		
	{% include 'common/fields/simple_field.html.twig' with 
	{ 'label': 'label.newsletterPage', 'value': entry.newsletterPage,
		'object': 'newsletter_page', 'routeId': entry.id } %}
		
	{% include 'common/fields/text_field.html.twig' with 
		{ 'label': 'label.newsletterUserNewsletterPageAssignment.state', 'value': newsletterUserNewsletterPageAssignmentStateName(entry.state)|trans } %}
		
	{% include 'common/fields/date_field.html.twig' with 
		{ 'label': 'label.newsletterUserNewsletterPageAssignment.processingTime', 'value': entry.processingTime, format: 'i:s' } %}
{% endblock %}

{% block mainActions %}
	{% if is_granted(deleteRole) or (is_granted('ROLE_EDITOR') and '_assignment' in mainPath ) %}
		<a type="button" class="btn btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')" 
			href="{{ path(basePath ~ mainPath ~ '_delete', { id: entry.id }) }}">
    		<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
		</a>
	{% endif %}
	
	<a type="button" class="btn btn-primary" href="{{ path(basePath ~ mainPath) }}">
    	<i class="fa fa-close"></i>{{ 'action.back'|trans }}
	</a>
{% endblock %}