{% extends 'admin/image/editor.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'title.categories'|trans %}
{% set gender = 'fm.' %}

{% block moreFields1 %}
	{% if entry.featuredImage %}
	<div class="row">
	    <div class="col-xs-12">
	    	<div class="rect-2x1">
				<img alt="{{ entry.name | raw }}" src="{{ asset(entry.featuredImage) }}" class="div-center" />
			</div>
		</div>
	</div>
	{% endif %}
	
	{{ form_row(form.featuredImage, { 'label': 'label.category.featuredImage' }) }}
{% endblock %}

{% block moreFields2 %}
	{{ form_row(form.subname, { 'label': 'label.subname' }) }}
{% endblock %}

{% block moreFields3 %}
	{{ form_row(form.featured, { 'label': 'label.fm.featured' }) }}
	{{ form_row(form.preleaf, { 'label': 'label.category.preleaf' }) }}
	
	{{ form_row(form.icon, { 'label': 'label.icon' }) }}
	
	{{ form_row(form.parent, { 'label': 'label.category.parent' }) }}
	{{ form_row(form.orderNumber, { 'label': 'label.orderNumber' }) }}
	    
	{{ form_row(form.content, { 'label': 'label.content' }) }}
{% endblock %}

{% block moreActions1 %}
	{% if entry.id %}
		<a href="{{ path('admin_category_ratings', { id: entry.id, route: basePath ~ mainPath ~ extPath, routeParams: { id: entry.id } }) }}"
			class="btn btn-primary">
			<span class="fa fa-star"></span> 
			{{ 'title.ratings'|trans }} 
		</a>
	{% endif %}
{% endblock %}

{% block assignments %}
	{% include 'admin/category/assignments.html.twig' with { 'entry': entry } %}
{% endblock %}