{% extends 'admin/featured/index.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'title.categories'|trans %}

{% block filterMoreFields2 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.subname, { 'label': 'label.subname' }) }}
	</li>
{% endblock %}

{% block filterMoreFields3 %}
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.branches, { 'label': 'label.branch' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.parents, { 'label': 'label.category.parent' }) }}
	</li>
	<li class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
		{{ form_widget(filter.preleaf, { 'label': 'label.preleaf' }) }}
	</li>
{% endblock %}

{% block headerMoreFields1 %}
	<th>{{ 'label.subname'|trans }}</th>
	<th>{{ 'label.category.parent'|trans }}</th>
{% endblock %}

{% block headerMoreFields2 %}
	<th><i class="fa fa-leaf"></i> {{ 'label.preleafs'|trans }}</th>
{% endblock %}

{% block entryMoreFields1 %}
	<td>{{ item.subname }}</td>
	<td>
		{% include 'common/links/simple_link.html.twig' with { type: 'category', value: { id: item.parentId, name: item.parentName, subname: item.parentSubname } } %}
	</td>
{% endblock %}

{% block entryMoreFields2 %}
	<td>
		{% include 'common/fields/bool_action_field.html.twig' with 
			{ 'id': item.id, 'value': item.preleaf, 'extPath': '_set_preleaf',
				'trueTooltip': 'label.preleafs'|trans, 'falseTooltip': 'label.others'|trans,
				'trueIcon': 'fa-leaf text-green', 'falseIcon': 'fa-leaf text-red' } %}
	</td>
{% endblock %}