{% extends 'admin/index.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'title.ratings'|trans  %}

{% block content %}

	<h2>{{ entry.name }} {{ entry.subname }}</h2>
	
	{% for segment in segments %}
		<div class="col-xs-12">
			<h3>{{ 'label.segment'|trans }} {{ segment.name }}</h3>
			
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<h3>{{ 'title.products'|trans }}</h3>
				</div>
				{% if is_granted('ROLE_EDITOR') %}
					<div class="col-xs-6 col-md-3">
						<a href="{{ path('admin_product_category_assignment_new', { category: entry.id, segment: segment.id }) }}"
							class="btn btn-success text-xs-bottom-mm">
							<span class="fa fa-plus"></span> 
							{{ 'action.assignProduct'|trans }} 
						</a>
					</div>
				{% endif %}
			</div>
					
			<table class="table table-striped vert-align">
				<tbody>
				{% for productCategoryAssignment in entry.productCategoryAssignments %}
					{% if productCategoryAssignment.segment.id == segment.id %}
					<tr>
						<td>
							{{ loop.index }}
						</td>
						<td>
							<div class="table-circle-30 bkg-white">
								{% if productCategoryAssignment.product.image %}
									<img class="div-center img-{{ productCategoryAssignment.product.vertical ? '' : 'v' }}responsive"
										alt="{{ productCategoryAssignment.product.image }}" src="{{ asset(productCategoryAssignment.product.image) }}" />
								{% endif %}
							</div>
						</td>
						<td>
							{% if productCategoryAssignment.product.brand %}
							<a href="{{ path('admin_brand_show', { id: productCategoryAssignment.product.brand.id }) }}"> 
								{{ productCategoryAssignment.product.brand.name }}
							</a>
							{% endif %}
						</td>
						<td>
							<a href="{{ path('admin_product_show', { id: productCategoryAssignment.product.id }) }}">
								{{ productCategoryAssignment.product.name }}
							</a>
						</td>
						{% if is_granted('ROLE_EDITOR') %}
							<td>
								{% include 'common/fields/bool_action_field.html.twig' with 
									{ 'id': productCategoryAssignment.id, 'value': productCategoryAssignment.featured, 
										'mainPath': 'product_category_assignment', 'extPath': '_set_featured',
										'trueTooltip': 'label.featured'|trans, 'falseTooltip': 'label.notFeatured'|trans,
										'trueIcon': 'fa-star', 'falseIcon': 'fa-star-o' } %}
							</td>
							<td>
								<a href="{{ path('admin_product_category_assignment_edit', { id: productCategoryAssignment.id }) }}" class="btn btn-warning">
									<span class="fa fa-edit"></span> 
									{{ 'action.edit'|trans }}
								</a>
								<a href="{{ path('admin_product_category_assignment_delete', { id: productCategoryAssignment.id }) }}" class="btn btn-danger">
									<span class="fa fa-trash"></span> 
									{{ 'action.delete'|trans }}
								</a>
							</td>
						{% endif %}
					</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
		</div>
	{% endfor %}

	<div class="row lowered-25">
	
	<div class="col-xs-12">
		{% set hidden='hidden' %}
		{% if is_granted('ROLE_RATING_EDITOR') %}
			{% set hidden="" %}
		{% endif %}
		
		<div class="{{ hidden }}">
			{% form_theme importRatingsForm 'form/fields.html.twig' %}
								
			{{ form_start(importRatingsForm) }}
				<ul class="list-inline">
					<li>
						<div class='input-group input-sm'>
							{{ form_widget(importRatingsForm.importFile, { 'label': 'label.category.importFile', 'attr': { 'class': 'input-sm' }  }) }}
	{# 						<span class="input-group-btn">#}
								{{ form_widget(importRatingsForm.save, { 'label': 'action.category.importRatings', 'attr': { 'class': 'input-sm btn-success' }  }) }}
	{# 				      	</span>#}
						</div>
					</li>
				</ul>
			{{ form_end(importRatingsForm) }}
		</div>
		
		{% block errorsBlock %}
			{% include 'common/errors.html.twig' %}
		{% endblock %}
		
		{% set confirm = 'return confirm("' ~ 'confirm.clearRatings'|trans ~ '")' %}
		<a type="button" class="btn btn-danger {{ hidden }}" onclick="{{ confirm }}"
			href="{{ path(basePath ~ mainPath ~ '_clear_ratings', { id: entry.id }) }}">
			<i class="fa fa-trash"></i> {{ 'action.category.clearRatings'|trans }}
		</a>
		
		<a type="button" class="btn btn-primary" href="{{ path(basePath ~ mainPath) }}">
			<i class="fa fa-close"></i> {{ 'action.back'|trans }}
		</a>
	</div>
		
{% endblock %}
