{% extends 'admin/image/show.html.twig' %}

{% set mainPath = 'category' %}
{% set title = 'title.categories'|trans %}
{% set gender = 'fm.' %}

{% block moreFields1 %}	
	{% if entry.featuredImage %}
	<div class="row">
	    <div class="col-xs-12">
	    	<div class="rect-2x1">
				<img alt="{{ entry.name | raw }}" src="{{ asset(entry.featuredImage) }}" class="div-center" />
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block moreFields2 %}
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ entry.subname | raw }}</h4>
		</div>
	</div>
{% endblock %}

{% block moreFields3 %}
	{% include 'common/fields/bool_field.html.twig' with 
	{ 'label': ('label.' ~ gender ~ 'featured')|trans, 'value': entry.featured } %}
	
	{% include 'common/fields/bool_field.html.twig' with 
	{ 'label': ('label.category.preleaf')|trans, 'value': entry.preleaf } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ 'label': ('label.icon')|trans, 'value': entry.icon } %}
	
	<div class="row">
		<div class="col-xs-12">
			<h4>{{ 'label.content'|trans }}</h4>
		</div>
		<div class="col-xs-12">
			{{ entry.content | raw }}
		</div>
	</div>
	
	<div class="lowered-25"></div>
	
	{% include 'common/fields/simple_field.html.twig' with 
	{ 'label': 'label.category.parent', 'value': entry.parent,
		'object': 'category', 'routeId': entry.id } %}
	
	{% include 'common/fields/text_field.html.twig' with 
	{ 'label': 'label.orderNumber'|trans, 'value': entry.orderNumber } %}
	
{% endblock %}

{% block moreActions1 %}
	<a href="{{ path('admin_category_ratings', { id: entry.id, route: basePath ~ mainPath ~ extPath, routeParams: { id: entry.id } }) }}"
		class="btn btn-primary">
		<span class="fa fa-star"></span> 
		{{ 'title.ratings'|trans }} 
	</a>
{% endblock %}

{% block assignments %}
	{% include 'admin/category/assignments.html.twig' with { 'entry': entry } %}
{% endblock %}