{% extends 'infomarket/base/show.html.twig' %}

{% set redirectToMainPath = false %}

{% set mainPath = 'page_show' %}

{% block breadcrumbs %}
{% endblock %}
		
{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h2>
				<span class="text-brand">{{ entry.name | raw }}</span>
				<span class="text-red">{{ entry.subname | raw }}</span>
			</h2>
		</div>
	</div>
	{% endblock %}
	
	<div class="col-xs-12"> 
		{% block logo %}
		{% if entry.image %}
			<div class="col-sm-6 col-sm-offset-3">
				<div class="rect">
					{% if entry.image %}
						<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
							alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
					{% endif %}
				</div>	
			</div>
		{% endif %}
		{% endblock %}
		
		{% block description %}
		<div class="row">
			<div class="col-xs-12">
				<p>{{ entry.content | raw }}</p>
			</div>
		</div>
		{% endblock %}
	</div>
	
	{% block back %}
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-primary fa fa-arrow-circle-o-left" href="{{ path('infoprodukt_home') }}"></a>
			<a class="btn btn-primary fa fa-arrow-circle-o-up pull-right" href="#"></a>
		</div>
	</div>	
	{% endblock %}
{% endblock %}
