{% block itemContent %}
	<h2 class="lowered-25">{{ entry.name }} {{ entry.subname }}</h2>
	
	<div class="row padding-5">
		<div class="col-md-6 col-lg-4 padding-5">
			<div class="rect">
	    		{% if entry.image %}
					{% include 'common/image/image_entry.html.twig' with { 'entry': entry } %}
				{% endif %}
			</div>
		</div>
		<div class="col-md-6 col-lg-8 padding-5">
			<table class="table table-striped vert-align">
				<tr>
					<th class="text-center">{{ 'label.segment'|trans }}</th>
					<th class="text-center">{{ 'label.benchmark.numOfProducts'|trans }}</th>
				</tr>
				
				{% for segment in segments %}
					<tr>
						<th class="text-right">{{ segment.name }}</th>
						<td class="text-center">{{ segment.numOfProducts }}</td>
					</tr>
				{% endfor %}
				
				<tr>
					<th class="text-right">{{ 'label.benchmark.total'|trans }}</th>
					<th class="text-center">{{ numOfProducts }}</th>
				</tr>
			</table>
			
			<a class="btn btn-primary" href="{{ path(basePath ~ 'product_show', { id: bestProduct }) }}">
				<i class="fa fa-eye"></i> {{ 'label.benchmark.category.showBestProduct'|trans }}
			 </a>
			<a class="btn btn-primary" href="{{ path(basePath ~ 'product_show', { id: worstProduct }) }}">
				<i class="fa fa-eye"></i> {{ 'label.benchmark.category.showWorstProduct'|trans }}
			</a>
		</div>
	</div>
{% endblock %}

{% block tableContent %}
	{% if numberFields|length > 0 %}
		<div class="row lowered-25"></div>
		
		<div class="row">
			<table class="table table-striped vert-align">
				{% include 'benchmark/category/components/number_table_header.html.twig' %}
				
				{% include 'benchmark/category/components/number_table_row.html.twig' with 
					{ field: priceField, decimalPlaces: 2 } %}
					
				{% for field in numberFields %}
					{% include 'benchmark/category/components/number_table_row.html.twig' %}
				{% endfor %}
			</table>
		</div>
	{% endif %}
	
	{% if enumFields|length > 0 %}
		<div class="row lowered-25"></div>
		
		<div class="row">
			<table class="table table-striped vert-align">
				{% include 'benchmark/category/components/enum_table_header.html.twig' %}
				
				{% for field in enumFields %}
					{% include 'benchmark/category/components/enum_table_row.html.twig' %}
				{% endfor %}
			</table>
		</div>
	{% endif %}
	
	{% if boolFields|length > 0 %}
		<div class="row lowered-25"></div>
		
		<div class="row">
			<table class="table table-striped vert-align">
				{% include 'benchmark/category/components/bool_table_header.html.twig' %}
				{% for field in boolFields %}
					{% include 'benchmark/category/components/bool_table_row.html.twig' %}
				{% endfor %}
			</table>
		</div>
	{% endif %}
{% endblock %}

{% block boolCharts %}
	{% for field in boolFields %}
		{% if field.chart %}
			{% include 'benchmark/category/components/field_chart.html.twig' %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block numberCharts %}
	{% for field in numberFields %}
		{% if field.chart %}
			{% include 'benchmark/category/components/field_chart.html.twig' %}
		{% endif %}
	{% endfor %}
	
	{% if priceField.chart %}
		{% include 'benchmark/category/components/field_chart.html.twig' with { field: priceField } %}
	{% endif %}
{% endblock %}

{% block enumCharts %}
	{% for field in enumFields %}
		{% if field.chart %}
			{% include 'benchmark/category/components/field_chart.html.twig' %}
		{% endif %}
	{% endfor %}
{% endblock %}