{% if article.parent %}
	{% set header = 'h3' %}
	{% set primaryTextClass = 'text-red' %}
	{% set secondaryTextClass = 'text-brand' %}
{% else %}
	{% set header = 'h2' %}
	{% set primaryTextClass = 'text-brand' %}
	{% set secondaryTextClass = 'text-red' %}
{% endif %}

{% if article.imageSize == constant('AppBundle\\Entity\\Article::SMALL_IMAGE') %}
	{% set imageClass = 'img-sm-left-25' %}
{% elseif article.imageSize == constant('AppBundle\\Entity\\Article::MEDIUM_IMAGE') %}
	{% set imageClass = 'img-sm-left-34' %}
{% else %}
	{% set imageClass = 'img-sm-left-50' %}
{% endif %}

<div class="row">
	<div class="col-xs-12">
		<{{ header }}>
			<span class="{{ primaryTextClass }}">{{ article.name | raw }}</span>
			<span class="{{ secondaryTextClass }}">{{ article.subname | raw }}</span>
		</{{ header }}>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		{% if article.image %}
			<img class="img-responsive {{ imageClass }}" alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
		{% endif %}
	
		{% if article.intro %}
			<p><strong>{{ article.intro | raw }}</strong></p>
		{% endif %}
	
		{% if article.content %}
			<p>{{ article.content | raw }}</p>
		{% endif %}
	</div>
</div>