{% extends 'common/article/layouts/base_layout.twig' %}

{% if article.imageSize == constant('AppBundle\\Entity\\Main\\Article::SMALL_IMAGE') %}
	{% set imageClass = 'img-sm-left-25' %}
{% elseif article.imageSize == constant('AppBundle\\Entity\\Main\\Article::MEDIUM_IMAGE') %}
	{% set imageClass = 'img-sm-left-34' %}
{% else %}
	{% set imageClass = 'img-sm-left-50' %}
{% endif %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			{% if article.image %}
				<img class="img-responsive {{ imageClass }}" alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
			{% endif %}
		
			{% if article.intro %}
				<p><strong>{{ article.intro | raw }}</strong></p>
			{% endif %}
		
			{% if article.content %}
				<p>{{ article.content | raw }}</p>
			{% endif %}
		</div>
	</div>
{% endblock %}