<div class="row">
	<div class="col-sm-8">
		<h2>
			<span class="text-red">{{ entry.name | raw }}</span>
			<span class="text-brand">{{ entry.subname | raw }}</span>
		</h2>
	</div>
	
	{% if topBrands | length > 0 %}
		{% set topBrand = topBrands|first %}
		
		<div class="col-sm-4 hidden-xs">
			<div class="div-top top-brand-tile">
				<div class="top-brand-img">
					<img class="img-vresponsive" alt="{{ topBrand.name | raw }}" src="{{ asset(topBrand.image) }}">
				</div>
				<div class="top-brand-logo">
					<img class="img-vresponsive" alt="{{ entry.name | raw }}" src="{{ asset('img/top-brand.png') }}">
				</div>
			</div>
		</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-xs-12">
		{% if entry.image %}
			<img class="img-responsive img-sm-left-25" alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
		{% endif %}
		
		{% if entry.content %}
			<span class="hidden-xs"><br><br><br><br><br><br></span>
			<p>{{ entry.content | raw }}</p>
		{% endif %}
	</div>
</div>


{% if topBrands | length > 0 %}
	{% set topBrand = topBrands|first %}
	
	<div class="row visible-xs">
		<div class="col-xs-12">
			<div class="rect-2x1">
				<div class="div-center">
					<img class="img-responsive img-vresponsive" alt="{{ entry.name | raw }}" src="{{ asset('img/top-brand.png') }}">
				</div>
			</div>
			<div class="rect-2x1">
				<div class="div-center">
					<img class="img-responsive img-vresponsive" alt="{{ topBrand.name | raw }}" src="{{ asset(topBrand.image) }}">
				</div>
			</div>
		</div>
	</div>
{% endif %}