<ul class="nav nav-pills nav-stacked">
	
	<li role="presentation" class="{{ mainPath == 'article' ? 'active' : ''}}">
		<a href="{{ path(basePath ~ 'article') }}">{{ 'title.articles'|trans }}</a>
	</li>
	
	<li role="presentation" class="{{ mainPath == 'magazine' ? 'active' : ''}}">
		<a href="{{ path(basePath ~ 'magazine') }}">{{ 'title.magazines'|trans }}</a>
	</li>
	
</ul>