{% extends 'infomarket/index.html.twig' %}

{% set title = 'Products' %}
{% set mainPath = 'products' %}

{% set rightPanelButtonLabel = 'label.links'|trans %}		

{% block rightPanelContent %}
	{% block linksBlock %}
		<ul class="nav nav-pills nav-stacked">
			<li class="{% if mainPath == 'products' %}active{% endif %} branch-{{ branch.id }}">
				<a href="{{ path('infomarket_products', {'branch': branch.name }) }}">
					<span class="fa fa-camera-retro"></span> {{ 'title.products'|trans }}</a>
			</li>
			<li class="{% if mainPath == 'brands' %}active{% endif %} branch-{{ branch.id }}">
				<a href="{{ path('infomarket_brands', {'branch': branch.name }) }}">
					<span class="fa fa-globe"></span> {{ 'title.brands'|trans }}</a>
			</li>
		</ul>
	{% endblock %}
		
	{% block categories %}
		{% if category.name is defined %} 
			{{ category.name }}
		{% endif %}
{# 			<nav class="navbar navbar-default sidebar" role="navigation">#}
		<ul class="nav nav-list">
			{% for entry in categories %}
				{% include 'common/menu_entry.html.twig' with {'entry': entry } %}
			{% else %}
				No entries found.
			{% endfor %}
		</ul>
			
			<script>
				$('.tree-toggle').click(function () {
					$(this).parent().children('ul.tree').toggle(200);
				});
			</script>
{# 			</nav>#}
	{% endblock %}
{% endblock %}
	
{% block mainPanelContent %}
	<ul class="thumbnails" id="hover-cap-4col">
		{% for entry in segments %}
			<li class="col-sm-4 small">
				<div class="thumbnail">
					<img class="img-responsive" src="{{ asset(entry.getImagePath()) }}">
					<div class="caption">
						<div class="caption-inner">
							<h4>{{ entry.name }}</h4>
							<p>{{ entry.name }}</p>
							<a role="button" class="btn btn-danger">{{ 'label.readMore'|trans }}</a>
						</div>
					</div>
				</div>
			</li>
		{% else %}
			No entries found.
		{% endfor %}
	</ul>
	
	<script>
		$(document).ready(function(){
			 
		    $("[rel='tooltip']").tooltip();    
		 
		    $('#hover-cap-4col .thumbnail').hover(
		        function(){
		            $(this).find('.caption').slideDown(250);
		        },
		        function(){
		            $(this).find('.caption').slideUp(250);
		        }
		    );    
		 
		});
	</script>
{% endblock %}
