{% extends 'infomarket/base/show.html.twig' %}

{% set type = 'label.products'|trans %}
{% set mainPath = 'product' %}
		
{% set listName = 'label.products'|trans %}

{% block mainContent %}
	{% block header %}
	<div class="row">
		<div class="col-xs-12">
			<h3>
				<span class="text-red">{{ entry.brand.name }}</span>
				<span class="text-brand">{{ entry.name }}</span>
			</h3>
		</div>
	</div>
	{% endblock %}
	
	{% block logo %}
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="rect">
				{% if entry.image %}
					<img class="div-center img-{{ entry.vertical ? 'v' : '' }}responsive" 
						alt="{{ entry.name | raw }}" src="{{ asset(entry.image) }}">
				{% endif %}
			</div>	
		</div>
	</div>
	{% endblock %}
	
	{% include 'common/show/back.twig' %}
{% endblock %}
