{% extends 'admin/image/editor.html.twig' %}

{% set title = 'title.articles'|trans %}
{% set mainPath = 'article' %}
{% set gender = 'm.' %}

{% block moreFields2 %}
	{{ form_row(form.subname, { 'label': 'label.subname' }) }}
	{{ form_row(form.brand, { 'label': 'label.brand' }) }}
{% endblock %}
	
{% block moreFields3 %}
	{{ form_row(form.featured, { 'label': 'label.m.featured' }) }}
	
	{{ form_row(form.intro, { 'label': 'label.intro' }) }}	
    {{ form_row(form.content, { 'label': 'label.content' }) }}
	
	{{ form_row(form.parent, { 'label': 'label.article.parent' }) }}
	{{ form_row(form.orderNumber, { 'label': 'label.orderNumber' }) }}
	
	{{ form_row(form.layout, { 'label': 'label.article.layout' }) }}
    {{ form_row(form.displaySided, { 'label': 'label.article.displaySided' }) }}
    {{ form_row(form.displayPaginated, { 'label': 'label.article.displayPaginated' }) }}
{% endblock %}

{% block moreActions1 %}
	{% if entry.id %}
		<a href="{{ path('admin_article_preview', { id: entry.id }) }}"
			class="btn btn-primary">
			<span class="fa fa-eye"></span> 
			{{ 'action.article.preview'|trans }} 
		</a>
	{% endif %}
{% endblock %}

{% block assignments %}
	{% include 'admin/article/assignments.html.twig' with { 'entry': entry } %}
{% endblock %}