<div class="row">
	{% block header %}
		<div class="col-xs-12">
			<h3>{{ entry.brand.name }} - {{ entry.name }}</h3>
		</div>
	{% endblock %}
	
	{% block image %}
		<div class="rect bkg-white">
	    	{% if entry.image %}
				{% include 'common/image/image_entry.html.twig' with { 'entry': entry } %}
			{% endif %}
		</div>
	{% endblock %}
	
	{% block notes %}
		<div class="col-xs-6 padding-5">
			<h1 class="text-success">{{ overalNote|number_format(1, '.', ' ') }}</h1> {# &nbsp; #}
			<p>{{ 'label.benchmark.note'|trans }}</p>
		</div>
		<div class="col-xs-6 padding-5">
			<h1 class="text-success">{{ priceFactor ? priceFactor|number_format(1, '.', '  ') : '-' }}</h1> {# &nbsp; #}
			<p>{{ 'label.benchmark.priceFactor'|trans }}</p>
		</div>
	{% endblock %}
	
	{% block actions %}
		<div class="col-xs-12 padding-5">
			<a class="btn btn-warning" href="{{ path(basePath ~ mainPath ~ '_compare', { id: entry.id }) }}"
				data-target="tooltip" title="{{ 'action.compare'|trans }}">
				<span class="fa fa-balance-scale"></span>
			</a>
			{% if not entry.custom %}
				{% if benchmarkMessage %}
					{% set messagePath = basePath ~ 'benchmark_message_show' %}
					{% set messageParams = { id: benchmarkMessage.id } %}
				{% else %}
					{% set messagePath = basePath ~ 'benchmark_message_new' %}
					{% set messageParams = { product: entry.id } %}
				{% endif %}
				<a class="btn btn-danger" href="{{ path(messagePath, messageParams) }}"
					data-target="tooltip" title="{{ 'action.reportError'|trans }}">
					<span class="fa fa-exclamation-circle"></span>
				</a>
			{% endif %}
		</div>
	{% endblock %}
</div>