<!DOCTYPE html>
<html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="UTF-8" />
    	
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/infomarket.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
		{% endblock %}
		
		{% if menuBranches is defined %}
			{% for entry in menuBranches %}
				<style>
					<!--
					.navbar-default .navbar-nav > .active.branch-{{ entry.id }} > a {
						color: {{ entry.color }};
						background-color: #f2f2f2;
					}
					
					.navbar-default .navbar-nav > .branch-{{ entry.id }} a:hover,
					.navbar-default .navbar-nav > .branch-{{ entry.id }} a:focus,
					.navbar-default .navbar-nav li.branch-{{ entry.id }}.active > a {
						color: {{ entry.color }};
						background-color: #f2f2f2;
					}
					
					.home-link.branch-{{ entry.id }} a {
						color: {{ entry.color }};
					}
					
					.branch-color-{{ entry.id }} {
						color: {{ entry.color }};
						border-color: {{ entry.color }} !important;
					}
					
					.bkg-branch-{{ entry.id }} {
						background-color: {{ entry.color }};
					}
					-->
				</style>
			{% endfor %}
		{% endif %}

    </head>
    <body>
    	{% block javascript %}
        	<script src="{{ asset('js/jquery.min.js') }}"></script>
        	<script src="{{ asset('js/jquery.cookiefy.min.js') }}"></script>
        	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
        	<script src="{{ asset('js/moment.min.js') }}"></script>
        	<script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
        	
        	{% block googleAnalytics %}
				<script>
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
					
					{% block sendPageview %}
						var route = '{{ route }}';
						ga('create', 'UA-83994037-2', 'auto');
						ga('send', 'pageview', route);
					{% endblock %}
	
					{% block sendEvent %}
						function sendEvent(category, action, label, value) {
							ga('create', 'UA-83994037-2', 'auto');
							ga('set', 'transport', 'beacon');
							ga('send', 'event', category, action, label, value);
							 
							return true; 
						};
					{% endblock %}
				</script>
			{% endblock %}

        	{% block baseMoreJavascripts %}
        	{% endblock %}
		{% endblock %}
		
		{% block body %}
        {% endblock %}
        <p id="demo"></p>
    </body>
</html>
