{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
	
	{% block navigationBar %}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				<div class="col-xs-12">
					{% block navigationHeader %}
						<div class="navbar-header">
							{% block navigationButton %}
								{% if branch %}
									<button type="button" class="navbar-toggle collapsed" 
											data-toggle="collapse" 
											data-target="#bs-example-navbar-collapse-1" 
											aria-expanded="false">
								        <span class="sr-only">Toggle navigation</span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
								        <span class="icon-bar"></span>
							      	</button>
					      		{% endif %}
				      		{% endblock %}
				      		
							<a class="navbar-brand" href="{{ path('infomarket_home') }}">
{# 								<img alt="Brand" src="{{ asset('img/template/brand-home.png') }}">#}
								<h1 class="title"><span class="branch-color-{{ branch.id }}">Info</span><span class="text-white">Market</span></h1>
							</a>
				    	</div>
			    	{% endblock %}
			    	
			    	{% block navigationList %}
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      			<ul class="nav navbar-nav navbar-right">
								{% block navigationMenu %}
									{% if branch %}
										<li class="{% if mainPath == 'home' %}active{% endif %} branch-{{ branch.id }}">
											<a href="{{ path('infomarket_home', {'branch': branch.name }) }}">
												<span class="fa fa-home"></span> {{ 'title.home'|trans }}</a>
										</li>
										<li class="{% if mainPath == 'article' %}active{% endif %} branch-{{ branch.id }}">
											<a href="{{ path('infomarket_article', {'branch': branch.name }) }}">
												<span class="fa fa-file-text-o"></span> {{ 'title.articles'|trans }}</a>
										</li>
										<li class="{% if mainPath == 'product' or mainPath == 'brand' %}active{% endif %} branch-{{ branch.id }}">
											<a href="{{ path('infomarket_product', {'branch': branch.name }) }}">
												<span class="fa fa-camera-retro"></span> {{ 'title.products'|trans }}</a>
										</li>
										<li class="{% if mainPath == 'magazine' %}active{% endif %} branch-{{ branch.id }}">
											<a href="{{ path('infomarket_magazine', {'branch': branch.name }) }}">
												<span class="fa fa-newspaper-o"></span> {{ 'title.magazine'|trans }}</a>
										</li>
										<li class="{% if mainPath == 'office' %}active{% endif %} branch-{{ branch.id }}">
											<a href="{{ path('infomarket_office', {'branch': branch.name }) }}">
												<span class="fa fa-building-o"></span> {{ 'title.office'|trans }}</a>
										</li>
									{% endif %}
								{% endblock %}
							</ul>
						</div>
					{% endblock %}
				</div>
		  	</div>
		</nav>
	{% endblock %}
		
	<div class="container content">
		{% block content %}
		{% endblock %}
	</div>
	
	{% block footer %}
		<div class="footer navbar-inverse">
	  		<div class="container-fluid">
		    	<div class="container">
		      		<h4 class="text-xs-center">&copy; 2016 InfoMarket</h4>
		      		
		      		{% if branch.name is defined %}
			      		<div class="row">
				      		<div class="col-sm-3">
				      			<a href="{{ path('infomarket_home', { 'branch': branch.name}) }}">
									<h4>{{ 'title.home'|trans }}</h4>
								</a>
								
								<hr>
								
		      					{% for entry in article_categories %}
									<a href="{{ path('infomarket_article', { 'branch': branch.name, 'article_category': entry.name }) }}">
									{{ entry.name }}
									</a>
									<br>
								{% endfor %}
				      		</div>
				      		<div class="col-sm-3">
				      			<a href="{{ path('infomarket_product', { 'branch': branch.name}) }}">
									<h4>{{ 'title.products'|trans }}</h4>
								</a>
								
								<hr>
								
								{% for entry in categories %}
									{% include 'common/footer_entry.html.twig' with {'entry': entry } %}
								{% endfor %}
				      		</div>
				      		<div class="col-sm-3">
				      			<a href="{{ path('infomarket_magazine', { 'branch': branch.name}) }}">
									<h4>{{ 'title.magazine'|trans }}</h4>
								</a>
								
								<hr>
				      		</div>
				      		<div class="col-sm-3">
				      			<a href="{{ path('infomarket_office', { 'branch': branch.name}) }}">
									<h4>{{ 'title.office'|trans }}</h4>
								</a>
								
								<hr>
				      		</div>
			      		</div>
			      		
			      		<div class="row">
				      		<div class="col-sm-9"><hr></div>
				      		<div class="col-sm-3"><hr></div>
			      		</div>
		      		{% endif %}
		      		
		      		<div class="row">
			      		<div class="col-sm-9">
			      			<h4>Infomarket Sp. z o.o.</h4>
			      			<p>
			      				ul. Trylogii 2/16a lok. 50, 01-982 Warszawa<br>
			      				tel./fax: (22) 835 19 17<br>
			      				e-mail: <a href="mailto:redakcja@infomarket.edu.pl">redakcja@infomarket.edu.pl</a>
		      				</p>
			      		</div>
			      		<div class="col-sm-3">
		        			<a href="http://www.facebook.com/infomarket1"><i class="fa fa-facebook"></i></a>
			        		<a href="#"><i class="fa fa-twitter"></i></a>
			        		<a href="#"><i class="fa fa-pinterest"></i></a>
			        		<a href="#"><i class="fa fa-instagram"></i></a>
			      		</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
	{% endblock %}
	
	{% block branchBar %}
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
		    	
		    	{% block branchBarList %}
	      			<ul class="nav navbar-nav navbar-center nav-horizontal">
						{% block branchMenu %}
							{% for entry in branches %}
								{% if branch != null and branch.name == entry.name %}
									{% set active='active' %}
								{% else %}
									{% set active='' %}
								{% endif %}
									<li class="branch-{{ entry.id }} {{ active }}">
										<a href="{{ path('infomarket_' ~ mainPath, { 'branch': entry.name}) }}">
											<i class="fa {{ entry.icon }}"></i><span class="hidden-xs"> {{ entry.name }}</span>
										</a>
									</li>
							{% else %}
								{{ 'label.noEntries'|trans }}
							{% endfor %}
						{% endblock %}
					</ul>
				{% endblock %}
		  	</div>
		</nav>
	{% endblock %}
{% endblock %}
