{% extends 'infomarket/base.html.twig' %}

{% set basePath = 'infomarket_' %}

{% if redirectToMainPath is not defined %}
	{% set redirectToMainPath = true %}
{% endif %}

{% block title %}{{ title|trans }}{% endblock %}

{% block baseMoreJavascripts %}
	<script type="text/javascript">
		$(function(){
			$(".dropdown-menu > li > a.trigger").on("click",function(e){
				var current=$(this).next();
				var grandparent=$(this).parent().parent();
				if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
					$(this).toggleClass('right-caret left-caret');
				grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
				grandparent.find(".sub-menu:visible").not(current).hide();
				current.toggle();
				e.stopPropagation();
			});
			$(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
				var root=$(this).closest('.dropdown');
				root.find('.left-caret').toggleClass('right-caret left-caret');
				root.find('.sub-menu:visible').hide();
			});
		});
	</script>
{% endblock %}

{% block body %}
	
	{% block navigationBar %}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				
				<div class="col-xs-12">
					{% block navigationHeader %}
						<div class="navbar-header">
							{% block navigationButton %}
								<button type="button" class="navbar-toggle collapsed" 
										data-toggle="collapse" 
										data-target="#bs-example-navbar-collapse-1" 
										aria-expanded="false">
							        <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
						      	</button>
				      		{% endblock %}
				      		
				      		{% block navigationBrand %}
							<a class="navbar-brand" href="{{ path('infomarket_home') }}">
								<h2 class="title text-brand hidden-xs">
									<span class="branch-color-{{ branch.id }}">Info</span><span class="text-white">Market</span>
								</h2>
								<h2 class="title text-brand visible-xs">
									<span class="branch-color-{{ branch.id }}">I</span><span class="text-white">M</span>
								</h2>
							</a>
							{% endblock %}
				    	</div>
			    	{% endblock %}
			    	
			    	{% block navigationList %}
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      			<ul class="nav navbar-nav navbar-right">
								{% block navigationMenu %}
									<li class="{% if mainPath == 'article' %}active{% endif %} branch-{{ branch.id }}">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="fa fa-file-text-o"></span> {{ 'title.articles'|trans }} <span class="caret">
										</a>
										<ul class="dropdown-menu">
											{% for articleCategory in menuArticleCategories %}
												<li>
													<a href="{{ path(basePath ~ 'article', { 'article_filter_article_categories': articleCategory.id }) }}">
														{{ articleCategory.name }}
													</a>
												</li>
											{% endfor %}
											<li class="divider"></li>
											<li>
												<a href="{{ path(basePath ~ 'article') }}">
													{{ 'label.all'|trans }} <span class="fa fa-caret-right branch-{{ branch.id }}"></span>
												</a>
											</li>
										</ul>
									</li>
									<li class="{% if mainPath == 'category' %}active{% endif %} branch-{{ branch.id }}">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
											<span class="fa fa-camera-retro"></span> {{ 'title.products'|trans }} <span class="caret">
										</a>
										<ul class="dropdown-menu">
											{% for category in menuCategories %}
													
													{% set show = false %}
													{% for branchCategoryAssignment in category.branchCategoryAssignments if show == false %}
														{% if branchCategoryAssignment.branch.id == branch.id %}
															{% set show = true %}
														{% endif %}
													{% endfor %}
													
													{% if show %}
														{% include 'common/category/menu_entry.html.twig' with { 'entry': category, 'showAll': true } %}
													{% endif %}
											{% endfor %}
										</ul>
									</li>
									<li class="{% if mainPath == 'magazine' %}active{% endif %} branch-{{ branch.id }}">
										<a href="{{ path(basePath ~ 'magazine') }}">
											<span class="fa fa-newspaper-o"></span> {{ 'title.magazines'|trans }}</a>
									</li>
									<li class="{% if mainPath == 'advertisement' or mainPath == 'brand' %}active{% endif %} branch-{{ branch.id }}">
										<a href="{{ path(basePath ~ 'home') }}">
											<span class="fa fa-globe"></span> {{ 'Reklama'|trans }}</a>
									</li>
								{% endblock %}
							</ul>
						</div>
					{% endblock %}
				</div>
		  	</div>
		</nav>
	{% endblock %}
		
	<div class="container content">
		{% block content %}
		{% endblock %}
	</div>
	
	{% block footer %}
		<div class="footer navbar-inverse">
	  		<div class="container-fluid">
		    	<div class="container">
		    		<div class="row">
		      			<div class="col-sm-3">
		      			</div>
		      			<div class="col-sm-6">
		      				<h5 class="text-xs-center">&copy; {{ 'title.footer.copyright'|trans }}</h5>
		      			</div>
		      			<div class="col-sm-3">
		      				<h5 class="text-xs-center text-sm-left">
		      					<a href="http://www.facebook.com/infomarket1"><i class="fa fa-facebook"></i></a> 
		      					<a href="https://www.youtube.com/channel/UCpH2PHKAxnNlX-zSgJXyjpA"><i class="fa fa-youtube"></i></a> 
		      					<a href="http://infomarket.edu.loc:8000" class="title">IM</a> 
	      					</h5>
		      			</div>
		      		</div>
		      		
		      		<div class="row">
			      		<div class="col-sm-3">
			      			<h5>InfoMarket Sp. z o.o.</h5>
			      			<hr>
			      			<p>
			      				ul. Trylogii 2/16,<br>
			      				01-982 Warszawa<br>
			      				tel./fax: (22) 835 19 17<br>
			      				e-mail: <a href="mailto:redakcja@infomarket.edu.pl">redakcja@infomarket.edu.pl</a>
		      				</p>
			      		</div>
			      		<div class="col-sm-6">
			      			<h5>{{ 'title.footer.office'|trans }}</h5>
			      			<hr>
			      			
			      			{% set half = menuPages|length / 2 %}
			      			
			      			<div class="row">
				      			<div class="col-xs-6">
					      			{% for entry in menuPages|slice(0,half) %}
							      		<div>
							      			<a href="{{ path(basePath ~ 'page_show', { id: entry.id}) }}">{{ entry.name }}</a>
						      			</div>
						      		{% endfor %}
					      		</div>
					      		
					      		<div class="col-xs-6">
					      			{% for entry in menuPages|slice(half+1) %}
							      		<div>
							      			<a href="{{ path(basePath ~ 'page_show', { id: entry.id}) }}">{{ entry.name }}</a>
						      			</div>
						      		{% endfor %}
					      		</div>
				      		</div>
			      		</div>
			      		<div class="col-sm-3">
			      			<h5>{{ 'title.footer.magazine'|trans }}</h5>
			      			<hr>
			      			
			      			{% for entry in menuLinks %}
					      		<div>
					      			<a href="{{ entry.url }}">{{ entry.name }}</a>
				      			</div>
				      		{% endfor %}
			      		</div>
		      		</div>
		    	</div>
		  	</div>
		</div>
	{% endblock %}
	
	{% block branchBar %}
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
		    	
		    	{% block branchBarList %}
	      			<ul class="nav navbar-nav navbar-center nav-horizontal">
						{% block branchMenu %}
							{% for entry in menuBranches %}
								{% if branch != null and branch.name == entry.name %}
									{% set active='active' %}
								{% else %}
									{% set active='' %}
								{% endif %}
									<li class="branch-{{ entry.id }} {{ active }}">
										{% if redirectToMainPath %}
											<a href="{{ path(basePath ~ mainPath, { 'branch': entry.id }) }}">
										{% else %}
											<a href="{{ path(basePath ~ 'home', { 'branch': entry.id }) }}">
										{% endif %}
											<i class="fa {{ entry.icon }}"></i><span class="hidden-xs"> {{ entry.name }}</span>
										</a>
									</li>
							{% else %}
								{{ 'label.noEntries'|trans }}
							{% endfor %}
						{% endblock %}
					</ul>
				{% endblock %}
		  	</div>
		</nav>
	{% endblock %}
{% endblock %}
