{% extends 'infomarket/base.html.twig' %}

{% set basePath = 'infomarket_' %}

{% if redirectToMainPath is not defined %}
	{% set redirectToMainPath = true %}
{% endif %}

{% block title %}{{ title|trans }}{% endblock %}

{% block baseMoreStyles %}
	.category-menu {
		width: {{ menuWidth }}px !important;
	}
{% endblock %}

{% block baseMoreJavascripts %}
	<script type="text/javascript">
		$(function(){
			$(".dropdown-menu > li > a.trigger").on("click",function(e){
				var current=$(this).next();
				var grandparent=$(this).parent().parent();
				if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
					$(this).toggleClass('right-caret left-caret');
				grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
				grandparent.find(".sub-menu:visible").not(current).hide();
				current.toggle();
				e.stopPropagation();
			});
			$(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
				var root=$(this).closest('.dropdown');
				root.find('.left-caret').toggleClass('right-caret left-caret');
				root.find('.sub-menu:visible').hide();
			});
		});

		$('body').cookiefy({
			displayedHtml: '<h3>{{ 'info.rodo.header'|trans }}</h3><p>{{ 'info.rodo.paragraph1'|trans }}</p><p>{{ 'info.rodo.paragraph2'|trans }}</p><p>{{ 'info.rodo.paragraph3'|trans }}</p><p>{{ 'info.rodo.paragraph4'|trans }}</p><p>{{ 'info.rodo.paragraph5'|trans }}</p><p>{{ 'info.rodo.paragraph6'|trans }}</p><p>{{ 'info.rodo.paragraph7'|trans }}</p><p>{{ 'info.rodo.paragraph8'|trans }}</p><p>{{ 'info.rodo.paragraph9'|trans }}</p>',
		    backgroundColor: '#004373',
		    borderTop: '0px',
		    zIndex: '1050',
		    closeButtonUrl: '{{ asset('img/close-button.png') }}'
		});
	</script>
{% endblock %}

{% block body %}
	
	{% block navigationBar %}
		{% include 'infomarket/common/main_menu.twig' %}
	{% endblock %}
		
	<div class="container-fluid content">
		{% block content %}
		{% endblock %}
	</div>
	
	{% block contact %}
		{% include 'infomarket/common/contact.twig' %}
	{% endblock %}
	
	{% block footer %}
		{% include 'infomarket/common/footer.twig' %}
	{% endblock %}
		
	{% block branchMenu %}
		{% include 'infomarket/common/branch_menu.twig' %}
	{% endblock %}
	
	{% block socialMenu %}
		{% include 'infomarket/common/social_menu.twig' %}
	{% endblock %}
	
{% endblock %}
