{% set magazineLink = magazineLink|default(path(basePath ~ 'magazine_open', { id: entry.id })) %}
{% set magazineTitle = magazineTitle|default(entry.name) %}
{% set magazineSubtitle = magazineSubtitle|default('label.magazine.digitalNumber'|trans) %}

<div class="magazine-tile">
	<a href="{{ magazineLink }}">
		<div class="col-xs-12 magazine-img-tile">
			<div class="magazine-img-rect">
				<img class="div-center img-responsive" alt="{{ entry.name | raw }}" 
					src="{{ asset(entry.image) }}">
			</div>
		</div>
		
		<div class="col-xs-12 magazine-title-tile">
			<h3>
				{{ magazineTitle }}&nbsp
			</h3>
		</div>
	
		<div class="col-xs-12 magazine-subtitle-tile">
			<h4>
				{{ magazineSubtitle }}&nbsp
			</h4>
		</div>
	</a>
</div>