{% extends 'admin/simple/show.html.twig' %}

{% set title = 'title.newsletterPages'|trans %}
{% set mainPath = 'newsletter_page' %}

{% block content %}
	<div class="container">
	
		<div class="row">
			<div class="col-xs-12">
				<h3>{{ entry.name }}</h3>
				<h3>{{ entry.subname }}</h3>
			</div>
		</div>
		
		{% block errorsBlock %}
			{% include 'common/errors.html.twig' %}
		{% endblock %}
		
		<h3>{{ 'label.newsletterPage.sendNewsletter.settings'|trans }}</h3>
			
		{% include 'common/fields/multilink_field.html.twig' with 
			{ label: 'label.newsletterPage.sendNewsletter.groups', object: 'newsletter_group', values: newsletterGroups } %}
			
		{% include 'common/fields/bool_field.html.twig' with 
			{ 'label': 'label.newsletterPage.sendNewsletter.embedImages', 'value': sendNewsletterFilter.embedImages } %}
			
		{% include 'common/fields/bool_field.html.twig' with 
			{ 'label': 'label.newsletterPage.sendNewsletter.forceSend', 'value': sendNewsletterFilter.forceSend } %}
		
		<h3>{{ 'label.newsletterPage.sendNewsletter.recipients'|trans }}</h3>
		
		<div class="row">
			{% for recipient in recipients %}
				<div class="col-sm-6 col-md-4 col-lg-3">
					{% include 'common/links/simple_link.html.twig' with 
						{ 'value': recipient, 'type': 'newsletter_user' } %}
				</div>
			{% endfor %}
		</div>
		
		<a class="btn btn-primary" href="{{ path(basePath ~ mainPath ~ '_send_newsletter_form', sendNewsletterFilter.getRequestValues()|merge({ id: entry.id }) ) }}">
			<span class="fa fa-arrow-circle-o-left"></span> {{ 'action.back'|trans }}
		</a>
		<a class="btn btn-success" href="{{ path(basePath ~ mainPath ~ '_send_newsletter', sendNewsletterFilter.getRequestValues()|merge({ id: entry.id }) ) }}">
			<span class="fa fa-send"></span> {{ 'action.newsletterPage.sendNewsletter'|trans }}
		</a>
	</div>
{% endblock %}