{% extends 'admin/image/editor.html.twig' %}

{% set mainPath = 'magazine' %}
{% set title = 'title.magazines'|trans %}
{% set gender = 'm.' %}

{% block moreFields3 %}
	{{ form_row(form.featured, { 'label': 'label.' ~ gender ~ 'featured' }) }}
	{{ form_row(form.main, { 'label': 'label.main' }) }}
	{{ form_row(form.parent, { 'label': 'label.magazine.parent' }) }}
	
	{{ form_row(form.orderNumber, { 'label': 'label.orderNumber' }) }}
	
	<div class="form-group">
		<label>{{ 'label.magazine.date'|trans }}</label>
		<div class='input-group date' id='datetimepicker1'>
			{{ form_widget(form.date) }}
			<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	    </div>
    </div>
	
	{{ form_row(form.magazineFile, { 'label': 'label.magazine.magazineFile' }) }}
	    
	{{ form_row(form.content, { 'label': 'label.content' }) }}
	
	<script type="text/javascript">
		$(function () {
			$('div.date').datetimepicker();
		});
	</script>
{% endblock %}