{% extends 'admin/editor.html.twig' %}

{% block mainActions %}
	{% if entry.id %}
		<a type="button" class="btn btn-primary" href="{{ path('admin_' ~ mainPath ~ '_show', { id: entry.id }) }}">
	    	<i class="fa fa-eye"></i> {{ 'action.show'|trans }}
		</a>
	{% endif %}
	
	<div class="btn-group">
		{{ form_widget(form.save, { 'icon': 'fa-save', 'label': 'action.save', 'attr': {'class': 'btn btn-success'} }) }}
	</div>
	
    {% if entry.id %}
    	{% if canCreate %}
	    	<a type="button" class="btn btn-success" href="{{ path(basePath ~ mainPath ~ '_new') }}">
		    	<i class="fa fa-file-o"></i> {{ 'action.new'|trans }}
			</a>
		{% endif %}
		{% if canCopy %}
		    <a type="button" class="btn btn-warning" href="{{ path(basePath ~ mainPath ~ '_copy', { id: entry.id }) }}">
		    	<i class="fa fa-copy"></i> {{ 'action.copy'|trans }}
			</a>
	    {% endif %}
		{% if canDelete %}
			<a type="button" class="btn btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')" 
				href="{{ path(basePath ~ mainPath ~ '_delete', { id: entry.id }) }}">
	    		<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
			</a>
		{% endif %}
    {% endif %}
    
    <div class="btn-group">
		<a type="button" class="btn btn-primary" href="{{ path(basePath ~ mainPath) }}">
	    	<i class="fa fa-close"></i> {{ 'action.back'|trans }}
		</a>
    </div>
    
    {% block baseMoreActions %}
    {% endblock %}
{% endblock %}