{% extends 'admin/show.html.twig' %}

{% set deleteRole = deleteRole | default('ROLE_ADMIN') %}
            
{% block auditFields %}
	<div class="row lowered-25"></div>
	{% if is_granted('ROLE_ADMIN') %}
		<div class="row lowered-25"></div>
		{% include 'common/fields/date_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'updatedAt', 'value': entry.updatedAt } %}
		{% include 'common/fields/user_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'updatedBy', 'value': entry.updatedBy, 'routeId': entry.id } %}
		
		<div class="row lowered-25"></div>
		{% include 'common/fields/date_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'createdAt', 'value': entry.createdAt } %}
		{% include 'common/fields/user_field.html.twig' with 
		{ 'label': 'label.' ~ gender ~ 'createdBy', 'value': entry.createdBy, 'routeId': entry.id } %}
	{% endif %}
{% endblock %}

{% block mainActions %}
	{% if is_granted('ROLE_EDITOR') %}
	    <a type="button" class="btn btn-warning" href="{{ path('admin_' ~ mainPath ~ '_edit', { id: entry.id }) }}">
	    	<i class="fa fa-edit"></i>{{ 'action.edit'|trans }}
		</a>
	{% endif %}
	 
	{% if is_granted(deleteRole) or (is_granted('ROLE_EDITOR') and '_assignment' in mainPath ) %}
		<a type="button" class="btn btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')" 
			href="{{ path(basePath ~ mainPath ~ '_delete', { id: entry.id }) }}">
    		<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
		</a>
	{% endif %}
	
	<a type="button" class="btn btn-primary" href="{{ path(basePath ~ mainPath) }}">
    	<i class="fa fa-close"></i>{{ 'action.back'|trans }}
	</a>
{% endblock %}