{% extends 'admin/show.html.twig' %}

{% block mainFields2 %}
	<div class="row lowered-25"></div>
	{% include 'common/fields/bool_field.html.twig' with 
	{ 'label': ('label.' ~ gender ~ 'published')|trans, 'value': entry.published } %}
{% endblock %}
            
{% block auditFields %}
	<div class="row lowered-25"></div>
	{% include 'common/fields/date_field.html.twig' with 
	{ 'label': ('label.' ~ gender ~ 'publishedAt')|trans, 'value': entry.publishedAt } %}
	{% include 'common/fields/user_field.html.twig' with 
	{ 'label': ('label.' ~ gender ~ 'publishedBy')|trans, 'value': entry.publishedBy, 'routeId': entry.id } %}
	
	{% if is_granted('ROLE_ADMIN') %}
		<div class="row lowered-25"></div>
		{% include 'common/fields/date_field.html.twig' with 
		{ 'label': ('label.' ~ gender ~ 'updatedAt')|trans, 'value': entry.updatedAt } %}
		{% include 'common/fields/user_field.html.twig' with 
		{ 'label': ('label.' ~ gender ~ 'updatedBy')|trans, 'value': entry.updatedBy, 'routeId': entry.id } %}
		
		<div class="row lowered-25"></div>
		{% include 'common/fields/date_field.html.twig' with 
		{ 'label': ('label.' ~ gender ~ 'createdAt')|trans, 'value': entry.createdAt } %}
		{% include 'common/fields/user_field.html.twig' with 
		{ 'label': ('label.' ~ gender ~ 'createdBy')|trans, 'value': entry.createdBy, 'routeId': entry.id } %}
	{% endif %}
{% endblock %}

{% block mainActions %}
	{% if is_granted('ROLE_EDITOR') %}
	    <a type="button" class="btn btn-warning" href="{{ path('admin_' ~ mainPath ~ '_edit', { id: entry.id }) }}">
	    	<i class="fa fa-edit"></i>{{ 'action.edit'|trans }}
		</a>
	{% endif %}
	 
	{% if is_granted('ROLE_ADMIN') or (is_granted('ROLE_EDITOR') and '_assignment' in mainPath ) %}
		<a type="button" class="btn btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')" 
			href="{{ path(basePath ~ mainPath ~ '_delete', { id: entry.id, route: basePath ~ mainPath ~ extPath, routeParams: { id: entry.id } }) }}">
    		<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
		</a>
	{% endif %}
		
	<a type="button" class="btn btn-primary" href="{{ path(routingParams.route, routingParams.routeParams) }}">
    	<i class="fa fa-close"></i>{{ 'action.back'|trans }}
	</a>
{% endblock %}