{% extends 'infomarket/index.html.twig' %}
				
{% block content %}

	{% block searchBlock %}
		<div class="row padding-5 hidden-lg hidden-md bkg-brand">
			<div class="col-xs-12">
				{% include 'common/form/search_form.html.twig' %}
			</div>
		</div>
	{% endblock %}

	<div class="container">
		
		<div class="vr-space-10"></div>
		
		{% block breadcrumbs %}
			<div class="row">
				<div class="col-xs-12">
					<a href="{{ path(basePath ~ 'home') }}">{{ 'label.home'|trans }}</a>
					
					{% block moreBreadcrumbs%}
					{% endblock %}
				</div>
			</div>
		{% endblock %}
		
		<div class="row">
			{% block sidebar %}
			<div class="col-sm-3 col-sm-push-9">
				<div class="col-xs-12 well">
				
					{% block sidebarContent %}
						
						{% block userBlock %}
							<h3>{{ 'label.user'|trans }}</h3>
							{% include 'common/menu/user_menu.html.twig' %}
						{% endblock %}
						
						{% block sectionsBlock %}
							<h3>{{ 'label.sections'|trans }}</h3>
							{% include 'infomarket/common/sections.html.twig' %}
						{% endblock %}
					
						{% block moreSidebarContent %}
						{% endblock %}
							
					{% endblock %}
				</div>
				
				<div class="col-xs-12 no-padding">
					{% block sidebarAds %}
						<div id="sideAdsCarousel" class="carousel slide sidebar-carousel" data-ride="carousel">
							
						  	<div class="carousel-inner" role="listbox">
								{% for advert in sideAds %}
						    		<div class="item rect-1x2 {{ loop.index == 1 ? 'active' : '' }}">
							    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
						    		</div>
							    {% endfor %}
						  	</div>
					  	</div>
					{% endblock %}
				</div>
				
				{% block moreSidebar %}
				{% endblock %}
			</div>
			{% endblock %}
			
			{% block main %}
			<div class="col-sm-9 col-sm-pull-3">
				<div class="col-xs-12 well">
					{% block mainContent %}
					{% endblock %}
				</div>
				
				{% block topAds %}
					<div class="col-xs-12 no-padding">
						<div id="topAdsCarousel" class="carousel slide" data-ride="carousel">
						  	<div class="carousel-inner" role="listbox">
								{% for advert in topAds %}
						    		<div class="item rect-6x1 {{ loop.index == 1 ? 'active' : '' }}">
							    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
								    </div>
							    {% endfor %}
						  	</div>
					  	</div>
				  	</div>
				{% endblock %}
				
				{% block moreContent %}
				{% endblock %}
			</div>
			{% endblock %}
		</div>
	</div>
	
{% endblock %}
