{% extends 'infomarket/index.html.twig' %}

{% set title = 'InfoMarket' %}
{% set mainPath = 'home' %}

{% block body %}
	<div class="container bkg-white full-content">
		{% block logo %}
			<div class="row">
				<div class="col-md-6 col-md-push-3">
					<div class="rect-2x1">
						<img class="div-center img-responsive" src="{{ asset('img/logo-infomarket.png') }}" />
					</div>
				</div>
			</div>
		{% endblock %}
		
		{% block branches %}
			<div class="row">
				{% set i = 0 %}
				{% for branch in branches %}
					{% set left = i % 2 == 0 %}
					
					{% if branch.infomarket %}
						<div class="col-xs-6 padding-5">
							<div class="rect-2x1 no-padding">
								<a href="{{ path(basePath ~ mainPath, { branch: branch.id }) }}">
									<img class="div-center img-responsive" src="{{ asset(branch.image) }}" />
{# 									<div class="col-xs-6 rect div-top no-side-padding {{ left ? 'col-xs-push-6' : 'col-xs-pull-6' }} #}
{# 										opacity-50 bkg-branch-{{ branch.id }}">#}
{# 									</div>#}
{# 									<div class="col-xs-6 div-top padding-5 {{ left ? 'col-xs-push-6' : 'col-xs-pull-6' }}">#}
{# 										{% for category in categories[branch.id] %}#}
{# 											<h3 class="text-white {{ left ? 'text-right' : '' }}">#}
{# 												{{ category.name }} {{ category.subname }}#}
{# 											</h3>#}
{# 										{% endfor %}#}
{# 									</div>#}
								</a>
							</div>
						</div>
					{% else %}
						<div class="col-xs-6 padding-5">
								<div class="rect-2x1 no-padding">
									<img class="div-center img-responsive" src="{{ asset(branch.image) }}" />
{# 									<div class="col-xs-6 rect div-top no-side-padding {{ left ? 'col-xs-push-6' : 'col-xs-pull-6' }} #}
{# 										bkg-black-50">#}
{# 									</div>#}
{# 									<div class="col-xs-6 div-top padding-5 {{ left ? 'col-xs-push-6' : 'col-xs-pull-6' }}">#}
{# 										{% for category in categories[branch.id] %}#}
{# 											<h3 class="text-white {{ left ? 'text-right' : '' }}">#}
{# 												{{ category.name }} {{ category.subname }}#}
{# 											</h3>#}
{# 										{% endfor %}#}
{# 									</div>#}
								</div>
							</div>
					{% endif %}
					{% set i = i+1 %}
				{% endfor %}
			</div>
		{% endblock %}
	</div>
{% endblock %}