{% extends 'infomarket/index.html.twig' %}

{% set title = 'InfoMarket' %}
{% set mainPath = 'home' %}

{% block content %}
	{% block searchBlock %}
		<div class="row padding-5 hidden-lg hidden-md bkg-brand">
			<div class="col-xs-12">
				{% include 'common/form/search_form.html.twig' %}
			</div>
		</div>
	{% endblock %}
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for article in featuredArticles | slice(0,3) %}
					    	<li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
					    {% endfor %}
				  	</ol>
				  	
				  	<div class="carousel-inner" role="listbox">
				  		{% for article in featuredArticles | slice(0,3) %}
					  		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
					  			{% include 'common/image/image_entry.html.twig' with { 'entry': article, 'tile': false } %}
				  				
				  				<div class="col-xs-12 div-bottom bkg-black-50">
									<div class="article-rect">
						      			<a class="text-white" href="{{ path('infomarket_article_show', { id: article.id }) }}">
							      			<h3>
							      				{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
						      				</h3>
							      			<h4>
							      				{{ article.name }} {{ article.subname }}
						      				</h4>
							      		</a>
						      		</div>
					      		</div>
					  		</div>
				  		{% endfor %}
				  	</div>
			  	</div>
		  	</div>
		</div>
		
		{% block newsBlock %}
			{% if newsArticles|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ newsCategory.name | raw }}</span>
							<span class="text-brand">{{ newsCategory.subname | raw }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">			
					{% for article in newsArticles %}
						<div class="col-sm-4 padding-5">
							<a class="text-white" href="{{ path(basePath ~ 'article_show', 
								{ id: article.id, article_filter_article_categories: [newsCategory.id] }) }}">
								<div class="rect col-bottom bkg-white">
									{% if article.image %}
										<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
											alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
									{% endif %}
									
									<div class="col-xs-12 div-bottom bkg-black-50">
										<div class="default-tile">
											<div class="tile default">
												<h4 class="title">
													{% for brand in article.brands %}
														{{ brand.name }}
													{% endfor %}
							      				</h4>
								      			<h5>
								      				{{ article.name }} {{ article.subname }}
							      				</h5>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>					
					{% endfor %}
					
					{% if newsListArticles | length > 0 %}
						<div class="col-sm-4 padding-5">
							<ul class="news">
								{% for article in newsListArticles|slice(0, 6) %}
									<li>
										<a href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
											<span class="branch-color-{{ contextBranchId }}">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
											</span> 
											<span>{{ article.name | raw }} {{ article.subname | raw }}</span>
										</a>
									</li>
								{% endfor %}
								{% for article in newsListArticles|slice(6, 6) %}
									<li>
										<a href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
											<span class="branch-color-{{ contextBranchId }}">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
											</span> 
											<span>{{ article.name | raw }} {{ article.subname | raw }}</span>
										</a>
									</li>
								{% endfor %}
								{% for article in newsListArticles|slice(12, 2) %}
									<li>
										<a href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
											<span class="branch-color-{{ contextBranchId }}">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
											</span> 
											<span>{{ article.name | raw }} {{ article.subname | raw }}</span>
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>					
					{% endif %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href={{ path(basePath ~ 'article', 
							{ article_filter_article_categories: [newsCategory.id] }) }}>
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
			
		{% block interviewsBlock %}
			{% if interviewsArticles|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ interviewsCategory.name | raw }}</span>
							<span class="text-brand">{{ interviewsCategory.subname | raw }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					{% for article in interviewsArticles | slice(0,6) %}
						<div class="col-sm-2 padding-5">
							<a class="branch-color-{{ contextBranchId }}" href="{{ path(basePath ~ 'article_show', 
								{ id: article.id, article_filter_article_categories: [interviewsCategory.id] }) }}">
								<div class="rect bkg-white">
									{% if article.image %}
										<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
											alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
									{% endif %}
								</div>
								<div class="col-xs-12 tile bottom-rect bkg-branch-{{ contextBranchId }}">
									<p class="text-white title">
										{% for brand in article.brands %}
											{{ brand.name }}
										{% endfor %}
										&nbsp
									</p>
								</div>
								<div class="col-xs-12 tile bottom-rect-3 bkg-brand">
									<p class="text-white text-center">
										{{ article.name | raw }} {{ article.subname | raw }}&nbsp
									</p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href={{ path(basePath ~ 'article', 
							{ article_filter_article_categories: [interviewsCategory.id] }) }}>
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		{% block featuredAdsBlock %}
			{% if featuredAds | length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ 'header.featuredAds.1'|trans }}</span> 
							<span class="text-brand">{{ 'header.featuredAds.2'|trans }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-12">
						<div id="featuredAdsCarousel" class="carousel slide carousel-fade" data-ride="carousel">
						  	<div class="carousel-inner" role="listbox">
								{% for advert in featuredAds %}
						    		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
							    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
								    </div>
							    {% endfor %}
						  	</div>
					  	</div>
				  	</div>
			  	</div>
			{% endif %}
		{% endblock %}
		
		{% block eventsBlock %}
			{% if eventsArticles|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ eventsCategory.name | raw }}</span>
							<span class="text-brand">{{ eventsCategory.subname | raw }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					{% for article in eventsArticles | slice(0,3) %}
						<div class="col-sm-4 padding-5">
							<a class="text-white" href="{{ path(basePath ~ 'article_show', 
								{ id: article.id, article_filter_article_categories: [eventsCategory.id] }) }}">
								<div class="rect col-bottom bkg-white">
									{% if article.image %}
										<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
											alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
									{% endif %}
									
									<div class="col-xs-12 div-bottom bkg-black-50">
										<div class="tile default">
											<h4 class="title">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
							      			</h4>
											<h5 class="title">
												{{ article.name | raw }} {{ article.subname | raw }}
											</h5>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href={{ path(basePath ~ 'article', 
							{ article_filter_article_categories: [eventsCategory.id] }) }}>
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		{% block promotionsBlock %}
			{% if promotionsArticles|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ promotionsCategory.name | raw }}</span>
							<span class="text-brand">{{ promotionsCategory.subname | raw }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					{% for article in promotionsArticles | slice(0,8) %}
						<div class="col-sm-3 padding-5">
							<a class="text-white" href="{{ path(basePath ~ 'article_show', 
								{ id: article.id, article_filter_article_categories: [promotionsCategory.id] }) }}">
								<div class="rect col-bottom bkg-white">
									{% if article.image %}
										<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
											alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
									{% endif %}
									
									<div class="col-xs-12 div-bottom bkg-black-50">
										<div class="tile default">
											<h4 class="title">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
							      			</h4>
											<h5 class="title">
												{{ article.name | raw }} {{ article.subname | raw }}
											</h5>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href={{ path(basePath ~ 'article', 
							{ article_filter_article_categories: [promotionsCategory.id] }) }}>
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		{% block magazinesBlock %}
		{% if magazines|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ 'header.currentMagazines.1'|trans }}</span>
							<span class="text-brand">{{ 'header.currentMagazines.2'|trans }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					{% for magazine in magazines %}
						<div class="col-sm-3 padding-5">
							{% include 'common/tiles/magazine_tile.html.twig' with { 
								entry: magazine, 
								magazineLink: path(basePath ~ 'magazine_show', { id: magazine.id }),
								magazineTitle: 'label.magazine.download'|trans
							} %}
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href="{{ path(basePath ~ 'magazine') }}">
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		{% block productsBlock %}
			{% if productsArticles|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ productsCategory.name | raw }}</span>
							<span class="text-brand">{{ productsCategory.subname | raw }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					{% for article in productsArticles | slice(0,8)%}
						<div class="col-sm-3 padding-5">
							<a class="text-white" href="{{ path(basePath ~ 'article_show', 
								{ id: article.id, article_filter_article_categories: [productsCategory.id] }) }}">
								<div class="rect col-bottom bkg-white">
									{% if article.image %}
										<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
											alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
									{% endif %}
									
									<div class="col-xs-12 div-bottom bkg-black-50">
										<div class="tile default">
											<h4 class="title">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
							      			</h4>
											<h5 class="title">
												{{ article.name | raw }} {{ article.subname | raw }}
											</h5>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href={{ path(basePath ~ 'article', 
							{ article_filter_article_categories: [productsCategory.id] }) }}>
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		
		
		{% block reviewsBlock %}
			{% if reviewsArticles|length > 0 %}
				<div class="row">
					<div class="col-xs-12">
						<h4 class="section title">
							<span class="branch-color-{{ contextBranchId }}">{{ reviewsCategory.name | raw }}</span>
							<span class="text-brand">{{ reviewsCategory.subname | raw }}</span>
						</h4>
					</div>
				</div>
				
				<div class="row">
					{% for article in reviewsArticles  | slice(0,4)%}
						<div class="col-sm-3 padding-5">
							<a class="text-white" href="{{ path(basePath ~ 'article_show', 
								{ id: article.id, article_filter_article_categories: [reviewsCategory.id] }) }}">
								<div class="rect col-bottom bkg-white">
									{% if article.image %}
										<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
											alt="{{ article.name | raw }}" src="{{ asset(article.image) }}">
									{% endif %}
									
									<div class="col-xs-12 div-bottom bkg-black-50">
										<div class="tile default">
											<h4 class="title">
												{% for brand in article.brands %}
													{{ brand.name }}
												{% endfor %}
												&nbsp
							      			</h4>
											<h5 class="title">
												{{ article.name | raw }} {{ article.subname | raw }}
											</h5>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
				
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-sm-offset-9">
						<a class="branch-color-{{ contextBranchId }} title no-padding" href={{ path(basePath ~ 'article', 
							{ article_filter_article_categories: [reviewsCategory.id] }) }}>
							{{ 'label.more'|trans }}
						</a>
					</div>
				</div>
			{% endif %}
		{% endblock %}
		
		{% set show = false %}
		
		{% for articleCategory in usefulArticleCategories %}
			{% if articleCategory.articles|length > 0 %}{% set show = true %}{% endif %}
		{% endfor %}
		
		{% if show %}
			{% block usefulItemsBlock %}
				<div class="row">
					<h4 class="title padding-5">
						<span class="branch-color-{{ contextBranchId }}">{{ 'header.usefulItems.1'|trans }}</span> 
						<span class="text-brand">{{ 'header.usefulItems.2'|trans }}</span>
					</h4>
				</div>
				
				<div class="row">
					{% for articleCategory in usefulArticleCategories %}
						{% if articleCategory.articles|length > 0 %}
							<div class="col-xs-2 padding-5">
								<div class="col-xs-12 bkg-white padding-5">
									<a href="{{ path(basePath ~ 'article', { article_filter_article_categories: [articleCategory.id] }) }}">
										<div class="rect bkg-brand">
											<img class="div-center img-responsive" alt="{{ articleCategory.name }}"
												src="{{ asset(articleCategory.image) }}" />
										</div>
										<div class="bkg-branch-{{ contextBranchId }} text-white text-center">
											<h4 class="title">{{ articleCategory.name }} {{ articleCategory.subname }}</h4>
										</div>
										<div class="useful-tile-bottom bkg-brand"></div>
									</a>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endblock %}
		{% endif %}
	</div>
{% endblock %}