{% extends 'infomarket/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
	<div class="row">
		<div class="col-xs-12 well">
			<h1>{{ 'title.branches'|trans }}</h1>
			{% for entry in branches %}
				{% if loop.index % 2 == 1 %}
					{% set left = "" %}
					{% set right = "" %}
				{% else %}
					{% set left = "col-sm-push-6" %}
					{% set right = "col-sm-pull-6" %}
				{% endif %}
				<div class="col-xs-12 nopadding tile branch-{{ entry.id }}">
					<div class="col-sm-6 nopadding {{ left }}">
						<img class="img-responsive" alt="{{ entry.name }}" src="{{ entry.getImagePath() }}">
					</div>
					<div class="col-sm-6 {{ right }}">
						<div class="row tile-heading">
							<div class="col-xs-12">
								<a class="tile-heading" href="{{ path('infomarket_product', { 'branch': entry.name }) }}">
									<h4>{{ entry.name }}</h4>
								</a>
							</div>
						</div>
						
						<ul>
							{% for child in entry.categories %}
								{% if not child.category.parent %}
									<a href="{{ path('infomarket_product', { 'branch': entry.name, 'category': child.category.name}) }}">
										<li>{{ child.category.name }}</li>
									</a>	
								{% endif %}
							{% else %}
								{{ 'label.noEntries'|trans }}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				{{ 'label.noEntries'|trans }}
			{% endfor %}
		</div>
	</div>
{% endblock %}
