{% extends 'infomarket/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for article in featuredArticles | slice(0,3) %}
				    	<li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
				    {% endfor %}
			  	</ol>
			  	
			  	<div class="carousel-inner" role="listbox">
			  		{% for article in featuredArticles | slice(0,3) %}
				  		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
				  			{% include 'common/image/image_entry.html.twig' with { 'entry': article, 'tile': false } %}
			  				
			  				<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="article-rect">
					      			<a class="text-white" href="{{ path('infomarket_article_show', { id: article.id }) }}">
						      			<h3>
											{% for articleBrandAssignment in article.articleBrandAssignments %}
							      				{{ articleBrandAssignment.brand.name }} 
						      				{% endfor %}&nbsp
					      				</h3>
						      			<h4>
						      				{{ article.name }} {{ article.subname }}
					      				</h4>
						      		</a>
					      		</div>
				      		</div>
				  		</div>
			  		{% endfor %}
			  	</div>
		  	</div>
	  	</div>
	</div>
	
	{% block newsBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ newsCategory.name | raw }}</span>
					<span class="text-brand">{{ newsCategory.subname | raw }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">			
			{% if newsArticles | length > 0 %}
				{% set article = newsArticles|first %}
				<div class="col-sm-4 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: newsCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="default-tile">
									<div class="tile default">
										<h4 class="title">
											{% for articleBrandAssignment in article.articleBrandAssignments %}
							      				{{ articleBrandAssignment.brand.name }} 
						      				{% endfor %}&nbsp
					      				</h4>
						      			<h5>
						      				{{ article.name }} {{ article.subname }}
					      				</h5>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>					
			{% endif %}
			
			{% if newsArticles | length > 1 %}
				{% set article = newsArticles|slice(1)|first %}
				<div class="col-sm-4 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: newsCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="tile default">
									<h4 class="title">
										{% for articleBrandAssignment in article.articleBrandAssignments %}
						      				{{ articleBrandAssignment.brand.name }} 
					      				{% endfor %}&nbsp
				      				</h4>
					      			<h5>
					      				{{ article.name }} {{ article.subname }}
				      				</h5>
								</div>
							</div>
						</div>
					</a>
				</div>					
			{% endif %}
			
			{% if newsArticles | length > 2 %}
				<div class="col-sm-4 padding-5">
					<ul class="news">
						{% for article in newsArticles|slice(2, 6) %}
							<li>
								<a href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
									<span class="text-red">
										{% for articleBrandAssignment in article.articleBrandAssignments %}
					      					{{ articleBrandAssignment.brand.name }} 
				      					{% endfor %}
									</span> 
									<span>{{ article.name | raw }} {{ article.subname | raw }}</span>
								</a>
							</li>
						{% endfor %}
						{% for article in newsArticles|slice(8, 6) %}
							<li class="hidden-xs hidden-sm">
								<a href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
									<span>{{ article.name | raw }} {{ article.subname | raw }}</span>
								</a>
							</li>
						{% endfor %}
						{% for article in newsArticles|slice(14, 2) %}
							<li class="hidden-xs hidden-sm hidden-md">
								<a href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
									<span>{{ article.name | raw }} {{ article.subname | raw }}</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>					
			{% endif %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href={{ path(basePath ~ 'article', 
					{ article_filter_article_categories: newsCategory.id }) }}>
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
		
	{% block interviewsBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ interviewsCategory.name | raw }}</span>
					<span class="text-brand">{{ interviewsCategory.subname | raw }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">
			{% for article in interviewsArticles | slice(0,6) %}
				<div class="col-sm-2 padding-5">
					<a class="branch-color-{{ branch.id }}" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: interviewsCategory.id }) }}">
						<div class="rect bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
						</div>
						<div class="col-xs-12 tile bottom-rect bkg-branch-{{ branch.id }}">
							<p class="text-white title">
								{% for articleBrandAssignment in article.articleBrandAssignments %}
				      				{{ articleBrandAssignment.brand.name }} 
			      				{% endfor %}&nbsp
							</p>
						</div>
						<div class="col-xs-12 tile bottom-rect-3 bkg-brand">
							<p class="text-white text-center">
								{{ article.name | raw }} {{ article.subname | raw }}&nbsp
							</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href={{ path(basePath ~ 'article', 
					{ article_filter_article_categories: interviewsCategory.id }) }}>
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
	
	{% block featuredAdsBlock %}
		{% if featuredAds | length > 0 %}
			<div class="row">
				<div class="col-xs-12">
					<h4 class="section title">
						<span class="branch-color-{{ branch.id }}">{{ 'header.featuredAds.1'|trans }}</span> 
						<span class="text-brand">{{ 'header.featuredAds.2'|trans }}</span>
					</h4>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div id="featuredAdsCarousel" class="carousel slide carousel-fade" data-ride="carousel">
					  	<div class="carousel-inner" role="listbox">
							{% for advert in featuredAds %}
					    		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
						    		{% include 'common/advert/advert_entry.html.twig' with { 'entry': advert } %}
							    </div>
						    {% endfor %}
					  	</div>
				  	</div>
			  	</div>
		  	</div>
		{% endif %}
	{% endblock %}
	
	{% block eventsBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ eventsCategory.name | raw }}</span>
					<span class="text-brand">{{ eventsCategory.subname | raw }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">
			{% for article in eventsArticles | slice(0,3) %}
				<div class="col-sm-4 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: eventsCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="tile default">
									<h4 class="title">
										{{ article.name | raw }}<br>
										{{ article.subname | raw }}
									</h4>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href={{ path(basePath ~ 'article', 
					{ article_filter_article_categories: eventsCategory.id }) }}>
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
	
	{% block promotionsBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ promotionsCategory.name | raw }}</span>
					<span class="text-brand">{{ promotionsCategory.subname | raw }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">
			{% for article in promotionsArticles | slice(0,8) %}
				<div class="col-sm-3 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: promotionsCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="tile default">
									<h4 class="title">
										{{ article.name | raw }}<br>
										{{ article.subname | raw }}
									</h4>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href={{ path(basePath ~ 'article', 
					{ article_filter_article_categories: promotionsCategory.id }) }}>
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
	
	{% block magazinesBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ 'header.currentMagazines.1'|trans }}</span>
					<span class="text-brand">{{ 'header.currentMagazines.2'|trans }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">
			{% for magazine in magazines %}
				<div class="col-sm-3 padding-5">
					<a href="{{ asset(magazine.magazineFile) }}">
						<div class="col-xs-12 bkg-white no-padding">
			  				<img class="img-responsive" 
			    				alt="{{ magazine.name | raw }}" src="{{ asset(magazine.getImagePath()) }}">
	    				</div>
	    				<div class="col-xs-12 bkg-brand">
	    					<h4 class="title text-center padding-5">
	    						<span class="text-red">Pobierz</span>
	    						<span class="text-white">cyfrowy numer</span>
	    					</h4>
	    				</div>
			  		</a>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href="{{ path(basePath ~ 'magazine') }}">
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
	
	{% block productsBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ productsCategory.name | raw }}</span>
					<span class="text-brand">{{ productsCategory.subname | raw }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">
			{% for article in productsArticles | slice(0,8)%}
				<div class="col-sm-3 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: productsCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="tile default">
									<h4 class="title">
										{{ article.name | raw }}<br>
										{{ article.subname | raw }}
									</h4>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href={{ path(basePath ~ 'article', 
					{ article_filter_article_categories: productsCategory.id }) }}>
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
	
	
	
	{% block reviewsBlock %}
		<div class="row">
			<div class="col-xs-12">
				<h4 class="section title">
					<span class="branch-color-{{ branch.id }}">{{ reviewsCategory.name | raw }}</span>
					<span class="text-brand">{{ reviewsCategory.subname | raw }}</span>
				</h4>
			</div>
		</div>
		
		<div class="row">
			{% for article in reviewsArticles  | slice(0,4)%}
				<div class="col-sm-3 padding-5">
					<a class="text-white" href="{{ path(basePath ~ 'article_show', 
						{ id: article.id, article_filter_article_categories: reviewsCategory.id }) }}">
						<div class="rect col-bottom bkg-white">
							{% if article.image %}
								<img class="div-center img-{{ article.vertical ? '' : 'v' }}responsive" 
									alt="{{ article.name | raw }}" src="{{ asset(article.getImagePath()) }}">
							{% endif %}
							
							<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="tile default">
									<h4 class="title">
										{{ article.name | raw }}<br>
										{{ article.subname | raw }}
									</h4>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-sm-offset-9">
				<a class="branch-color-{{ branch.id }} title no-padding" href={{ path(basePath ~ 'article', 
					{ article_filter_article_categories: reviewsCategory.id }) }}>
					{{ 'label.more'|trans }}
				</a>
			</div>
		</div>
	{% endblock %}
	
	
{# 	{% block usefulItemsBlock %}#}
{# 		<div class="row">#}
{# 			<h4 class="title padding-5">#}
{# 				<span class="branch-color-{{ branch.id }}">{{ 'header.usefulItems.1'|trans }}</span> #}
{# 				<span class="text-brand">{{ 'header.usefulItems.2'|trans }}</span>#}
{# 			</h4>#}
{# 		</div>#}
		
{# 		<div class="row">#}
{# 			{% for articleCategory in usefulArticleCategories %}#}
{# 				<div class="col-xs-2 padding-5">#}
{# 					<div class="col-xs-12 bkg-white padding-5">#}
{# 						<a href="{{ path(basePath ~ 'article', { article_filter_article_categories: articleCategory.id }) }}">#}
{# 							<div class="rect bkg-brand">#}
{# 								<img class="div-center img-responsive" alt="{{ articleCategory.name }}"#}
{# 									src="{{ asset(articleCategory.getImagePath()) }}" />#}
{# 							</div>#}
{# 							<div class="bkg-branch-{{ branch.id }} text-white text-center">#}
{# 								<h4 class="title">{{ articleCategory.name }}</h4>#}
{# 							</div>#}
{# 							<div class="useful-tile-bottom bkg-brand"></div>#}
{# 						</a>#}
{# 					</div>#}
{# 				</div>#}
{# 			{% endfor %}#}
			
{# 			<div class="col-xs-2 padding-5">#}
{# 				<div class="col-xs-12 bkg-white padding-5">#}
{# 					<a href="{{ path(basePath ~ 'category_show', { id: ratingsCategory.id }) }}">#}
{# 						<div class="rect bkg-brand">#}
{# 							<img class="div-center img-responsive" alt="{{ 'header.ratings'|trans }}"#}
{# 									src="{{ asset('img/useful-ratings.png') }}" />#}
{# 						</div>#}
{# 						<div class="bkg-branch-{{ branch.id }} text-white text-center">#}
{# 							<h4 class="title">{{ 'header.ratings'|trans }}</h4>#}
{# 						</div>#}
{# 						<div class="useful-tile-bottom bkg-brand"></div>#}
{# 					</a>#}
{# 				</div>#}
{# 			</div>#}
{# 		</div>#}
{# 	{% endblock %}#}
	
</div>
{% endblock %}