{% extends 'infomarket/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
{# 	<div class="row">#}
{# 		<div class="col-xs-12 well">#}
{# 			<h1>{{ 'title.branches'|trans }}</h1>#}
{# 			{% for entry in branches %}#}
				
{# 				<div class="col-sm-3">#}
{# 					<div class="col-xs-12">#}
{# 						<p class="text-center"><span class="fa {{ entry.icon }} fa-5x"></span></p>#}
{# 						<a class="tile-heading" href="{{ path('infomarket_product', { 'branch': entry.name }) }}">#}
{# 							<h4>{{ entry.name }}</h4>#}
{# 						</a>#}
{# 					</div>#}
{# 				</div>#}
{# 			{% else %}#}
{# 				{{ 'label.noEntries'|trans }}#}
{# 			{% endfor %}#}
{# 		</div>#}
{# 	</div>#}
	<div class="col-xs-12 visible-xs">
		<img class="img-responsive" src="img/template/logo-home.png">
	</div>

	<div class="row">
		<div class="col-xs-12 well">
			<h1>{{ 'title.branches'|trans }}</h1>
			{% for entry in branches %}
				{% if loop.index % 2 == 1 %}
					{% set left = "" %}
					{% set right = "" %}
				{% else %}
					{% set left = "col-sm-push-6" %}
					{% set right = "col-sm-pull-6" %}
				{% endif %}
				<div class="col-xs-12 nopadding tile branch-{{ entry.id }}">
					<div class="col-sm-6 nopadding {{ left }}">
						<img class="img-responsive" alt="{{ entry.name }}" src="{{ entry.getImagePath() }}">
					</div>
					<div class="col-sm-6 {{ right }}">
						<div class="row tile-heading">
							<div class="col-xs-12">
								<a class="tile-heading" href="{{ path('infomarket_product', { 'branch': entry.name }) }}">
									<h4>{{ entry.name }}</h4>
								</a>
							</div>
						</div>
						
						<ul>
							{% for branchCategoryAssignment in entry.branchCategoryAssignments %}
								{% if not branchCategoryAssignment.category.parent %}
									<a href="{{ path('infomarket_product', { 'branch': entry.name, 'category': branchCategoryAssignment.category.name}) }}">
										<li>{{ branchCategoryAssignment.category.name }}</li>
									</a>	
								{% endif %}
							{% else %}
								{{ 'label.noEntries'|trans }}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				{{ 'label.noEntries'|trans }}
			{% endfor %}
		</div>
	</div>
{% endblock %}
