{% extends 'infomarket/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
	<div class="row">
		<div class="col-xs-12 well">
			{% for entry in entries %}
				{% if loop.index % 2 == 1 %}
					{% set left = "" %}
					{% set right = "" %}
				{% else %}
					{% set left = "col-sm-push-6" %}
					{% set right = "col-sm-pull-6" %}
				{% endif %}
				<div class="col-xs-12 no-padding tile branch-{{ entry.id }}">
					<div class="col-sm-6 no-padding {{ left }}">
						<img class="img-responsive" alt="{{ entry.name }}" src="{{ entry.getImagePath() }}">
					</div>
					<div class="col-sm-6 {{ right }}">
						<div class="row tile-heading">
							<div class="col-xs-12">
								<a class="tile-heading" href="{{ path(basePath ~ 'category', { 'branch': entry.id }) }}">
									<h4>{{ entry.name }}</h4>
								</a>
							</div>
						</div>
						
						<ul>
							{% for branchCategoryAssignment in entry.branchCategoryAssignments %}
								{% if not branchCategoryAssignment.category.parent %}
									<a href="{{ path(basePath ~ 'category_show', { id: branchCategoryAssignment.category.id, branch: entry.id }) }}">
										<li>{{ branchCategoryAssignment.category.name }}</li>
									</a>	
								{% endif %}
							{% else %}
								{{ 'label.noEntries'|trans }}
							{% endfor %}
						</ul>
					</div>
				</div>
			{% else %}
				{{ 'label.noEntries'|trans }}
			{% endfor %}
		</div>
	</div>
{% endblock %}
