{% extends 'infomarket/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for article in featuredArticles %}
				    	<li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
				    {% endfor %}
			  	</ol>
			  	
			  	<div class="carousel-inner" role="listbox">
			  		{% for article in featuredArticles %}
				  		<div class="item rect-3x1 {{ loop.index == 1 ? 'active' : '' }}">
				  			{% include 'common/image/image_entry.html.twig' with { 'entry': article, 'tile': false } %}
			  				
			  				<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="article-rect">
					      			<a class="text-white" href="{{ path('infomarket_article_show', { id: article.id }) }}">
						      			<h3>
											{% for articleBrandAssignment in article.articleBrandAssignments %}
							      				{{ articleBrandAssignment.brand.name }} 
						      				{% endfor %}&nbsp
					      				</h3>
						      			<h4>
						      				{{ article.name }} {{ article.subname }}
					      				</h4>
						      		</a>
					      		</div>
				      		</div>
				  		</div>
			  		{% endfor %}
			  	</div>
		  	</div>
	  	</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			{% block magazineBlock %}
			<div class="col-sm-2 no-padding">
				<div id="magazinesCarousel" class="carousel slide carousel-fade" data-ride="carousel">
				  	<div class="carousel-inner" role="listbox">
				  		{% for magazine in magazines %}
							<a class="item {{ loop.index == 1 ? 'active' : '' }}" href="{{ asset(magazine.magazineFile) }}">
								<div class="col-xs-12 bkg-red padding-5">
					  				<img class="img-responsive" 
					    				alt="{{ magazine.name | raw }}" src="{{ asset(magazine.getImagePath()) }}">
			    				</div>
			    				<div class="col-xs-12 bkg-brand padding-5">
			    					<h3 class="title text-center">
			    						<span class="text-red">Pobierz</span>
			    						<span class="text-white">aktualny <br> numer</span>
			    					</h3>
			    				</div>
					  		</a>
				  		{% endfor %}
				  	</div>
			  	</div>
			</div>
			{% endblock %}
			
			{% block articlesBlock %}
			<div class="col-sm-10 no-padding">
				<div class="col-xs-12 bkg-white">
					
					<div class="row">
						<div class="col-sm-6">
							{% include 'infomarket/common/articles/featured_articles.html.twig' with
							{ articleCategory: newsCategory, articles: newsArticles } %}
						</div>
						
						<div class="col-sm-6">
							{% include 'infomarket/common/articles/featured_articles.html.twig' with
							{ articleCategory: interviewsCategory, articles: interviewsArticles } %}
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							{% include 'infomarket/common/articles/featured_articles.html.twig' with
							{ articleCategory: eventsCategory, articles: eventsArticles } %}
						</div>
						
						<div class="col-sm-6">
							{% include 'infomarket/common/articles/featured_articles.html.twig' with
							{ articleCategory: promotionsCategory, articles: promotionsArticles } %}
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							{% include 'infomarket/common/articles/featured_articles.html.twig' with
							{ articleCategory: productsCategory, articles: productsArticles } %}
						</div>
						
						<div class="col-sm-6">
							{% include 'infomarket/common/articles/featured_articles.html.twig' with
							{ articleCategory: reviewsCategory, articles: reviewsArticles } %}
						</div>
					</div>
					
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
