{% extends 'infomarket/index.html.twig' %}

{% set title = 'Home' %}
{% set mainPath = 'home' %}
		
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for article in featuredArticles %}
				    	<li data-target="#myCarousel" data-slide-to="{{ loop.index-1 }}" class="{{ loop.index == 1 ? 'active' : '' }}"></li>
				    {% endfor %}
			  	</ol>
			  	
			  	<div class="carousel-inner" role="listbox">
			  		{% for article in featuredArticles %}
				  		<div class="item rect-2x1 {{ loop.index == 1 ? 'active' : '' }}">
				  			{% include 'common/image/image_entry.html.twig' with { 'entry': article, 'tile': false } %}
			  				
			  				<div class="col-xs-12 div-bottom bkg-black-50">
								<div class="article-rect">
					      			<a class="text-white" href="{{ path('infomarket_article_show', { id: article.id }) }}">
						      			<h3>
											{% for articleBrandAssignment in article.articleBrandAssignments %}
							      				{{ articleBrandAssignment.brand.name }} 
						      				{% endfor %}&nbsp
					      				</h3>
						      			<h4>
						      				{{ article.name }} {{ article.subname }}
					      				</h4>
					      				<p>{{ article.intro|raw }}</p>
						      		</a>
					      		</div>
				      		</div>
				  		</div>
			  		{% endfor %}
			  	</div>
		  	</div>
	  	</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			{% block magazineBlock %}
			<div class="col-sm-2 no-padding">
				<div id="magazinesCarousel" class="carousel slide carousel-fade" data-ride="carousel">
				  	<div class="carousel-inner" role="listbox">
				  		{% for magazine in magazines %}
							<a class="item {{ loop.index == 1 ? 'active' : '' }}" href="{{ asset(magazine.magazineFile) }}">
								<div class="col-xs-12 bkg-red padding-5">
					  				<img class="img-responsive" 
					    				alt="{{ magazine.name | raw }}" src="{{ asset(magazine.getImagePath()) }}">
			    				</div>
			    				<div class="col-xs-12 bkg-brand padding-5">
			    					<h3 class="title text-center">
			    						<span class="text-red">Pobierz</span>
			    						<span class="text-white">aktualny <br> numer</span>
			    					</h3>
			    				</div>
					  		</a>
				  		{% endfor %}
				  	</div>
			  	</div>
			</div>
			{% endblock %}
			
			{% block articlesBlock %}
			<div class="col-sm-10 no-padding">
				<div class="col-sm-6 bkg-white">
					<h3 class="text-brand">
						{{ 'header.home.news'|trans }}
					</h3>
					
					{% for article in newsArticles %}
					<div class="vr-space-20"></div>
					<div class="row">
						<div class="col-sm-4">
							<div class="rect">
								{% include 'common/image/image_entry.html.twig' with { 'entry': article, 'tile': true } %}
							</div>
						</div>
						<div class="col-sm-8">
							<h4 class="title">
								<span class="text-brand">{{ article.name }}</span>
								<span class="branch-color-{{ branch.id }}">{{ article.subname }}</span>
							</h4>
							<p>{{ article.intro | raw }}</p>
							<p>
							<a class="branch-color-{{ branch.id }}" href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
								{{ 'label.more'|trans }}
							</a>
							</p>
						</div>
					</div>
					{% endfor %}
				</div>
				
				<div class="col-sm-6 bkg-white">
					<h3 class="branch-color-{{ branch.id }}">
						{{ 'header.home.events'|trans }}
					</h3>
					
					{% for article in eventsArticles %}
					<div class="vr-space-20"></div>
					<div class="row">
						<div class="col-sm-4">
							<div class="rect">
								{% include 'common/image/image_entry.html.twig' with { 'entry': article } %}
							</div>
						</div>
						<div class="col-sm-8">
							<h4 class="title">
								<span class="branch-color-{{ branch.id }}">{{ article.name }}</span>
								<span class="text-brand">{{ article.subname }}</span>
							</h4>
							<p>{{ article.intro | raw }}</p>
							<p>
							<a class="text-brand" href="{{ path(basePath ~ 'article_show', { id: article.id }) }}">
								{{ 'label.more'|trans }}
							</a>
							</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endblock %}
		</div>
	</div>
</div>
{% endblock %}
