{% extends 'admin/simple/editor.html.twig' %}

{% set mainPath = 'user' %}
{% set title = 'title.users'|trans %}
{% set gender = 'm.' %}

{% block mainFields1 %}
	{{ form_row(form.username, { 'label': 'label.user.username' }) }}
{% endblock %}

{% block mainFields2 %}
{% endblock %}

{% block moreFields3 %}
	{{ form_row(form.email, { 'label': 'label.user.email' }) }}
	
	{{ form_row(form.forename, { 'label': 'label.user.forename' }) }}
	{{ form_row(form.surname, { 'label': 'label.user.surname' }) }}
	{{ form_row(form.pseudonym, { 'label': 'label.user.pseudonym' }) }}
{% endblock %}

{% block mainActions %}
	<div class="btn-group">
		{{ form_widget(form.save, { 'icon': 'fa-save', 'label': 'action.save', 'attr': {'class': 'btn btn-success'} }) }}
	</div>
    {% if entry.id %}
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<a type="button" class="btn btn-danger" onclick="return confirm('{{ 'confirm.delete'|trans }}')" 
				href="{{ path(basePath ~ mainPath ~ '_delete', { id: entry.id }) }}">
	    		<i class="fa fa-trash"></i> {{ 'action.delete'|trans }}
			</a>
		{% endif %}
    {% endif %}
    <div class="btn-group">
		<a type="button" class="btn btn-primary" href="{{ path(route, routeParams) }}">
	    	<i class="fa fa-close"></i> {{ 'action.back'|trans }}
		</a>
    </div>
{% endblock %}